In [1]:
import pandas as pd

In [2]:
exc_ghg = pd.read_csv('total-ghg-emissions-excluding-lufc.csv')
exc_ghg2 = exc_ghg.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})
exc_ghg2

     Country Name Country Code  Year  Total excluding LUCF
0     Afghanistan          AFG  1990          1.197000e+07
1     Afghanistan          AFG  1991          1.220000e+07
2     Afghanistan          AFG  1992          1.142000e+07
3     Afghanistan          AFG  1993          1.150000e+07
4     Afghanistan          AFG  1994          1.154000e+07
...           ...          ...   ...                   ...
6144     Zimbabwe          ZWE  2015          3.070000e+07
6145     Zimbabwe          ZWE  2016          2.853000e+07
6146     Zimbabwe          ZWE  2017          2.830000e+07
6147     Zimbabwe          ZWE  2018          3.083000e+07
6148     Zimbabwe          ZWE  2019          3.053000e+07

[6149 rows x 4 columns]

In [3]:
exc_ghg2['Year'] = pd.to_datetime(exc_ghg2['Year'], format='%Y')
exc_ghg2.tail()

     Country Name Country Code       Year  Total excluding LUCF
6144     Zimbabwe          ZWE 2015-01-01          3.070000e+07
6145     Zimbabwe          ZWE 2016-01-01          2.853000e+07
6146     Zimbabwe          ZWE 2017-01-01          2.830000e+07
6147     Zimbabwe          ZWE 2018-01-01          3.083000e+07
6148     Zimbabwe          ZWE 2019-01-01          3.053000e+07

In [4]:
ghg = pd.read_csv('total-ghg-emissions.csv')
ghg2= ghg.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})
ghg

           Entity Code  Year  Total including LUCF
0     Afghanistan  AFG  1990          9.580000e+06
1     Afghanistan  AFG  1991          9.810000e+06
2     Afghanistan  AFG  1992          9.030000e+06
3     Afghanistan  AFG  1993          9.110000e+06
4     Afghanistan  AFG  1994          9.150000e+06
...           ...  ...   ...                   ...
6144     Zimbabwe  ZWE  2015          4.230000e+07
6145     Zimbabwe  ZWE  2016          1.159200e+08
6146     Zimbabwe  ZWE  2017          1.155900e+08
6147     Zimbabwe  ZWE  2018          1.182200e+08
6148     Zimbabwe  ZWE  2019          1.179600e+08

[6149 rows x 4 columns]

In [5]:
ghg2.columns

Index(['Country Name', 'Country Code', 'Year', 'Total including LUCF'], dtype='object')

In [6]:
ghg2['Year'] = pd.to_datetime(ghg2['Year'], format='%Y')
ghg2.tail()

     Country Name Country Code       Year  Total including LUCF
6144     Zimbabwe          ZWE 2015-01-01          4.230000e+07
6145     Zimbabwe          ZWE 2016-01-01          1.159200e+08
6146     Zimbabwe          ZWE 2017-01-01          1.155900e+08
6147     Zimbabwe          ZWE 2018-01-01          1.182200e+08
6148     Zimbabwe          ZWE 2019-01-01          1.179600e+08

In [7]:
popu = pd.read_csv('API_SP.POP.TOTL_DS2_en_csv_v2_4902028.csv')
popu

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,552530654.0,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26223391.0,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53145033.0,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,14744658.0,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13265331.0,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0

In [8]:
#melt function

def melt (df, col_vals, key, value):
    assert type (df) is pd.DataFrame
    keep_vars = df.columns.difference(col_vals)
    melted_sections = []
    for c in col_vals:
        melted_c = df[keep_vars].copy()
        melted_c[key] = c
        melted_c[value] = df[c]
        melted_sections.append(melted_c)
    melted = pd.concat(melted_sections)
    return melted

In [9]:
#transformation here
display(popu)

popu_m = melt(popu, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='population')
print("=== melt(popu_m) ===")
display(popu_m)

# table4b = pd.read_csv('table4b.csv')
# print("\n=== table4b ===")
# display(table4b)

# m_4b = melt(table4b, col_vals=['1999', '2000'], key='year', value='population')
# print("=== melt(table4b) ===")
# display(m_4b)

# m_4 = pd.merge(m_4a, m_4b, on=['country', 'year'])
# print ("\n=== inner-join(melt(table4a), melt (table4b)) ===")
# display(m_4)

# m_4['year'] = m_4['year'].apply (int)

# table1 = pd.read_csv('table1.csv')
# print ("=== table1 (target solution) ===")
# display(table1)
# assert tibbles_are_equivalent(table1, m_4)
# print ("\n(Passed.)")

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,552530654.0,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26223391.0,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53145033.0,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,14744658.0,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13265331.0,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0

=== melt(popu_m) ===

,Country Code,Country Name,Indicator Code,Indicator Name,Year,population
0,ABW,Aruba,SP.POP.TOTL,"Population, total",1960,54608.0
1,AFE,Africa Eastern and Southern,SP.POP.TOTL,"Population, total",1960,130692579.0
2,AFG,Afghanistan,SP.POP.TOTL,"Population, total",1960,8622466.0
3,AFW,Africa Western and Central,SP.POP.TOTL,"Population, total",1960,97256290.0
4,AGO,Angola,SP.POP.TOTL,"Population, total",1960,5357195.0
...,...,...,...,...,...,...
261,XKX,Kosovo,SP.POP.TOTL,"Population, total",2021,1786038.0
262,YEM,"Yemen, Rep.",SP.POP.TOTL,"Population, total",2021,32981641.0
263,ZAF,South Africa,SP.POP.TOTL,"Population, total",2021,59392255.0
264,ZMB,Zambia,SP.POP.TOTL,"Population, total",2021,19473125.0
265,ZWE,Zimbabwe,SP.POP.TOTL,"Population, total",2021,15993524.0

In [10]:
popu_m2 = popu_m[(popu_m['Year'] >= '1989-12-01') & (popu_m['Year'] < '2019-01-01')]
#df[(df['date'] > '2013-01-01') & (df['date'] < '2013-02-01')]
popu_m2.tail()

,Country Code,Country Name,Indicator Code,Indicator Name,Year,population
261,XKX,Kosovo,SP.POP.TOTL,"Population, total",2019,1788878.0
262,YEM,"Yemen, Rep.",SP.POP.TOTL,"Population, total",2019,31546691.0
263,ZAF,South Africa,SP.POP.TOTL,"Population, total",2019,58087055.0
264,ZMB,Zambia,SP.POP.TOTL,"Population, total",2019,18380477.0
265,ZWE,Zimbabwe,SP.POP.TOTL,"Population, total",2019,15354608.0

In [11]:
popu_m2['Year'] = pd.to_datetime(popu_m2['Year'], format='%Y')
popu_m2

/var/folders/tz/m1h5fby16m98grm9tm4346100000gn/T/ipykernel_32082/1055589015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popu_m2['Year'] = pd.to_datetime(popu_m2['Year'], format='%Y')

,Country Code,Country Name,Indicator Code,Indicator Name,Year,population
0,ABW,Aruba,SP.POP.TOTL,"Population, total",1990-01-01,65712.0
1,AFE,Africa Eastern and Southern,SP.POP.TOTL,"Population, total",1990-01-01,309890664.0
2,AFG,Afghanistan,SP.POP.TOTL,"Population, total",1990-01-01,10694796.0
3,AFW,Africa Western and Central,SP.POP.TOTL,"Population, total",1990-01-01,206739024.0
4,AGO,Angola,SP.POP.TOTL,"Population, total",1990-01-01,11828638.0
...,...,...,...,...,...,...
261,XKX,Kosovo,SP.POP.TOTL,"Population, total",2019-01-01,1788878.0
262,YEM,"Yemen, Rep.",SP.POP.TOTL,"Population, total",2019-01-01,31546691.0
263,ZAF,South Africa,SP.POP.TOTL,"Population, total",2019-01-01,58087055.0
264,ZMB,Zambia,SP.POP.TOTL,"Population, total",2019-01-01,18380477.0
265,ZWE,Zimbabwe,SP.POP.TOTL,"Population, total",2019-01-01,15354608.0

In [12]:
popu_m2 = popu_m2.drop('Indicator Name', axis='columns')
popu_m2 = popu_m2.drop('Indicator Code', axis='columns')
popu_m2
#popu.drop('Indicator Code')

    Country Code                 Country Name       Year   population
0            ABW                        Aruba 1990-01-01      65712.0
1            AFE  Africa Eastern and Southern 1990-01-01  309890664.0
2            AFG                  Afghanistan 1990-01-01   10694796.0
3            AFW   Africa Western and Central 1990-01-01  206739024.0
4            AGO                       Angola 1990-01-01   11828638.0
..           ...                          ...        ...          ...
261          XKX                       Kosovo 2019-01-01    1788878.0
262          YEM                  Yemen, Rep. 2019-01-01   31546691.0
263          ZAF                 South Africa 2019-01-01   58087055.0
264          ZMB                       Zambia 2019-01-01   18380477.0
265          ZWE                     Zimbabwe 2019-01-01   15354608.0

[7980 rows x 4 columns]

In [13]:
ghg2

     Country Name Country Code       Year  Total including LUCF
0     Afghanistan          AFG 1990-01-01          9.580000e+06
1     Afghanistan          AFG 1991-01-01          9.810000e+06
2     Afghanistan          AFG 1992-01-01          9.030000e+06
3     Afghanistan          AFG 1993-01-01          9.110000e+06
4     Afghanistan          AFG 1994-01-01          9.150000e+06
...           ...          ...        ...                   ...
6144     Zimbabwe          ZWE 2015-01-01          4.230000e+07
6145     Zimbabwe          ZWE 2016-01-01          1.159200e+08
6146     Zimbabwe          ZWE 2017-01-01          1.155900e+08
6147     Zimbabwe          ZWE 2018-01-01          1.182200e+08
6148     Zimbabwe          ZWE 2019-01-01          1.179600e+08

[6149 rows x 4 columns]

In [14]:
combined1 = pd.merge(popu_m2,ghg2, on=['Country Name','Country Code','Year'], how='outer')
# m_4 = pd.merge(m_4a, m_4b, on=['country', 'year'])
# combined1.to_csv('combined1.csv')
# combined1.groupby('Country Name').apply(print)

In [15]:
combined1

,Country Code,Country Name,Year,population,Total including LUCF
0,ABW,Aruba,1990-01-01,65712.0,NaN
1,AFE,Africa Eastern and Southern,1990-01-01,309890664.0,NaN
2,AFG,Afghanistan,1990-01-01,10694796.0,9.580000e+06
3,AFW,Africa Western and Central,1990-01-01,206739024.0,NaN
4,AGO,Angola,1990-01-01,11828638.0,6.616000e+07
...,...,...,...,...,...
9085,YEM,Yemen,2015-01-01,NaN,2.946000e+07
9086,YEM,Yemen,2016-01-01,NaN,2.390000e+07
9087,YEM,Yemen,2017-01-01,NaN,2.384000e+07
9088,YEM,Yemen,2018-01-01,NaN,2.386000e+07
9089,YEM,Yemen,2019-01-01,NaN,2.526000e+07

In [16]:
combined1.to_csv('combined1.csv')

In [17]:
combined1.groupby('Country Name').apply(print)

     Country Code Country Name       Year  population  Total including LUCF
2             AFG  Afghanistan 1990-01-01  10694796.0          9.580000e+06
268           AFG  Afghanistan 1991-01-01  10745167.0          9.810000e+06
534           AFG  Afghanistan 1992-01-01  12057433.0          9.030000e+06
800           AFG  Afghanistan 1993-01-01  14003760.0          9.110000e+06
1066          AFG  Afghanistan 1994-01-01  15455555.0          9.150000e+06
1332          AFG  Afghanistan 1995-01-01  16418912.0          9.580000e+06
1598          AFG  Afghanistan 1996-01-01  17106595.0          1.061000e+07
1864          AFG  Afghanistan 1997-01-01  17788819.0          1.158000e+07
2130          AFG  Afghanistan 1998-01-01  18493132.0          1.240000e+07
2396          AFG  Afghanistan 1999-01-01  19262847.0          1.328000e+07
2662          AFG  Afghanistan 2000-01-01  19542982.0          1.150000e+07
2928          AFG  Afghanistan 2001-01-01  19688632.0          1.237000e+07
3194          AFG  Afghanistan 2002-01-01  21000256.0          1.501000e+07
3460          AFG  Afghanistan 2003-01-01  22645130.0          1.565000e+07
3726          AFG  Afghanistan 2004-01-01  23553551.0          1.544000e+07
3992          AFG  Afghanistan 2005-01-01  24411191.0          1.635000e+07
4258          AFG  Afghanistan 2006-01-01  25442944.0          1.687000e+07
4524          AFG  Afghanistan 2007-01-01  25903301.0          1.726000e+07
4790          AFG  Afghanistan 2008-01-01  26427199.0          2.066000e+07
5056          AFG  Afghanistan 2009-01-01  27385307.0          2.275000e+07
5322          AFG  Afghanistan 2010-01-01  28189672.0          2.724000e+07
5588          AFG  Afghanistan 2011-01-01  29249157.0          2.917000e+07
5854          AFG  Afghanistan 2012-01-01  30466479.0          2.855000e+07
6120          AFG  Afghanistan 2013-01-01  31541209.0          2.677000e+07
6386          AFG  Afghanistan 2014-01-01  32716210.0          2.652000e+07
6652          AFG  Afghanistan 2015-01-01  33753499.0          2.684000e+07
6918          AFG  Afghanistan 2016-01-01  34636207.0          2.705000e+07
7184          AFG  Afghanistan 2017-01-01  35643418.0          2.668000e+07
7450          AFG  Afghanistan 2018-01-01  36686784.0          2.784000e+07
7716          AFG  Afghanistan 2019-01-01  37769499.0          2.879000e+07
     Country Code Country Name       Year  population  Total including LUCF
7980          NaN       Africa 1990-01-01         NaN          2.148500e+09
7981          NaN       Africa 1991-01-01         NaN          2.215110e+09
7982          NaN       Africa 1992-01-01         NaN          2.237260e+09
7983          NaN       Africa 1993-01-01         NaN          2.267390e+09
7984          NaN       Africa 1994-01-01         NaN          2.357190e+09
7985          NaN       Africa 1995-01-01         NaN          2.418230e+09
7986          NaN       Africa 1996-01-01         NaN          2.461640e+09
7987          NaN       Africa 1997-01-01         NaN          2.497940e+09
7988          NaN       Africa 1998-01-01         NaN          2.572780e+09
7989          NaN       Africa 1999-01-01         NaN          2.565680e+09
7990          NaN       Africa 2000-01-01         NaN          2.580830e+09
7991          NaN       Africa 2001-01-01         NaN          2.690390e+09
7992          NaN       Africa 2002-01-01         NaN          2.734890e+09
7993          NaN       Africa 2003-01-01         NaN          2.857540e+09
7994          NaN       Africa 2004-01-01         NaN          2.922410e+09
7995          NaN       Africa 2005-01-01         NaN          3.027380e+09
7996          NaN       Africa 2006-01-01         NaN          3.034300e+09
7997          NaN       Africa 2007-01-01         NaN          3.119110e+09
7998          NaN       Africa 2008-01-01         NaN          3.217000e+09
7999          NaN       Africa 2009-01-01         NaN          3.187530e+09
8000          NaN       Africa 2010-01-01         NaN          3.319550e+09
8001          NaN       Africa 2011-01-01         NaN          3.263840e+09
8002          NaN       Africa 2012-01-01         NaN          3.381300e+09
8003          NaN       Africa 2013-01-01         NaN          3.406070e+09
8004          NaN       Africa 2014-01-01         NaN          3.453880e+09
8005          NaN       Africa 2015-01-01         NaN          3.481930e+09
8006          NaN       Africa 2016-01-01         NaN          3.583360e+09
8007          NaN       Africa 2017-01-01         NaN          3.643570e+09
8008          NaN       Africa 2018-01-01         NaN          3.688830e+09
8009          NaN       Africa 2019-01-01         NaN          3.745880e+09
     Country Code                 Country Name       Year   population  \
1             AFE  Africa Eastern and Southern 1990-01-01  309890664.0
267           AFE  Africa Eastern and Southern 1991-01-01  318544083.0
533           AFE  Africa Eastern and Southern 1992-01-01  326933522.0
799           AFE  Africa Eastern and Southern 1993-01-01  335625136.0
1065          AFE  Africa Eastern and Southern 1994-01-01  344418362.0
1331          AFE  Africa Eastern and Southern 1995-01-01  353466601.0
1597          AFE  Africa Eastern and Southern 1996-01-01  362985802.0
1863          AFE  Africa Eastern and Southern 1997-01-01  372352230.0
2129          AFE  Africa Eastern and Southern 1998-01-01  381715600.0
2395          AFE  Africa Eastern and Southern 1999-01-01  391486231.0
2661          AFE  Africa Eastern and Southern 2000-01-01  401600588.0
2927          AFE  Africa Eastern and Southern 2001-01-01  412001885.0
3193          AFE  Africa Eastern and Southern 2002-01-01  422741118.0
3459          AFE  Africa Eastern and Southern 2003-01-01  433807484.0
3725          AFE  Africa Eastern and Southern 2004-01-01  445281555.0
3991          AFE  Africa Eastern and Southern 2005-01-01  457153837.0
4257          AFE  Africa Eastern and Southern 2006-01-01  469508516.0
4523          AFE  Africa Eastern and Southern 2007-01-01  482406426.0
4789          AFE  Africa Eastern and Southern 2008-01-01  495748900.0
5055          AFE  Africa Eastern and Southern 2009-01-01  509410477.0
5321          AFE  Africa Eastern and Southern 2010-01-01  523459657.0
5587          AFE  Africa Eastern and Southern 2011-01-01  537792950.0
5853          AFE  Africa Eastern and Southern 2012-01-01  552530654.0
6119          AFE  Africa Eastern and Southern 2013-01-01  567891875.0
6385          AFE  Africa Eastern and Southern 2014-01-01  583650827.0
6651          AFE  Africa Eastern and Southern 2015-01-01  600008150.0
6917          AFE  Africa Eastern and Southern 2016-01-01  616377331.0
7183          AFE  Africa Eastern and Southern 2017-01-01  632746296.0
7449          AFE  Africa Eastern and Southern 2018-01-01  649756874.0
7715          AFE  Africa Eastern and Southern 2019-01-01  667242712.0

      Total including LUCF
1                      NaN
267                    NaN
533                    NaN
799                    NaN
1065                   NaN
1331                   NaN
1597                   NaN
1863                   NaN
2129                   NaN
2395                   NaN
2661                   NaN
2927                   NaN
3193                   NaN
3459                   NaN
3725                   NaN
3991                   NaN
4257                   NaN
4523                   NaN
4789                   NaN
5055                   NaN
5321                   NaN
5587                   NaN
5853                   NaN
6119                   NaN
6385                   NaN
6651                   NaN
6917                   NaN
7183                   NaN
7449                   NaN
7715                   NaN
     Country Code                Country Name       Year   population  \
3             AFW  Africa Western and Central 1990-01-01  206739024.0
269           AFW  Africa Western and Central 1991-01-01  212172888.0
535           AFW  Africa Western and Central 1992-01-01  217966101.0
801           AFW  Africa Western and Central 1993-01-01  223788766.0
1067          AFW  Africa Western and Central 1994-01-01  229675775.0
1333          AFW  Africa Western and Central 1995-01-01  235861484.0
1599          AFW  Africa Western and Central 1996-01-01  242200260.0
1865          AFW  Africa Western and Central 1997-01-01  248713095.0
2131          AFW  Africa Western and Central 1998-01-01  255482918.0
2397          AFW  Africa Western and Central 1999-01-01  262397030.0
2663          AFW  Africa Western and Central 2000-01-01  269611898.0
2929          AFW  Africa Western and Central 2001-01-01  277160097.0
3195          AFW  Africa Western and Central 2002-01-01  284952322.0
3461          AFW  Africa Western and Central 2003-01-01  292977949.0
3727          AFW  Africa Western and Central 2004-01-01  301265247.0
3993          AFW  Africa Western and Central 2005-01-01  309824829.0
4259          AFW  Africa Western and Central 2006-01-01  318601484.0
4525          AFW  Africa Western and Central 2007-01-01  327612838.0
4791          AFW  Africa Western and Central 2008-01-01  336893835.0
5057          AFW  Africa Western and Central 2009-01-01  346475221.0
5323          AFW  Africa Western and Central 2010-01-01  356337762.0
5589          AFW  Africa Western and Central 2011-01-01  366489204.0
5855          AFW  Africa Western and Central 2012-01-01  376797999.0
6121          AFW  Africa Western and Central 2013-01-01  387204553.0
6387          AFW  Africa Western and Central 2014-01-01  397855507.0
6653          AFW  Africa Western and Central 2015-01-01  408690375.0
6919          AFW  Africa Western and Central 2016-01-01  419778384.0
7185          AFW  Africa Western and Central 2017-01-01  431138704.0
7451          AFW  Africa Western and Central 2018-01-01  442646825.0
7717          AFW  Africa Western and Central 2019-01-01  454306063.0

      Total including LUCF
3                      NaN
269                    NaN
535                    NaN
801                    NaN
1067                   NaN
1333                   NaN
1599                   NaN
1865                   NaN
2131                   NaN
2397                   NaN
2663                   NaN
2929                   NaN
3195                   NaN
3461                   NaN
3727                   NaN
3993                   NaN
4259                   NaN
4525                   NaN
4791                   NaN
5057                   NaN
5323                   NaN
5589                   NaN
5855                   NaN
6121                   NaN
6387                   NaN
6653                   NaN
6919                   NaN
7185                   NaN
7451                   NaN
7717                   NaN
     Country Code Country Name       Year  population  Total including LUCF
5             ALB      Albania 1990-01-01   3286542.0          1.130000e+07
271           ALB      Albania 1991-01-01   3266790.0          8.960000e+06
537           ALB      Albania 1992-01-01   3247039.0          6.950000e+06
803           ALB      Albania 1993-01-01   3227287.0          6.920000e+06
1069          ALB      Albania 1994-01-01   3207536.0          7.740000e+06
1335          ALB      Albania 1995-01-01   3187784.0          7.580000e+06
1601          ALB      Albania 1996-01-01   3168033.0          7.290000e+06
1867          ALB      Albania 1997-01-01   3148281.0          6.580000e+06
2133          ALB      Albania 1998-01-01   3128530.0          6.810000e+06
2399          ALB      Albania 1999-01-01   3108778.0          8.020000e+06
2665          ALB      Albania 2000-01-01   3089027.0          8.400000e+06
2931          ALB      Albania 2001-01-01   3060173.0          7.000000e+06
3197          ALB      Albania 2002-01-01   3051010.0          7.630000e+06
3463          ALB      Albania 2003-01-01   3039616.0          7.970000e+06
3729          ALB      Albania 2004-01-01   3026939.0          8.050000e+06
3995          ALB      Albania 2005-01-01   3011487.0          7.830000e+06
4261          ALB      Albania 2006-01-01   2992547.0          7.730000e+06
4527          ALB      Albania 2007-01-01   2970017.0          7.750000e+06
4793          ALB      Albania 2008-01-01   2947314.0          7.480000e+06
5059          ALB      Albania 2009-01-01   2927519.0          7.520000e+06
5325          ALB      Albania 2010-01-01   2913021.0          7.780000e+06
5591          ALB      Albania 2011-01-01   2905195.0          8.490000e+06
5857          ALB      Albania 2012-01-01   2900401.0          8.040000e+06
6123          ALB      Albania 2013-01-01   2895092.0          8.090000e+06
6389          ALB      Albania 2014-01-01   2889104.0          8.520000e+06
6655          ALB      Albania 2015-01-01   2880703.0          8.380000e+06
6921          ALB      Albania 2016-01-01   2876101.0          8.850000e+06
7187          ALB      Albania 2017-01-01   2873457.0          9.420000e+06
7453          ALB      Albania 2018-01-01   2866376.0          9.220000e+06
7719          ALB      Albania 2019-01-01   2854191.0          8.770000e+06
     Country Code Country Name       Year  population  Total including LUCF
60            DZA      Algeria 1990-01-01  25518074.0          1.214000e+08
326           DZA      Algeria 1991-01-01  26133905.0          1.255700e+08
592           DZA      Algeria 1992-01-01  26748303.0          1.265300e+08
858           DZA      Algeria 1993-01-01  27354327.0          1.350100e+08
1124          DZA      Algeria 1994-01-01  27937006.0          1.369600e+08
1390          DZA      Algeria 1995-01-01  28478022.0          1.439000e+08
1656          DZA      Algeria 1996-01-01  28984634.0          1.469700e+08
1922          DZA      Algeria 1997-01-01  29476031.0          1.468800e+08
2188          DZA      Algeria 1998-01-01  29924668.0          1.491500e+08
2454          DZA      Algeria 1999-01-01  30346083.0          1.546100e+08
2720          DZA      Algeria 2000-01-01  30774621.0          1.636000e+08
2986          DZA      Algeria 2001-01-01  31200985.0          1.569000e+08
3252          DZA      Algeria 2002-01-01  31624696.0          1.626600e+08
3518          DZA      Algeria 2003-01-01  32055883.0          1.753000e+08
3784          DZA      Algeria 2004-01-01  32510186.0          1.781900e+08
4050          DZA      Algeria 2005-01-01  32956690.0          1.856500e+08
4316          DZA      Algeria 2006-01-01  33435080.0          1.935100e+08
4582          DZA      Algeria 2007-01-01  33983827.0          1.966100e+08
4848          DZA      Algeria 2008-01-01  34569592.0          2.020500e+08
5114          DZA      Algeria 2009-01-01  35196037.0          2.042800e+08
5380          DZA      Algeria 2010-01-01  35856344.0          2.074800e+08
5646          DZA      Algeria 2011-01-01  36543541.0          2.152100e+08
5912          DZA      Algeria 2012-01-01  37260563.0          2.349900e+08
6178          DZA      Algeria 2013-01-01  38000626.0          2.394600e+08
6444          DZA      Algeria 2014-01-01  38760168.0          2.529100e+08
6710          DZA      Algeria 2015-01-01  39543154.0          2.625200e+08
6976          DZA      Algeria 2016-01-01  40339329.0          2.656000e+08
7242          DZA      Algeria 2017-01-01  41136546.0          2.693800e+08
7508          DZA      Algeria 2018-01-01  41927007.0          2.782300e+08
7774          DZA      Algeria 2019-01-01  42705368.0          2.822300e+08
     Country Code    Country Name       Year  population  Total including LUCF
11            ASM  American Samoa 1990-01-01     47818.0                   NaN
277           ASM  American Samoa 1991-01-01     48992.0                   NaN
543           ASM  American Samoa 1992-01-01     50078.0                   NaN
809           ASM  American Samoa 1993-01-01     51174.0                   NaN
1075          ASM  American Samoa 1994-01-01     52288.0                   NaN
1341          ASM  American Samoa 1995-01-01     53401.0                   NaN
1607          ASM  American Samoa 1996-01-01     54500.0                   NaN
1873          ASM  American Samoa 1997-01-01     55578.0                   NaN
2139          ASM  American Samoa 1998-01-01     56603.0                   NaN
2405          ASM  American Samoa 1999-01-01     57594.0                   NaN
2671          ASM  American Samoa 2000-01-01     58230.0                   NaN
2937          ASM  American Samoa 2001-01-01     58324.0                   NaN
3203          ASM  American Samoa 2002-01-01     58177.0                   NaN
3469          ASM  American Samoa 2003-01-01     57941.0                   NaN
3735          ASM  American Samoa 2004-01-01     57626.0                   NaN
4001          ASM  American Samoa 2005-01-01     57254.0                   NaN
4267          ASM  American Samoa 2006-01-01     56837.0                   NaN
4533          ASM  American Samoa 2007-01-01     56383.0                   NaN
4799          ASM  American Samoa 2008-01-01     55891.0                   NaN
5065          ASM  American Samoa 2009-01-01     55366.0                   NaN
5331          ASM  American Samoa 2010-01-01     54849.0                   NaN
5597          ASM  American Samoa 2011-01-01     54310.0                   NaN
5863          ASM  American Samoa 2012-01-01     53691.0                   NaN
6129          ASM  American Samoa 2013-01-01     52995.0                   NaN
6395          ASM  American Samoa 2014-01-01     52217.0                   NaN
6661          ASM  American Samoa 2015-01-01     51368.0                   NaN
6927          ASM  American Samoa 2016-01-01     50448.0                   NaN
7193          ASM  American Samoa 2017-01-01     49463.0                   NaN
7459          ASM  American Samoa 2018-01-01     48424.0                   NaN
7725          ASM  American Samoa 2019-01-01     47321.0                   NaN
     Country Code Country Name       Year  population  Total including LUCF
6             AND      Andorra 1990-01-01     53569.0         430000.007153
272           AND      Andorra 1991-01-01     55434.0         430000.007153
538           AND      Andorra 1992-01-01     57283.0         430000.007153
804           AND      Andorra 1993-01-01     59156.0         439999.997616
1070          AND      Andorra 1994-01-01     61037.0         439999.997616
1336          AND      Andorra 1995-01-01     62928.0         460000.008345
1602          AND      Andorra 1996-01-01     64147.0         490000.009537
1868          AND      Andorra 1997-01-01     64682.0         509999.990463
2134          AND      Andorra 1998-01-01     65186.0         540000.021458
2400          AND      Andorra 1999-01-01     65655.0         569999.992847
2666          AND      Andorra 2000-01-01     66097.0         589999.973774
2932          AND      Andorra 2001-01-01     67820.0         589999.973774
3198          AND      Andorra 2002-01-01     70849.0         600000.023842
3464          AND      Andorra 2003-01-01     73907.0         610000.014305
3730          AND      Andorra 2004-01-01     76933.0         639999.985695
3996          AND      Andorra 2005-01-01     79826.0         660000.026226
4262          AND      Andorra 2006-01-01     80221.0         639999.985695
4528          AND      Andorra 2007-01-01     78168.0         639999.985695
4794          AND      Andorra 2008-01-01     76055.0         639999.985695
5060          AND      Andorra 2009-01-01     73852.0         620000.004768
5326          AND      Andorra 2010-01-01     71519.0         629999.995232
5592          AND      Andorra 2011-01-01     70567.0         600000.023842
5858          AND      Andorra 2012-01-01     71013.0         600000.023842
6124          AND      Andorra 2013-01-01     71367.0         589999.973774
6390          AND      Andorra 2014-01-01     71621.0         569999.992847
6656          AND      Andorra 2015-01-01     71746.0         579999.983311

7768          CZE      Czechia 2019-01-01  10671870.0          1.107700e+08
     Country Code                  Country Name       Year  population  \
8190          COD  Democratic Republic of Congo 1990-01-01         NaN
8191          COD  Democratic Republic of Congo 1991-01-01         NaN
8192          COD  Democratic Republic of Congo 1992-01-01         NaN
8193          COD  Democratic Republic of Congo 1993-01-01         NaN
8194          COD  Democratic Republic of Congo 1994-01-01         NaN
8195          COD  Democratic Republic of Congo 1995-01-01         NaN
8196          COD  Democratic Republic of Congo 1996-01-01         NaN
8197          COD  Democratic Republic of Congo 1997-01-01         NaN
8198          COD  Democratic Republic of Congo 1998-01-01         NaN
8199          COD  Democratic Republic of Congo 1999-01-01         NaN
8200          COD  Democratic Republic of Congo 2000-01-01         NaN
8201          COD  Democratic Republic of Congo 2001-01-01         NaN
8202          COD  Democratic Republic of Congo 2002-01-01         NaN
8203          COD  Democratic Republic of Congo 2003-01-01         NaN
8204          COD  Democratic Republic of Congo 2004-01-01         NaN
8205          COD  Democratic Republic of Congo 2005-01-01         NaN
8206          COD  Democratic Republic of Congo 2006-01-01         NaN
8207          COD  Democratic Republic of Congo 2007-01-01         NaN
8208          COD  Democratic Republic of Congo 2008-01-01         NaN
8209          COD  Democratic Republic of Congo 2009-01-01         NaN
8210          COD  Democratic Republic of Congo 2010-01-01         NaN
8211          COD  Democratic Republic of Congo 2011-01-01         NaN
8212          COD  Democratic Republic of Congo 2012-01-01         NaN
8213          COD  Democratic Republic of Congo 2013-01-01         NaN
8214          COD  Democratic Republic of Congo 2014-01-01         NaN
8215          COD  Democratic Republic of Congo 2015-01-01         NaN
8216          COD  Democratic Republic of Congo 2016-01-01         NaN
8217          COD  Democratic Republic of Congo 2017-01-01         NaN
8218          COD  Democratic Republic of Congo 2018-01-01         NaN
8219          COD  Democratic Republic of Congo 2019-01-01         NaN

      Total including LUCF
8190          4.307700e+08
8191          4.293900e+08
8192          4.295400e+08
8193          4.310400e+08
8194          4.325200e+08
8195          4.325800e+08
8196          4.288900e+08
8197          4.355500e+08
8198          4.374500e+08
8199          4.295500e+08
8200          4.258100e+08
8201          4.175800e+08
8202          4.298300e+08
8203          4.371000e+08
8204          4.401100e+08
8205          4.404800e+08
8206          4.428400e+08
8207          4.362200e+08
8208          4.403200e+08
8209          4.399500e+08
8210          4.423700e+08
8211          6.760900e+08
8212          6.730400e+08
8213          6.770100e+08
8214          6.777700e+08
8215          6.799100e+08
8216          6.800300e+08
8217          6.820100e+08
8218          6.768600e+08
8219          6.795700e+08
     Country Code Country Name       Year  population  Total including LUCF
58            DNK      Denmark 1990-01-01   5140939.0          6.919000e+07
324           DNK      Denmark 1991-01-01   5154298.0          8.001000e+07
590           DNK      Denmark 1992-01-01   5171370.0          7.380000e+07
856           DNK      Denmark 1993-01-01   5188628.0          7.643000e+07
1122          DNK      Denmark 1994-01-01   5206180.0          8.007000e+07
1388          DNK      Denmark 1995-01-01   5233373.0          7.691000e+07
1654          DNK      Denmark 1996-01-01   5263074.0          9.040000e+07
1920          DNK      Denmark 1997-01-01   5284991.0          8.070000e+07
2186          DNK      Denmark 1998-01-01   5304219.0          7.670000e+07
2452          DNK      Denmark 1999-01-01   5321799.0          7.380000e+07
2718          DNK      Denmark 2000-01-01   5339616.0          7.000000e+07
2984          DNK      Denmark 2001-01-01   5358783.0          7.141000e+07
3250          DNK      Denmark 2002-01-01   5375931.0          7.073000e+07
3516          DNK      Denmark 2003-01-01   5390574.0          7.625000e+07
3782          DNK      Denmark 2004-01-01   5404523.0          7.004000e+07
4048          DNK      Denmark 2005-01-01   5419432.0          6.632000e+07
4314          DNK      Denmark 2006-01-01   5437272.0          7.405000e+07
4580          DNK      Denmark 2007-01-01   5461438.0          6.927000e+07
4846          DNK      Denmark 2008-01-01   5493621.0          6.575000e+07
5112          DNK      Denmark 2009-01-01   5523095.0          6.286000e+07
5378          DNK      Denmark 2010-01-01   5547683.0          6.314000e+07
5644          DNK      Denmark 2011-01-01   5570572.0          5.579000e+07
5910          DNK      Denmark 2012-01-01   5591572.0          5.070000e+07
6176          DNK      Denmark 2013-01-01   5614932.0          5.212000e+07
6442          DNK      Denmark 2014-01-01   5643475.0          4.794000e+07
6708          DNK      Denmark 2015-01-01   5683483.0          4.593000e+07
6974          DNK      Denmark 2016-01-01   5728010.0          5.028000e+07
7240          DNK      Denmark 2017-01-01   5764980.0          4.797000e+07
7506          DNK      Denmark 2018-01-01   5793636.0          4.743000e+07
7772          DNK      Denmark 2019-01-01   5814422.0          4.406000e+07
     Country Code Country Name       Year  population  Total including LUCF
56            DJI     Djibouti 1990-01-01    577173.0          9.100000e+05
322           DJI     Djibouti 1991-01-01    628521.0          9.300000e+05
588           DJI     Djibouti 1992-01-01    623197.0          9.500000e+05
854           DJI     Djibouti 1993-01-01    611231.0          9.700000e+05
1120          DJI     Djibouti 1994-01-01    623477.0          9.800000e+05
1386          DJI     Djibouti 1995-01-01    629619.0          1.050000e+06
1652          DJI     Djibouti 1996-01-01    644649.0          1.070000e+06
1918          DJI     Djibouti 1997-01-01    667786.0          1.120000e+06
2184          DJI     Djibouti 1998-01-01    694920.0          1.200000e+06
2450          DJI     Djibouti 1999-01-01    719371.0          1.230000e+06
2716          DJI     Djibouti 2000-01-01    742033.0          1.220000e+06
2982          DJI     Djibouti 2001-01-01    765490.0          1.230000e+06
3248          DJI     Djibouti 2002-01-01    789129.0          1.260000e+06
3514          DJI     Djibouti 2003-01-01    806411.0          1.280000e+06
3780          DJI     Djibouti 2004-01-01    818373.0          1.270000e+06
4046          DJI     Djibouti 2005-01-01    830861.0          1.310000e+06
4312          DJI     Djibouti 2006-01-01    846947.0          1.310000e+06
4578          DJI     Djibouti 2007-01-01    865196.0          1.350000e+06
4844          DJI     Djibouti 2008-01-01    882886.0          1.360000e+06
5110          DJI     Djibouti 2009-01-01    901103.0          1.360000e+06
5376          DJI     Djibouti 2010-01-01    919199.0          1.410000e+06
5642          DJI     Djibouti 2011-01-01    936811.0          1.380000e+06
5908          DJI     Djibouti 2012-01-01    954297.0          1.410000e+06
6174          DJI     Djibouti 2013-01-01    971753.0          1.480000e+06
6440          DJI     Djibouti 2014-01-01    989087.0          1.330000e+06
6706          DJI     Djibouti 2015-01-01   1006259.0          1.400000e+06
6972          DJI     Djibouti 2016-01-01   1023261.0          1.360000e+06
7238          DJI     Djibouti 2017-01-01   1040233.0          1.360000e+06
7504          DJI     Djibouti 2018-01-01   1057198.0          1.360000e+06
7770          DJI     Djibouti 2019-01-01   1073994.0          1.380000e+06
     Country Code Country Name       Year  population  Total including LUCF
57            DMA     Dominica 1990-01-01     69481.0         239999.994636
323           DMA     Dominica 1991-01-01     69141.0         239999.994636
589           DMA     Dominica 1992-01-01     69112.0         259999.990463
855           DMA     Dominica 1993-01-01     69169.0         259999.990463
1121          DMA     Dominica 1994-01-01     69198.0         259999.990463
1387          DMA     Dominica 1995-01-01     69201.0         259999.990463
1653          DMA     Dominica 1996-01-01     69166.0         239999.994636
1919          DMA     Dominica 1997-01-01     69081.0         250000.000000
2185          DMA     Dominica 1998-01-01     68938.0         250000.000000
2451          DMA     Dominica 1999-01-01     68698.0         239999.994636
2717          DMA     Dominica 2000-01-01     68346.0         250000.000000
2983          DMA     Dominica 2001-01-01     68153.0         209999.993443
3249          DMA     Dominica 2002-01-01     68262.0         170000.001788
3515          DMA     Dominica 2003-01-01     68442.0         189999.997616
3781          DMA     Dominica 2004-01-01     68574.0         200000.002980
4047          DMA     Dominica 2005-01-01     68674.0         209999.993443
4313          DMA     Dominica 2006-01-01     68742.0         219999.998808
4579          DMA     Dominica 2007-01-01     68775.0         239999.994636
4845          DMA     Dominica 2008-01-01     68782.0         239999.994636
5111          DMA     Dominica 2009-01-01     68787.0         560000.002384
5377          DMA     Dominica 2010-01-01     68755.0         239999.994636
5643          DMA     Dominica 2011-01-01     68742.0         239999.994636
5909          DMA     Dominica 2012-01-01     68888.0         310000.002384
6175          DMA     Dominica 2013-01-01     68819.0         230000.004172
6441          DMA     Dominica 2014-01-01     69371.0         239999.994636
6707          DMA     Dominica 2015-01-01     70007.0         239999.994636
6973          DMA     Dominica 2016-01-01     70075.0         230000.004172
7239          DMA     Dominica 2017-01-01     70403.0         219999.998808
7505          DMA     Dominica 2018-01-01     70823.0         219999.998808
7771          DMA     Dominica 2019-01-01     71428.0         219999.998808
     Country Code        Country Name       Year  population  \
59            DOM  Dominican Republic 1990-01-01   7129004.0
325           DOM  Dominican Republic 1991-01-01   7278402.0
591           DOM  Dominican Republic 1992-01-01   7427340.0
857           DOM  Dominican Republic 1993-01-01   7576074.0
1123          DOM  Dominican Republic 1994-01-01   7723934.0
1389          DOM  Dominican Republic 1995-01-01   7869753.0
1655          DOM  Dominican Republic 1996-01-01   8012314.0
1921          DOM  Dominican Republic 1997-01-01   8150076.0
2187          DOM  Dominican Republic 1998-01-01   8282126.0
2453          DOM  Dominican Republic 1999-01-01   8411374.0
2719          DOM  Dominican Republic 2000-01-01   8540791.0
2985          DOM  Dominican Republic 2001-01-01   8669040.0
3251          DOM  Dominican Republic 2002-01-01   8795101.0
3517          DOM  Dominican Republic 2003-01-01   8919852.0
3783          DOM  Dominican Republic 2004-01-01   9043127.0
4049          DOM  Dominican Republic 2005-01-01   9164768.0
4315          DOM  Dominican Republic 2006-01-01   9284168.0
4581          DOM  Dominican Republic 2007-01-01   9402206.0
4847          DOM  Dominican Republic 2008-01-01   9522948.0
5113          DOM  Dominican Republic 2009-01-01   9648061.0
5379          DOM  Dominican Republic 2010-01-01   9775755.0
5645          DOM  Dominican Republic 2011-01-01   9903737.0
5911          DOM  Dominican Republic 2012-01-01  10030882.0
6177          DOM  Dominican Republic 2013-01-01  10157051.0
6443          DOM  Dominican Republic 2014-01-01  10282115.0
6709          DOM  Dominican Republic 2015-01-01  10405832.0
6975          DOM  Dominican Republic 2016-01-01  10527592.0
7241          DOM  Dominican Republic 2017-01-01  10647244.0
7507          DOM  Dominican Republic 2018-01-01  10765531.0
7773          DOM  Dominican Republic 2019-01-01  10881882.0

      Total including LUCF
59            8.510000e+06
325           9.620000e+06
591           1.110000e+07
857           1.159000e+07
1123          1.357000e+07
1389          1.408000e+07
1655          1.499000e+07
1921          1.667000e+07
2187          1.861000e+07
2453          1.921000e+07
2719          1.991000e+07
2985          2.602000e+07
3251          2.845000e+07
3517          2.612000e+07
3783          2.541000e+07
4049          2.673000e+07
4315          2.865000e+07
4581          2.985000e+07
4847          3.000000e+07
5113          2.949000e+07
5379          3.084000e+07
5645          3.199000e+07
5911          3.280000e+07
6177          3.257000e+07
6443          3.292000e+07
6709          3.535000e+07
6975          3.622000e+07
7241          3.547000e+07
7507          3.764000e+07
7773          3.976000e+07
     Country Code                Country Name       Year    population  \
62            EAR  Early-demographic dividend 1990-01-01  2.041044e+09
328           EAR  Early-demographic dividend 1991-01-01  2.088581e+09
594           EAR  Early-demographic dividend 1992-01-01  2.134567e+09
860           EAR  Early-demographic dividend 1993-01-01  2.179380e+09
1126          EAR  Early-demographic dividend 1994-01-01  2.223077e+09
1392          EAR  Early-demographic dividend 1995-01-01  2.267617e+09
1658          EAR  Early-demographic dividend 1996-01-01  2.314334e+09
1924          EAR  Early-demographic dividend 1997-01-01  2.361095e+09
2190          EAR  Early-demographic dividend 1998-01-01  2.407186e+09
2456          EAR  Early-demographic dividend 1999-01-01  2.452953e+09
2722          EAR  Early-demographic dividend 2000-01-01  2.499207e+09
2988          EAR  Early-demographic dividend 2001-01-01  2.545843e+09
3254          EAR  Early-demographic dividend 2002-01-01  2.591204e+09
3520          EAR  Early-demographic dividend 2003-01-01  2.635732e+09
3786          EAR  Early-demographic dividend 2004-01-01  2.680567e+09
4052          EAR  Early-demographic dividend 2005-01-01  2.725014e+09
4318          EAR  Early-demographic dividend 2006-01-01  2.769421e+09
4584          EAR  Early-demographic dividend 2007-01-01  2.814102e+09
4850          EAR  Early-demographic dividend 2008-01-01  2.857856e+09
5116          EAR  Early-demographic dividend 2009-01-01  2.901516e+09
5382          EAR  Early-demographic dividend 2010-01-01  2.946339e+09
5648          EAR  Early-demographic dividend 2011-01-01  2.991354e+09
5914          EAR  Early-demographic dividend 2012-01-01  3.035261e+09
6180          EAR  Early-demographic dividend 2013-01-01  3.078836e+09
6446          EAR  Early-demographic dividend 2014-01-01  3.122586e+09
6712          EAR  Early-demographic dividend 2015-01-01  3.166643e+09
6978          EAR  Early-demographic dividend 2016-01-01  3.210111e+09
7244          EAR  Early-demographic dividend 2017-01-01  3.252530e+09
7510          EAR  Early-demographic dividend 2018-01-01  3.294299e+09
7776          EAR  Early-demographic dividend 2019-01-01  3.335464e+09

      Total including LUCF
62                     NaN
328                    NaN
594                    NaN
860                    NaN
1126                   NaN
1392                   NaN
1658                   NaN
1924                   NaN
2190                   NaN
2456                   NaN
2722                   NaN
2988                   NaN
3254                   NaN
3520                   NaN
3786                   NaN
4052                   NaN
4318                   NaN
4584                   NaN
4850                   NaN
5116                   NaN
5382                   NaN
5648                   NaN
5914                   NaN
6180                   NaN
6446                   NaN
6712                   NaN
6978                   NaN
7244                   NaN
7510                   NaN
7776                   NaN
     Country Code         Country Name       Year    population  \
63            EAS  East Asia & Pacific 1990-01-01  1.818248e+09
329           EAS  East Asia & Pacific 1991-01-01  1.844604e+09
595           EAS  East Asia & Pacific 1992-01-01  1.869454e+09
861           EAS  East Asia & Pacific 1993-01-01  1.893595e+09
1127          EAS  East Asia & Pacific 1994-01-01  1.917553e+09
1393          EAS  East Asia & Pacific 1995-01-01  1.940893e+09
1659          EAS  East Asia & Pacific 1996-01-01  1.964043e+09
1925          EAS  East Asia & Pacific 1997-01-01  1.986768e+09
2191          EAS  East Asia & Pacific 1998-01-01  2.008680e+09
2457          EAS  East Asia & Pacific 1999-01-01  2.028993e+09
2723          EAS  East Asia & Pacific 2000-01-01  2.048149e+09
2989          EAS  East Asia & Pacific 2001-01-01  2.066530e+09
3255          EAS  East Asia & Pacific 2002-01-01  2.083970e+09
3521          EAS  East Asia & Pacific 2003-01-01  2.100610e+09
3787          EAS  East Asia & Pacific 2004-01-01  2.116651e+09
4053          EAS  East Asia & Pacific 2005-01-01  2.132518e+09
4319          EAS  East Asia & Pacific 2006-01-01  2.148406e+09
4585          EAS  East Asia & Pacific 2007-01-01  2.164155e+09
4851          EAS  East Asia & Pacific 2008-01-01  2.179914e+09
5117          EAS  East Asia & Pacific 2009-01-01  2.195170e+09
5383          EAS  East Asia & Pacific 2010-01-01  2.210204e+09
5649          EAS  East Asia & Pacific 2011-01-01  2.225992e+09
5915          EAS  East Asia & Pacific 2012-01-01  2.243777e+09
6181          EAS  East Asia & Pacific 2013-01-01  2.261274e+09
6447          EAS  East Asia & Pacific 2014-01-01  2.278232e+09
6713          EAS  East Asia & Pacific 2015-01-01  2.294507e+09
6979          EAS  East Asia & Pacific 2016-01-01  2.310722e+09
7245          EAS  East Asia & Pacific 2017-01-01  2.327135e+09
7511          EAS  East Asia & Pacific 2018-01-01  2.341387e+09
7777          EAS  East Asia & Pacific 2019-01-01  2.353862e+09

      Total including LUCF
63                     NaN
329                    NaN
595                    NaN
861                    NaN
1127                   NaN
1393                   NaN
1659                   NaN
1925                   NaN
2191                   NaN
2457                   NaN
2723                   NaN
2989                   NaN
3255                   NaN
3521                   NaN
3787                   NaN
4053                   NaN
4319                   NaN
4585                   NaN
4851                   NaN
5117                   NaN
5383                   NaN
5649                   NaN
5915                   NaN
6181                   NaN
6447                   NaN
6713                   NaN
6979                   NaN
7245                   NaN
7511                   NaN
7777                   NaN
     Country Code                                Country Name       Year  \
230           TEA  East Asia & Pacific (IDA & IBRD countries) 1990-01-01
496           TEA  East Asia & Pacific (IDA & IBRD countries) 1991-01-01
762           TEA  East Asia & Pacific (IDA & IBRD countries) 1992-01-01
1028          TEA  East Asia & Pacific (IDA & IBRD countries) 1993-01-01
1294          TEA  East Asia & Pacific (IDA & IBRD countries) 1994-01-01
1560          TEA  East Asia & Pacific (IDA & IBRD countries) 1995-01-01
1826          TEA  East Asia & Pacific (IDA & IBRD countries) 1996-01-01
2092          TEA  East Asia & Pacific (IDA & IBRD countries) 1997-01-01
2358          TEA  East Asia & Pacific (IDA & IBRD countries) 1998-01-01
2624          TEA  East Asia & Pacific (IDA & IBRD countries) 1999-01-01
2890          TEA  East Asia & Pacific (IDA & IBRD countries) 2000-01-01
3156          TEA  East Asia & Pacific (IDA & IBRD countries) 2001-01-01
3422          TEA  East Asia & Pacific (IDA & IBRD countries) 2002-01-01
3688          TEA  East Asia & Pacific (IDA & IBRD countries) 2003-01-01
3954          TEA  East Asia & Pacific (IDA & IBRD countries) 2004-01-01

7829          ISR       Israel 2019-01-01   9054000.0          8.726000e+07
     Country Code Country Name       Year  population  Total including LUCF
116           ITA        Italy 1990-01-01  56719240.0          4.487500e+08
382           ITA        Italy 1991-01-01  56758521.0          4.463400e+08
648           ITA        Italy 1992-01-01  56797087.0          4.433300e+08
914           ITA        Italy 1993-01-01  56831821.0          4.373700e+08
1180          ITA        Italy 1994-01-01  56843400.0          4.324200e+08
1446          ITA        Italy 1995-01-01  56844303.0          4.578500e+08
1712          ITA        Italy 1996-01-01  56860281.0          4.544300e+08
1978          ITA        Italy 1997-01-01  56890372.0          4.583100e+08
2244          ITA        Italy 1998-01-01  56906744.0          4.697400e+08
2510          ITA        Italy 1999-01-01  56916317.0          4.773700e+08
2776          ITA        Italy 2000-01-01  56942108.0          4.828500e+08
3042          ITA        Italy 2001-01-01  56974100.0          4.812600e+08
3308          ITA        Italy 2002-01-01  57059007.0          4.905500e+08
3574          ITA        Italy 2003-01-01  57313203.0          5.094200e+08
3840          ITA        Italy 2004-01-01  57685327.0          5.211400e+08
4106          ITA        Italy 2005-01-01  57969484.0          5.225200e+08
4372          ITA        Italy 2006-01-01  58143979.0          5.106000e+08
4638          ITA        Italy 2007-01-01  58438310.0          5.038100e+08
4904          ITA        Italy 2008-01-01  58826731.0          4.887800e+08
5170          ITA        Italy 2009-01-01  59095365.0          4.397600e+08
5436          ITA        Italy 2010-01-01  59277417.0          4.483700e+08
5702          ITA        Italy 2011-01-01  59379449.0          4.378200e+08
5968          ITA        Italy 2012-01-01  59539717.0          4.196300e+08
6234          ITA        Italy 2013-01-01  60233948.0          3.876400e+08
6500          ITA        Italy 2014-01-01  60789140.0          3.679200e+08
6766          ITA        Italy 2015-01-01  60730582.0          3.795800e+08
7032          ITA        Italy 2016-01-01  60627498.0          3.969500e+08
7298          ITA        Italy 2017-01-01  60536709.0          3.917400e+08
7564          ITA        Italy 2018-01-01  60421760.0          3.852200e+08
7830          ITA        Italy 2019-01-01  59729081.0          3.761900e+08
     Country Code Country Name       Year  population  Total including LUCF
117           JAM      Jamaica 1990-01-01   2392030.0          9.370000e+06
383           JAM      Jamaica 1991-01-01   2411867.0          9.370000e+06
649           JAM      Jamaica 1992-01-01   2434574.0          1.018000e+07
915           JAM      Jamaica 1993-01-01   2459062.0          1.038000e+07
1181          JAM      Jamaica 1994-01-01   2484182.0          1.042000e+07
1447          JAM      Jamaica 1995-01-01   2509372.0          1.076000e+07
1713          JAM      Jamaica 1996-01-01   2532894.0          1.110000e+07
1979          JAM      Jamaica 1997-01-01   2554954.0          1.124000e+07
2245          JAM      Jamaica 1998-01-01   2576567.0          1.180000e+07
2511          JAM      Jamaica 1999-01-01   2596271.0          1.212000e+07
2777          JAM      Jamaica 2000-01-01   2612205.0          1.224000e+07
3043          JAM      Jamaica 2001-01-01   2625405.0          9.390000e+06
3309          JAM      Jamaica 2002-01-01   2638244.0          9.560000e+06
3575          JAM      Jamaica 2003-01-01   2651027.0          9.990000e+06
3841          JAM      Jamaica 2004-01-01   2664024.0          9.900000e+06
4107          JAM      Jamaica 2005-01-01   2676863.0          9.860000e+06
4373          JAM      Jamaica 2006-01-01   2689660.0          1.107000e+07
4639          JAM      Jamaica 2007-01-01   2701221.0          1.099000e+07
4905          JAM      Jamaica 2008-01-01   2711373.0          8.580000e+06
5171          JAM      Jamaica 2009-01-01   2722401.0          6.830000e+06
5437          JAM      Jamaica 2010-01-01   2733896.0          6.440000e+06
5703          JAM      Jamaica 2011-01-01   2746169.0          9.190000e+06
5969          JAM      Jamaica 2012-01-01   2759817.0          8.670000e+06
6235          JAM      Jamaica 2013-01-01   2773129.0          9.130000e+06
6501          JAM      Jamaica 2014-01-01   2784543.0          8.940000e+06
6767          JAM      Jamaica 2015-01-01   2794445.0          8.830000e+06
7033          JAM      Jamaica 2016-01-01   2802695.0          9.270000e+06
7299          JAM      Jamaica 2017-01-01   2808376.0          8.920000e+06
7565          JAM      Jamaica 2018-01-01   2811835.0          1.034000e+07
7831          JAM      Jamaica 2019-01-01   2813773.0          1.015000e+07
     Country Code Country Name       Year   population  Total including LUCF
119           JPN        Japan 1990-01-01  123478000.0          1.106260e+09
385           JPN        Japan 1991-01-01  123964000.0          1.121710e+09
651           JPN        Japan 1992-01-01  124425000.0          1.134810e+09
917           JPN        Japan 1993-01-01  124829000.0          1.128240e+09
1183          JPN        Japan 1994-01-01  125178000.0          1.185980e+09
1449          JPN        Japan 1995-01-01  125472000.0          1.201330e+09
1715          JPN        Japan 1996-01-01  125757000.0          1.216150e+09
1981          JPN        Japan 1997-01-01  126057000.0          1.204170e+09
2247          JPN        Japan 1998-01-01  126400000.0          1.157780e+09
2513          JPN        Japan 1999-01-01  126631000.0          1.184100e+09
2779          JPN        Japan 2000-01-01  126843000.0          1.200810e+09
3045          JPN        Japan 2001-01-01  127149000.0          1.156680e+09
3311          JPN        Japan 2002-01-01  127445000.0          1.189230e+09
3577          JPN        Japan 2003-01-01  127718000.0          1.197120e+09
3843          JPN        Japan 2004-01-01  127761000.0          1.188830e+09
4109          JPN        Japan 2005-01-01  127773000.0          1.190090e+09
4375          JPN        Japan 2006-01-01  127854000.0          1.168680e+09
4641          JPN        Japan 2007-01-01  128001000.0          1.204370e+09
4907          JPN        Japan 2008-01-01  128063000.0          1.137350e+09
5173          JPN        Japan 2009-01-01  128047000.0          1.078700e+09
5439          JPN        Japan 2010-01-01  128070000.0          1.136620e+09
5705          JPN        Japan 2011-01-01  127833000.0          1.243960e+09
5971          JPN        Japan 2012-01-01  127629000.0          1.286530e+09
6237          JPN        Japan 2013-01-01  127445000.0          1.298560e+09
6503          JPN        Japan 2014-01-01  127276000.0          1.256160e+09
6769          JPN        Japan 2015-01-01  127141000.0          1.220730e+09
7035          JPN        Japan 2016-01-01  127076000.0          1.229820e+09
7301          JPN        Japan 2017-01-01  126972000.0          1.214590e+09
7567          JPN        Japan 2018-01-01  126811000.0          1.172320e+09
7833          JPN        Japan 2019-01-01  126633000.0          1.134450e+09
     Country Code Country Name       Year  population  Total including LUCF
118           JOR       Jordan 1990-01-01   3480587.0          1.863000e+07
384           JOR       Jordan 1991-01-01   3666379.0          1.908000e+07
650           JOR       Jordan 1992-01-01   3866887.0          2.183000e+07
916           JOR       Jordan 1993-01-01   4075759.0          2.256000e+07
1182          JOR       Jordan 1994-01-01   4278166.0          2.366000e+07
1448          JOR       Jordan 1995-01-01   4458195.0          2.329000e+07
1714          JOR       Jordan 1996-01-01   4608676.0          2.252000e+07
1980          JOR       Jordan 1997-01-01   4733665.0          2.204000e+07
2246          JOR       Jordan 1998-01-01   4844403.0          2.124000e+07
2512          JOR       Jordan 1999-01-01   4950775.0          2.031000e+07
2778          JOR       Jordan 2000-01-01   5056174.0          2.088000e+07
3044          JOR       Jordan 2001-01-01   5163310.0          2.098000e+07
3310          JOR       Jordan 2002-01-01   5275532.0          2.177000e+07
3576          JOR       Jordan 2003-01-01   5396117.0          2.235000e+07
3842          JOR       Jordan 2004-01-01   5532423.0          2.396000e+07
4108          JOR       Jordan 2005-01-01   5678534.0          2.548000e+07
4374          JOR       Jordan 2006-01-01   6075548.0          2.628000e+07
4640          JOR       Jordan 2007-01-01   6473457.0          2.778000e+07
4906          JOR       Jordan 2008-01-01   6632873.0          2.704000e+07
5172          JOR       Jordan 2009-01-01   6780493.0          2.778000e+07
5438          JOR       Jordan 2010-01-01   6931258.0          2.752000e+07
5704          JOR       Jordan 2011-01-01   7109980.0          2.846000e+07
5970          JOR       Jordan 2012-01-01   7211863.0          3.202000e+07
6236          JOR       Jordan 2013-01-01   7694814.0          3.234000e+07
6502          JOR       Jordan 2014-01-01   8658026.0          3.449000e+07
6768          JOR       Jordan 2015-01-01   9494246.0          3.496000e+07
7034          JOR       Jordan 2016-01-01   9964656.0          3.526000e+07
7300          JOR       Jordan 2017-01-01  10215381.0          3.707000e+07
7566          JOR       Jordan 2018-01-01  10459865.0          3.621000e+07
7832          JOR       Jordan 2019-01-01  10698683.0          3.657000e+07
     Country Code Country Name       Year  population  Total including LUCF
120           KAZ   Kazakhstan 1990-01-01  16348000.0          2.959600e+08
386           KAZ   Kazakhstan 1991-01-01  16451711.0          3.040200e+08
652           KAZ   Kazakhstan 1992-01-01  16439095.0          3.060600e+08
918           KAZ   Kazakhstan 1993-01-01  16380672.0          2.702600e+08
1184          KAZ   Kazakhstan 1994-01-01  16145766.0          2.492300e+08
1450          KAZ   Kazakhstan 1995-01-01  15816243.0          2.205000e+08
1716          KAZ   Kazakhstan 1996-01-01  15578227.0          1.948300e+08
1982          KAZ   Kazakhstan 1997-01-01  15334405.0          1.716700e+08
2248          KAZ   Kazakhstan 1998-01-01  15071640.0          1.722100e+08
2514          KAZ   Kazakhstan 1999-01-01  14928374.0          1.572500e+08
2780          KAZ   Kazakhstan 2000-01-01  14883626.0          1.561800e+08
3046          KAZ   Kazakhstan 2001-01-01  14858335.0          1.544100e+08
3312          KAZ   Kazakhstan 2002-01-01  14858948.0          1.808600e+08
3578          KAZ   Kazakhstan 2003-01-01  14909019.0          1.911900e+08
3844          KAZ   Kazakhstan 2004-01-01  15012984.0          2.075300e+08
4110          KAZ   Kazakhstan 2005-01-01  15147029.0          2.212900e+08
4376          KAZ   Kazakhstan 2006-01-01  15308085.0          2.403200e+08
4642          KAZ   Kazakhstan 2007-01-01  15484192.0          2.521000e+08
4908          KAZ   Kazakhstan 2008-01-01  15776938.0          2.986800e+08
5174          KAZ   Kazakhstan 2009-01-01  16092822.0          2.696800e+08
5440          KAZ   Kazakhstan 2010-01-01  16321872.0          2.890600e+08
5706          KAZ   Kazakhstan 2011-01-01  16557202.0          2.955900e+08
5972          KAZ   Kazakhstan 2012-01-01  16792090.0          2.934000e+08
6238          KAZ   Kazakhstan 2013-01-01  17035551.0          3.076700e+08
6504          KAZ   Kazakhstan 2014-01-01  17288285.0          2.589700e+08
6770          KAZ   Kazakhstan 2015-01-01  17542806.0          2.403600e+08
7036          KAZ   Kazakhstan 2016-01-01  17794055.0          2.565300e+08
7302          KAZ   Kazakhstan 2017-01-01  18037776.0          2.769800e+08
7568          KAZ   Kazakhstan 2018-01-01  18276452.0          2.755600e+08
7834          KAZ   Kazakhstan 2019-01-01  18513673.0          2.716800e+08
     Country Code Country Name       Year  population  Total including LUCF
121           KEN        Kenya 1990-01-01  23162269.0          3.065000e+07
387           KEN        Kenya 1991-01-01  23918235.0          2.937000e+07
653           KEN        Kenya 1992-01-01  24655723.0          2.935000e+07
919           KEN        Kenya 1993-01-01  25391830.0          2.912000e+07
1185          KEN        Kenya 1994-01-01  26133744.0          2.935000e+07
1451          KEN        Kenya 1995-01-01  26878347.0          2.968000e+07
1717          KEN        Kenya 1996-01-01  27615736.0          2.901000e+07
1983          KEN        Kenya 1997-01-01  28364264.0          2.882000e+07
2249          KEN        Kenya 1998-01-01  29137373.0          2.996000e+07
2515          KEN        Kenya 1999-01-01  29965129.0          3.197000e+07
2781          KEN        Kenya 2000-01-01  30851606.0          3.086000e+07
3047          KEN        Kenya 2001-01-01  31800343.0          4.957000e+07
3313          KEN        Kenya 2002-01-01  32779823.0          5.047000e+07
3579          KEN        Kenya 2003-01-01  33767122.0          5.142000e+07
3845          KEN        Kenya 2004-01-01  34791836.0          5.404000e+07
4111          KEN        Kenya 2005-01-01  35843010.0          5.440000e+07
4377          KEN        Kenya 2006-01-01  36925253.0          5.464000e+07
4643          KEN        Kenya 2007-01-01  38036793.0          7.118000e+07
4909          KEN        Kenya 2008-01-01  39186895.0          7.227000e+07
5175          KEN        Kenya 2009-01-01  40364444.0          7.247000e+07
5441          KEN        Kenya 2010-01-01  41517895.0          7.386000e+07
5707          KEN        Kenya 2011-01-01  42635144.0          6.894000e+07
5973          KEN        Kenya 2012-01-01  43725806.0          6.786000e+07
6239          KEN        Kenya 2013-01-01  44792368.0          6.939000e+07
6505          KEN        Kenya 2014-01-01  45831863.0          7.199000e+07
6771          KEN        Kenya 2015-01-01  46851488.0          7.424000e+07
7037          KEN        Kenya 2016-01-01  47894670.0          6.402000e+07
7303          KEN        Kenya 2017-01-01  48948137.0          6.057000e+07
7569          KEN        Kenya 2018-01-01  49953304.0          6.108000e+07
7835          KEN        Kenya 2019-01-01  50951450.0          7.340000e+07
     Country Code Country Name       Year  population  Total including LUCF
124           KIR     Kiribati 1990-01-01     75124.0          39999.999106
390           KIR     Kiribati 1991-01-01     76612.0          39999.999106
656           KIR     Kiribati 1992-01-01     77901.0          39999.999106
922           KIR     Kiribati 1993-01-01     79093.0          39999.999106
1188          KIR     Kiribati 1994-01-01     80264.0          39999.999106
1454          KIR     Kiribati 1995-01-01     81481.0          50000.000745
1720          KIR     Kiribati 1996-01-01     82832.0          50000.000745
1986          KIR     Kiribati 1997-01-01     84308.0          50000.000745
2252          KIR     Kiribati 1998-01-01     85805.0          50000.000745
2518          KIR     Kiribati 1999-01-01     87289.0          50000.000745
2784          KIR     Kiribati 2000-01-01     88826.0          50000.000745
3050          KIR     Kiribati 2001-01-01     90531.0          50000.000745
3316          KIR     Kiribati 2002-01-01     92400.0          59999.998659
3582          KIR     Kiribati 2003-01-01     94302.0          70000.000298
3848          KIR     Kiribati 2004-01-01     96224.0          70000.000298
4114          KIR     Kiribati 2005-01-01     98164.0          90000.003576
4380          KIR     Kiribati 2006-01-01    100083.0         100000.001490
4646          KIR     Kiribati 2007-01-01    101998.0          79999.998212
4912          KIR     Kiribati 2008-01-01    103966.0          90000.003576
5178          KIR     Kiribati 2009-01-01    105996.0          79999.998212
5444          KIR     Kiribati 2010-01-01    107995.0          79999.998212
5710          KIR     Kiribati 2011-01-01    109871.0          79999.998212
5976          KIR     Kiribati 2012-01-01    111618.0          79999.998212
6242          KIR     Kiribati 2013-01-01    113311.0          90000.003576
6508          KIR     Kiribati 2014-01-01    114985.0          90000.003576
6774          KIR     Kiribati 2015-01-01    116707.0          90000.003576
7040          KIR     Kiribati 2016-01-01    118513.0         100000.001490
7306          KIR     Kiribati 2017-01-01    120362.0         119999.997318
7572          KIR     Kiribati 2018-01-01    122261.0         119999.997318
7838          KIR     Kiribati 2019-01-01    124241.0         119999.997318
     Country Code               Country Name       Year  population  \
193           PRK  Korea, Dem. People's Rep. 1990-01-01  20799523.0
459           PRK  Korea, Dem. People's Rep. 1991-01-01  21115534.0
725           PRK  Korea, Dem. People's Rep. 1992-01-01  21439991.0
991           PRK  Korea, Dem. People's Rep. 1993-01-01  21773017.0
1257          PRK  Korea, Dem. People's Rep. 1994-01-01  22105225.0
1523          PRK  Korea, Dem. People's Rep. 1995-01-01  22385536.0
1789          PRK  Korea, Dem. People's Rep. 1996-01-01  22614347.0
2055          PRK  Korea, Dem. People's Rep. 1997-01-01  22827373.0
2321          PRK  Korea, Dem. People's Rep. 1998-01-01  23023636.0
2587          PRK  Korea, Dem. People's Rep. 1999-01-01  23204498.0
2853          PRK  Korea, Dem. People's Rep. 2000-01-01  23367059.0
3119          PRK  Korea, Dem. People's Rep. 2001-01-01  23512522.0
3385          PRK  Korea, Dem. People's Rep. 2002-01-01  23638411.0
3651          PRK  Korea, Dem. People's Rep. 2003-01-01  23781707.0
3917          PRK  Korea, Dem. People's Rep. 2004-01-01  23948930.0
4183          PRK  Korea, Dem. People's Rep. 2005-01-01  24100982.0
4449          PRK  Korea, Dem. People's Rep. 2006-01-01  24235761.0
4715          PRK  Korea, Dem. People's Rep. 2007-01-01  24356506.0
4981          PRK  Korea, Dem. People's Rep. 2008-01-01  24469047.0
5247          PRK  Korea, Dem. People's Rep. 2009-01-01  24581509.0
5513          PRK  Korea, Dem. People's Rep. 2010-01-01  24686435.0
5779          PRK  Korea, Dem. People's Rep. 2011-01-01  24783789.0
6045          PRK  Korea, Dem. People's Rep. 2012-01-01  24887770.0
6311          PRK  Korea, Dem. People's Rep. 2013-01-01  25001819.0
6577          PRK  Korea, Dem. People's Rep. 2014-01-01  25126131.0
6843          PRK  Korea, Dem. People's Rep. 2015-01-01  25258015.0
7109          PRK  Korea, Dem. People's Rep. 2016-01-01  25389611.0
7375          PRK  Korea, Dem. People's Rep. 2017-01-01  25516321.0
7641          PRK  Korea, Dem. People's Rep. 2018-01-01  25638149.0
7907          PRK  Korea, Dem. People's Rep. 2019-01-01  25755441.0

      Total including LUCF
193                    NaN
459                    NaN
725                    NaN
991                    NaN
1257                   NaN
1523                   NaN
1789                   NaN
2055                   NaN
2321                   NaN
2587                   NaN
2853                   NaN
3119                   NaN
3385                   NaN
3651                   NaN
3917                   NaN
4183                   NaN
4449                   NaN
4715                   NaN
4981                   NaN
5247                   NaN
5513                   NaN
5779                   NaN
6045                   NaN
6311                   NaN
6577                   NaN
6843                   NaN
7109                   NaN
7375                   NaN
7641                   NaN
7907                   NaN
     Country Code Country Name       Year  population  Total including LUCF
126           KOR  Korea, Rep. 1990-01-01  42869283.0                   NaN
392           KOR  Korea, Rep. 1991-01-01  43295704.0                   NaN
658           KOR  Korea, Rep. 1992-01-01  43747962.0                   NaN
924           KOR  Korea, Rep. 1993-01-01  44194628.0                   NaN

7889          NIC    Nicaragua 2019-01-01   6663924.0          3.841000e+07
     Country Code Country Name       Year  population  Total including LUCF
173           NER        Niger 1990-01-01   8370648.0          1.868000e+07
439           NER        Niger 1991-01-01   8634640.0          1.914000e+07
705           NER        Niger 1992-01-01   8907644.0          1.963000e+07
971           NER        Niger 1993-01-01   9193078.0          2.029000e+07
1237          NER        Niger 1994-01-01   9493324.0          2.079000e+07
1503          NER        Niger 1995-01-01   9813918.0          2.137000e+07
1769          NER        Niger 1996-01-01  10149937.0          2.212000e+07
2035          NER        Niger 1997-01-01  10494201.0          2.278000e+07
2301          NER        Niger 1998-01-01  10854920.0          2.372000e+07
2567          NER        Niger 1999-01-01  11231469.0          2.431000e+07
2833          NER        Niger 2000-01-01  11622665.0          2.483000e+07
3099          NER        Niger 2001-01-01  12031430.0          2.109000e+07
3365          NER        Niger 2002-01-01  12456517.0          2.188000e+07
3631          NER        Niger 2003-01-01  12900790.0          2.278000e+07
3897          NER        Niger 2004-01-01  13366885.0          2.365000e+07
4163          NER        Niger 2005-01-01  13855221.0          2.455000e+07
4429          NER        Niger 2006-01-01  14365168.0          2.548000e+07
4695          NER        Niger 2007-01-01  14897873.0          2.667000e+07
4961          NER        Niger 2008-01-01  15455175.0          2.789000e+07
5227          NER        Niger 2009-01-01  16037915.0          2.923000e+07
5493          NER        Niger 2010-01-01  16647543.0          2.934000e+07
5759          NER        Niger 2011-01-01  17283112.0          3.036000e+07
6025          NER        Niger 2012-01-01  17954407.0          3.240000e+07
6291          NER        Niger 2013-01-01  18653199.0          3.417000e+07
6557          NER        Niger 2014-01-01  19372014.0          3.587000e+07
6823          NER        Niger 2015-01-01  20128124.0          3.708000e+07
7089          NER        Niger 2016-01-01  20921743.0          3.879000e+07
7355          NER        Niger 2017-01-01  21737922.0          4.022000e+07
7621          NER        Niger 2018-01-01  22577058.0          4.206000e+07
7887          NER        Niger 2019-01-01  23443393.0          4.396000e+07
     Country Code Country Name       Year   population  Total including LUCF
174           NGA      Nigeria 1990-01-01   95214257.0          2.679200e+08
440           NGA      Nigeria 1991-01-01   97685360.0          2.839000e+08
706           NGA      Nigeria 1992-01-01  100182045.0          2.985800e+08
972           NGA      Nigeria 1993-01-01  102775465.0          2.953400e+08
1238          NGA      Nigeria 1994-01-01  105456121.0          2.903200e+08
1504          NGA      Nigeria 1995-01-01  108187610.0          2.946200e+08
1770          NGA      Nigeria 1996-01-01  110956183.0          3.201300e+08
2036          NGA      Nigeria 1997-01-01  113791181.0          3.106500e+08
2302          NGA      Nigeria 1998-01-01  116690527.0          2.939700e+08
2568          NGA      Nigeria 1999-01-01  119695565.0          2.820500e+08
2834          NGA      Nigeria 2000-01-01  122851984.0          2.932500e+08
3100          NGA      Nigeria 2001-01-01  126152678.0          2.895000e+08
3366          NGA      Nigeria 2002-01-01  129583026.0          2.737900e+08
3632          NGA      Nigeria 2003-01-01  133119801.0          2.932000e+08
3898          NGA      Nigeria 2004-01-01  136756848.0          2.934400e+08
4164          NGA      Nigeria 2005-01-01  140490722.0          2.980200e+08
4430          NGA      Nigeria 2006-01-01  144329764.0          2.859200e+08
4696          NGA      Nigeria 2007-01-01  148294028.0          2.766100e+08
4962          NGA      Nigeria 2008-01-01  152382506.0          2.826000e+08
5228          NGA      Nigeria 2009-01-01  156595758.0          2.688700e+08
5494          NGA      Nigeria 2010-01-01  160952853.0          2.937700e+08
5760          NGA      Nigeria 2011-01-01  165463745.0          3.042500e+08
6026          NGA      Nigeria 2012-01-01  170075932.0          3.077800e+08
6292          NGA      Nigeria 2013-01-01  174726123.0          3.215500e+08
6558          NGA      Nigeria 2014-01-01  179379016.0          3.312800e+08
6824          NGA      Nigeria 2015-01-01  183995785.0          3.254300e+08
7090          NGA      Nigeria 2016-01-01  188666931.0          3.358400e+08
7356          NGA      Nigeria 2017-01-01  193495907.0          3.400200e+08
7622          NGA      Nigeria 2018-01-01  198387623.0          3.457000e+08
7888          NGA      Nigeria 2019-01-01  203304492.0          3.543300e+08
     Country Code Country Name       Year  population  Total including LUCF
8550          NIU         Niue 1990-01-01         NaN           9999.999776
8551          NIU         Niue 1991-01-01         NaN           9999.999776
8552          NIU         Niue 1992-01-01         NaN           9999.999776
8553          NIU         Niue 1993-01-01         NaN           9999.999776
8554          NIU         Niue 1994-01-01         NaN           9999.999776
8555          NIU         Niue 1995-01-01         NaN           9999.999776
8556          NIU         Niue 1996-01-01         NaN           9999.999776
8557          NIU         Niue 1997-01-01         NaN           9999.999776
8558          NIU         Niue 1998-01-01         NaN           9999.999776
8559          NIU         Niue 1999-01-01         NaN           9999.999776
8560          NIU         Niue 2000-01-01         NaN           9999.999776
8561          NIU         Niue 2001-01-01         NaN           9999.999776
8562          NIU         Niue 2002-01-01         NaN           9999.999776
8563          NIU         Niue 2003-01-01         NaN           9999.999776
8564          NIU         Niue 2004-01-01         NaN           9999.999776
8565          NIU         Niue 2005-01-01         NaN           9999.999776
8566          NIU         Niue 2006-01-01         NaN           9999.999776
8567          NIU         Niue 2007-01-01         NaN           9999.999776
8568          NIU         Niue 2008-01-01         NaN           9999.999776
8569          NIU         Niue 2009-01-01         NaN           9999.999776
8570          NIU         Niue 2010-01-01         NaN           9999.999776
8571          NIU         Niue 2011-01-01         NaN              0.000000
8572          NIU         Niue 2012-01-01         NaN              0.000000
8573          NIU         Niue 2013-01-01         NaN              0.000000
8574          NIU         Niue 2014-01-01         NaN              0.000000
8575          NIU         Niue 2015-01-01         NaN           9999.999776
8576          NIU         Niue 2016-01-01         NaN           9999.999776
8577          NIU         Niue 2017-01-01         NaN           9999.999776
8578          NIU         Niue 2018-01-01         NaN           9999.999776
8579          NIU         Niue 2019-01-01         NaN           9999.999776
     Country Code   Country Name       Year   population  Total including LUCF
170           NAC  North America 1990-01-01  277373464.0                   NaN
436           NAC  North America 1991-01-01  281077441.0                   NaN
702           NAC  North America 1992-01-01  284943859.0                   NaN
968           NAC  North America 1993-01-01  288662674.0                   NaN
1234          NAC  North America 1994-01-01  292185983.0                   NaN
1500          NAC  North America 1995-01-01  295640057.0                   NaN
1766          NAC  North America 1996-01-01  299064347.0                   NaN
2032          NAC  North America 1997-01-01  302623445.0                   NaN
2298          NAC  North America 1998-01-01  306070116.0                   NaN
2564          NAC  North America 1999-01-01  309502571.0                   NaN
2830          NAC  North America 2000-01-01  312909974.0                   NaN
3096          NAC  North America 2001-01-01  316052361.0                   NaN
3362          NAC  North America 2002-01-01  319048184.0                   NaN
3628          NAC  North America 2003-01-01  321815286.0                   NaN
3894          NAC  North America 2004-01-01  324809693.0                   NaN
4160          NAC  North America 2005-01-01  327824506.0                   NaN
4426          NAC  North America 2006-01-01  331015609.0                   NaN
4692          NAC  North America 2007-01-01  334185120.0                   NaN
4958          NAC  North America 2008-01-01  337406357.0                   NaN
5224          NAC  North America 2009-01-01  340466060.0                   NaN
5490          NAC  North America 2010-01-01  343397156.0                   NaN
5756          NAC  North America 2011-01-01  345987373.0                   NaN
6022          NAC  North America 2012-01-01  348656682.0                   NaN
6288          NAC  North America 2013-01-01  351207902.0                   NaN
6554          NAC  North America 2014-01-01  353888902.0                   NaN
6820          NAC  North America 2015-01-01  356507139.0                   NaN
7086          NAC  North America 2016-01-01  359245796.0                   NaN
7352          NAC  North America 2017-01-01  361731237.0                   NaN
7618          NAC  North America 2018-01-01  363967201.0                   NaN
7884          NAC  North America 2019-01-01  365995094.0                   NaN
8580          NaN  North America 1990-01-01          NaN          6.667000e+09
8581          NaN  North America 1991-01-01          NaN          6.629540e+09
8582          NaN  North America 1992-01-01          NaN          6.733250e+09
8583          NaN  North America 1993-01-01          NaN          6.852090e+09
8584          NaN  North America 1994-01-01          NaN          6.993080e+09
8585          NaN  North America 1995-01-01          NaN          7.058730e+09
8586          NaN  North America 1996-01-01          NaN          7.274480e+09
8587          NaN  North America 1997-01-01          NaN          7.575230e+09
8588          NaN  North America 1998-01-01          NaN          7.682240e+09
8589          NaN  North America 1999-01-01          NaN          7.664820e+09
8590          NaN  North America 2000-01-01          NaN          7.876230e+09
8591          NaN  North America 2001-01-01          NaN          7.971380e+09
8592          NaN  North America 2002-01-01          NaN          7.854530e+09
8593          NaN  North America 2003-01-01          NaN          7.973020e+09
8594          NaN  North America 2004-01-01          NaN          8.062770e+09
8595          NaN  North America 2005-01-01          NaN          8.130760e+09
8596          NaN  North America 2006-01-01          NaN          8.057150e+09
8597          NaN  North America 2007-01-01          NaN          8.217790e+09
8598          NaN  North America 2008-01-01          NaN          8.010070e+09
8599          NaN  North America 2009-01-01          NaN          7.550940e+09
8600          NaN  North America 2010-01-01          NaN          7.848150e+09
8601          NaN  North America 2011-01-01          NaN          7.573350e+09
8602          NaN  North America 2012-01-01          NaN          7.367290e+09
8603          NaN  North America 2013-01-01          NaN          7.509560e+09
8604          NaN  North America 2014-01-01          NaN          7.552360e+09
8605          NaN  North America 2015-01-01          NaN          7.464000e+09
8606          NaN  North America 2016-01-01          NaN          7.461920e+09
8607          NaN  North America 2017-01-01          NaN          7.418350e+09
8608          NaN  North America 2018-01-01          NaN          7.630500e+09
8609          NaN  North America 2019-01-01          NaN          7.515650e+09
     Country Code Country Name       Year  population  Total including LUCF
8610          PRK  North Korea 1990-01-01         NaN          1.611700e+08
8611          PRK  North Korea 1991-01-01         NaN          1.538900e+08
8612          PRK  North Korea 1992-01-01         NaN          1.399700e+08
8613          PRK  North Korea 1993-01-01         NaN          1.307500e+08
8614          PRK  North Korea 1994-01-01         NaN          1.215200e+08
8615          PRK  North Korea 1995-01-01         NaN          1.140200e+08
8616          PRK  North Korea 1996-01-01         NaN          1.023100e+08
8617          PRK  North Korea 1997-01-01         NaN          9.438000e+07
8618          PRK  North Korea 1998-01-01         NaN          8.603000e+07
8619          PRK  North Korea 1999-01-01         NaN          9.014000e+07
8620          PRK  North Korea 2000-01-01         NaN          9.367000e+07
8621          PRK  North Korea 2001-01-01         NaN          9.210000e+07
8622          PRK  North Korea 2002-01-01         NaN          8.914000e+07
8623          PRK  North Korea 2003-01-01         NaN          9.098000e+07
8624          PRK  North Korea 2004-01-01         NaN          9.321000e+07
8625          PRK  North Korea 2005-01-01         NaN          9.652000e+07
8626          PRK  North Korea 2006-01-01         NaN          9.863000e+07
8627          PRK  North Korea 2007-01-01         NaN          8.596000e+07
8628          PRK  North Korea 2008-01-01         NaN          9.410000e+07
8629          PRK  North Korea 2009-01-01         NaN          7.754000e+07
8630          PRK  North Korea 2010-01-01         NaN          7.437000e+07
8631          PRK  North Korea 2011-01-01         NaN          6.165000e+07
8632          PRK  North Korea 2012-01-01         NaN          6.326000e+07
8633          PRK  North Korea 2013-01-01         NaN          5.246000e+07
8634          PRK  North Korea 2014-01-01         NaN          5.661000e+07
8635          PRK  North Korea 2015-01-01         NaN          5.021000e+07
8636          PRK  North Korea 2016-01-01         NaN          5.535000e+07
8637          PRK  North Korea 2017-01-01         NaN          8.047000e+07
8638          PRK  North Korea 2018-01-01         NaN          7.686000e+07
8639          PRK  North Korea 2019-01-01         NaN          8.269000e+07
     Country Code     Country Name       Year  population  \
157           MKD  North Macedonia 1990-01-01   2044174.0
423           MKD  North Macedonia 1991-01-01   2036686.0
689           MKD  North Macedonia 1992-01-01   2018023.0
955           MKD  North Macedonia 1993-01-01   1996893.0
1221          MKD  North Macedonia 1994-01-01   1982458.0
1487          MKD  North Macedonia 1995-01-01   1983964.0
1753          MKD  North Macedonia 1996-01-01   1994226.0
2019          MKD  North Macedonia 1997-01-01   1996869.0
2285          MKD  North Macedonia 1998-01-01   2007523.0
2551          MKD  North Macedonia 1999-01-01   2017142.0
2817          MKD  North Macedonia 2000-01-01   2026350.0
3083          MKD  North Macedonia 2001-01-01   2034882.0
3349          MKD  North Macedonia 2002-01-01   2020157.0
3615          MKD  North Macedonia 2003-01-01   2026773.0
3881          MKD  North Macedonia 2004-01-01   2032544.0
4147          MKD  North Macedonia 2005-01-01   2036855.0
4413          MKD  North Macedonia 2006-01-01   2040228.0
4679          MKD  North Macedonia 2007-01-01   2043559.0
4945          MKD  North Macedonia 2008-01-01   2046898.0
5211          MKD  North Macedonia 2009-01-01   2050671.0
5477          MKD  North Macedonia 2010-01-01   2055004.0
5743          MKD  North Macedonia 2011-01-01   2058539.0
6009          MKD  North Macedonia 2012-01-01   2061044.0
6275          MKD  North Macedonia 2013-01-01   2064032.0
6541          MKD  North Macedonia 2014-01-01   2067471.0
6807          MKD  North Macedonia 2015-01-01   2070226.0
7073          MKD  North Macedonia 2016-01-01   2072490.0
7339          MKD  North Macedonia 2017-01-01   2074502.0
7605          MKD  North Macedonia 2018-01-01   2076217.0
7871          MKD  North Macedonia 2019-01-01   2076694.0

      Total including LUCF
157           1.390000e+07
423           1.320000e+07
689           1.265000e+07
955           1.266000e+07
1221          1.219000e+07
1487          1.182000e+07
1753          1.336000e+07
2019          1.221000e+07
2285          1.295000e+07
2551          1.204000e+07
2817          1.174000e+07
3083          1.176000e+07
3349          1.115000e+07
3615          1.199000e+07
3881          1.177000e+07
4147          1.213000e+07
4413          1.214000e+07
4679          1.264000e+07
4945          1.242000e+07
5211          1.172000e+07
5477          1.157000e+07
5743          1.249000e+07
6009          1.196000e+07
6275          1.107000e+07
6541          1.067000e+07
6807          1.042000e+07
7073          1.036000e+07
7339          1.088000e+07
7605          1.036000e+07
7871          1.126000e+07
     Country Code              Country Name       Year  population  \
164           MNP  Northern Mariana Islands 1990-01-01     48002.0
430           MNP  Northern Mariana Islands 1991-01-01     48302.0
696           MNP  Northern Mariana Islands 1992-01-01     48128.0
962           MNP  Northern Mariana Islands 1993-01-01     47948.0
1228          MNP  Northern Mariana Islands 1994-01-01     47780.0
1494          MNP  Northern Mariana Islands 1995-01-01     48717.0
1760          MNP  Northern Mariana Islands 1996-01-01     53367.0
2026          MNP  Northern Mariana Islands 1997-01-01     60817.0
2292          MNP  Northern Mariana Islands 1998-01-01     68501.0
2558          MNP  Northern Mariana Islands 1999-01-01     76237.0
2824          MNP  Northern Mariana Islands 2000-01-01     80338.0
3090          MNP  Northern Mariana Islands 2001-01-01     79479.0
3356          MNP  Northern Mariana Islands 2002-01-01     77162.0
3622          MNP  Northern Mariana Islands 2003-01-01     74623.0
3888          MNP  Northern Mariana Islands 2004-01-01     71898.0
4154          MNP  Northern Mariana Islands 2005-01-01     69025.0
4420          MNP  Northern Mariana Islands 2006-01-01     66060.0
4686          MNP  Northern Mariana Islands 2007-01-01     63050.0
4952          MNP  Northern Mariana Islands 2008-01-01     60032.0
5218          MNP  Northern Mariana Islands 2009-01-01     57056.0
5484          MNP  Northern Mariana Islands 2010-01-01     54087.0
5750          MNP  Northern Mariana Islands 2011-01-01     52520.0
6016          MNP  Northern Mariana Islands 2012-01-01     52359.0
6282          MNP  Northern Mariana Islands 2013-01-01     52141.0
6548          MNP  Northern Mariana Islands 2014-01-01     51856.0
6814          MNP  Northern Mariana Islands 2015-01-01     51514.0
7080          MNP  Northern Mariana Islands 2016-01-01     51133.0
7346          MNP  Northern Mariana Islands 2017-01-01     50729.0
7612          MNP  Northern Mariana Islands 2018-01-01     50304.0
7878          MNP  Northern Mariana Islands 2019-01-01     49858.0

      Total including LUCF
164                    NaN
430                    NaN
696                    NaN
962                    NaN
1228                   NaN
1494                   NaN
1760                   NaN
2026                   NaN
2292                   NaN
2558                   NaN
2824                   NaN
3090                   NaN
3356                   NaN
3622                   NaN
3888                   NaN
4154                   NaN
4420                   NaN
4686                   NaN
4952                   NaN
5218                   NaN
5484                   NaN
5750                   NaN
6016                   NaN
6282                   NaN
6548                   NaN
6814                   NaN
7080                   NaN
7346                   NaN
7612                   NaN
7878                   NaN
     Country Code Country Name       Year  population  Total including LUCF

7852          LKA    Sri Lanka 2019-01-01  21803000.0          3.790000e+07
     Country Code         Country Name       Year  population  \
125           KNA  St. Kitts and Nevis 1990-01-01     40636.0
391           KNA  St. Kitts and Nevis 1991-01-01     40542.0
657           KNA  St. Kitts and Nevis 1992-01-01     40900.0
923           KNA  St. Kitts and Nevis 1993-01-01     41447.0
1189          KNA  St. Kitts and Nevis 1994-01-01     42001.0
1455          KNA  St. Kitts and Nevis 1995-01-01     42550.0
1721          KNA  St. Kitts and Nevis 1996-01-01     43097.0
1987          KNA  St. Kitts and Nevis 1997-01-01     43656.0
2253          KNA  St. Kitts and Nevis 1998-01-01     44230.0
2519          KNA  St. Kitts and Nevis 1999-01-01     44825.0
2785          KNA  St. Kitts and Nevis 2000-01-01     45461.0
3051          KNA  St. Kitts and Nevis 2001-01-01     45986.0
3317          KNA  St. Kitts and Nevis 2002-01-01     46264.0
3583          KNA  St. Kitts and Nevis 2003-01-01     46431.0
3849          KNA  St. Kitts and Nevis 2004-01-01     46580.0
4115          KNA  St. Kitts and Nevis 2005-01-01     46725.0
4381          KNA  St. Kitts and Nevis 2006-01-01     46874.0
4647          KNA  St. Kitts and Nevis 2007-01-01     47015.0
4913          KNA  St. Kitts and Nevis 2008-01-01     47156.0
5179          KNA  St. Kitts and Nevis 2009-01-01     47286.0
5445          KNA  St. Kitts and Nevis 2010-01-01     47403.0
5711          KNA  St. Kitts and Nevis 2011-01-01     47581.0
5977          KNA  St. Kitts and Nevis 2012-01-01     47727.0
6243          KNA  St. Kitts and Nevis 2013-01-01     47767.0
6509          KNA  St. Kitts and Nevis 2014-01-01     47789.0
6775          KNA  St. Kitts and Nevis 2015-01-01     47790.0
7041          KNA  St. Kitts and Nevis 2016-01-01     47788.0
7307          KNA  St. Kitts and Nevis 2017-01-01     47785.0
7573          KNA  St. Kitts and Nevis 2018-01-01     47761.0
7839          KNA  St. Kitts and Nevis 2019-01-01     47712.0

      Total including LUCF
125                    NaN
391                    NaN
657                    NaN
923                    NaN
1189                   NaN
1455                   NaN
1721                   NaN
1987                   NaN
2253                   NaN
2519                   NaN
2785                   NaN
3051                   NaN
3317                   NaN
3583                   NaN
3849                   NaN
4115                   NaN
4381                   NaN
4647                   NaN
4913                   NaN
5179                   NaN
5445                   NaN
5711                   NaN
5977                   NaN
6243                   NaN
6509                   NaN
6775                   NaN
7041                   NaN
7307                   NaN
7573                   NaN
7839                   NaN
     Country Code Country Name       Year  population  Total including LUCF
133           LCA    St. Lucia 1990-01-01    142301.0                   NaN
399           LCA    St. Lucia 1991-01-01    144268.0                   NaN
665           LCA    St. Lucia 1992-01-01    146420.0                   NaN
931           LCA    St. Lucia 1993-01-01    148595.0                   NaN
1197          LCA    St. Lucia 1994-01-01    150561.0                   NaN
1463          LCA    St. Lucia 1995-01-01    152348.0                   NaN
1729          LCA    St. Lucia 1996-01-01    153969.0                   NaN
1995          LCA    St. Lucia 1997-01-01    155454.0                   NaN
2261          LCA    St. Lucia 1998-01-01    156855.0                   NaN
2527          LCA    St. Lucia 1999-01-01    158256.0                   NaN
2793          LCA    St. Lucia 2000-01-01    159500.0                   NaN
3059          LCA    St. Lucia 2001-01-01    160594.0                   NaN
3325          LCA    St. Lucia 2002-01-01    161799.0                   NaN
3591          LCA    St. Lucia 2003-01-01    163047.0                   NaN
3857          LCA    St. Lucia 2004-01-01    164239.0                   NaN
4123          LCA    St. Lucia 2005-01-01    165386.0                   NaN
4389          LCA    St. Lucia 2006-01-01    166470.0                   NaN
4655          LCA    St. Lucia 2007-01-01    167518.0                   NaN
4921          LCA    St. Lucia 2008-01-01    168576.0                   NaN
5187          LCA    St. Lucia 2009-01-01    169688.0                   NaN
5453          LCA    St. Lucia 2010-01-01    170935.0                   NaN
5719          LCA    St. Lucia 2011-01-01    172145.0                   NaN
5985          LCA    St. Lucia 2012-01-01    173124.0                   NaN
6251          LCA    St. Lucia 2013-01-01    173978.0                   NaN
6517          LCA    St. Lucia 2014-01-01    174804.0                   NaN
6783          LCA    St. Lucia 2015-01-01    175623.0                   NaN
7049          LCA    St. Lucia 2016-01-01    176413.0                   NaN
7315          LCA    St. Lucia 2017-01-01    177163.0                   NaN
7581          LCA    St. Lucia 2018-01-01    177888.0                   NaN
7847          LCA    St. Lucia 2019-01-01    178583.0                   NaN
     Country Code              Country Name       Year  population  \
147           MAF  St. Martin (French part) 1990-01-01     28127.0
413           MAF  St. Martin (French part) 1991-01-01     28736.0
679           MAF  St. Martin (French part) 1992-01-01     29035.0
945           MAF  St. Martin (French part) 1993-01-01     29247.0
1211          MAF  St. Martin (French part) 1994-01-01     29380.0
1477          MAF  St. Martin (French part) 1995-01-01     29435.0
1743          MAF  St. Martin (French part) 1996-01-01     29407.0
2009          MAF  St. Martin (French part) 1997-01-01     29299.0
2275          MAF  St. Martin (French part) 1998-01-01     29102.0
2541          MAF  St. Martin (French part) 1999-01-01     29099.0
2807          MAF  St. Martin (French part) 2000-01-01     29610.0
3073          MAF  St. Martin (French part) 2001-01-01     30387.0
3339          MAF  St. Martin (French part) 2002-01-01     31160.0
3605          MAF  St. Martin (French part) 2003-01-01     31929.0
3871          MAF  St. Martin (French part) 2004-01-01     32697.0
4137          MAF  St. Martin (French part) 2005-01-01     33452.0
4403          MAF  St. Martin (French part) 2006-01-01     34183.0
4669          MAF  St. Martin (French part) 2007-01-01     34887.0
4935          MAF  St. Martin (French part) 2008-01-01     35541.0
5201          MAF  St. Martin (French part) 2009-01-01     36132.0
5467          MAF  St. Martin (French part) 2010-01-01     36458.0
5733          MAF  St. Martin (French part) 2011-01-01     36350.0
5999          MAF  St. Martin (French part) 2012-01-01     36026.0
6265          MAF  St. Martin (French part) 2013-01-01     35639.0
6531          MAF  St. Martin (French part) 2014-01-01     35261.0
6797          MAF  St. Martin (French part) 2015-01-01     35020.0
7063          MAF  St. Martin (French part) 2016-01-01     34811.0
7329          MAF  St. Martin (French part) 2017-01-01     34496.0
7595          MAF  St. Martin (French part) 2018-01-01     33852.0
7861          MAF  St. Martin (French part) 2019-01-01     33121.0

      Total including LUCF
147                    NaN
413                    NaN
679                    NaN
945                    NaN
1211                   NaN
1477                   NaN
1743                   NaN
2009                   NaN
2275                   NaN
2541                   NaN
2807                   NaN
3073                   NaN
3339                   NaN
3605                   NaN
3871                   NaN
4137                   NaN
4403                   NaN
4669                   NaN
4935                   NaN
5201                   NaN
5467                   NaN
5733                   NaN
5999                   NaN
6265                   NaN
6531                   NaN
6797                   NaN
7063                   NaN
7329                   NaN
7595                   NaN
7861                   NaN
     Country Code                    Country Name       Year  population  \
253           VCT  St. Vincent and the Grenadines 1990-01-01    112487.0
519           VCT  St. Vincent and the Grenadines 1991-01-01    112780.0
785           VCT  St. Vincent and the Grenadines 1992-01-01    113222.0
1051          VCT  St. Vincent and the Grenadines 1993-01-01    113621.0
1317          VCT  St. Vincent and the Grenadines 1994-01-01    113944.0
1583          VCT  St. Vincent and the Grenadines 1995-01-01    114174.0
1849          VCT  St. Vincent and the Grenadines 1996-01-01    114290.0
2115          VCT  St. Vincent and the Grenadines 1997-01-01    114276.0
2381          VCT  St. Vincent and the Grenadines 1998-01-01    114165.0
2647          VCT  St. Vincent and the Grenadines 1999-01-01    113995.0
2913          VCT  St. Vincent and the Grenadines 2000-01-01    113813.0
3179          VCT  St. Vincent and the Grenadines 2001-01-01    113641.0
3445          VCT  St. Vincent and the Grenadines 2002-01-01    113450.0
3711          VCT  St. Vincent and the Grenadines 2003-01-01    113108.0
3977          VCT  St. Vincent and the Grenadines 2004-01-01    112608.0
4243          VCT  St. Vincent and the Grenadines 2005-01-01    112043.0
4509          VCT  St. Vincent and the Grenadines 2006-01-01    111427.0
4775          VCT  St. Vincent and the Grenadines 2007-01-01    110824.0
5041          VCT  St. Vincent and the Grenadines 2008-01-01    110316.0
5307          VCT  St. Vincent and the Grenadines 2009-01-01    109840.0
5573          VCT  St. Vincent and the Grenadines 2010-01-01    109308.0
5839          VCT  St. Vincent and the Grenadines 2011-01-01    108703.0
6105          VCT  St. Vincent and the Grenadines 2012-01-01    108083.0
6371          VCT  St. Vincent and the Grenadines 2013-01-01    107450.0
6637          VCT  St. Vincent and the Grenadines 2014-01-01    106912.0
6903          VCT  St. Vincent and the Grenadines 2015-01-01    106482.0
7169          VCT  St. Vincent and the Grenadines 2016-01-01    105963.0
7435          VCT  St. Vincent and the Grenadines 2017-01-01    105549.0
7701          VCT  St. Vincent and the Grenadines 2018-01-01    105281.0
7967          VCT  St. Vincent and the Grenadines 2019-01-01    104924.0

      Total including LUCF
253                    NaN
519                    NaN
785                    NaN
1051                   NaN
1317                   NaN
1583                   NaN
1849                   NaN
2115                   NaN
2381                   NaN
2647                   NaN
2913                   NaN
3179                   NaN
3445                   NaN
3711                   NaN
3977                   NaN
4243                   NaN
4509                   NaN
4775                   NaN
5041                   NaN
5307                   NaN
5573                   NaN
5839                   NaN
6105                   NaN
6371                   NaN
6637                   NaN
6903                   NaN
7169                   NaN
7435                   NaN
7701                   NaN
7967                   NaN
     Country Code        Country Name       Year    population  \
217           SSF  Sub-Saharan Africa 1990-01-01  5.166297e+08
483           SSF  Sub-Saharan Africa 1991-01-01  5.307170e+08
749           SSF  Sub-Saharan Africa 1992-01-01  5.448996e+08
1015          SSF  Sub-Saharan Africa 1993-01-01  5.594139e+08
1281          SSF  Sub-Saharan Africa 1994-01-01  5.740941e+08
1547          SSF  Sub-Saharan Africa 1995-01-01  5.893281e+08
1813          SSF  Sub-Saharan Africa 1996-01-01  6.051861e+08
2079          SSF  Sub-Saharan Africa 1997-01-01  6.210653e+08
2345          SSF  Sub-Saharan Africa 1998-01-01  6.371985e+08
2611          SSF  Sub-Saharan Africa 1999-01-01  6.538833e+08
2877          SSF  Sub-Saharan Africa 2000-01-01  6.712125e+08
3143          SSF  Sub-Saharan Africa 2001-01-01  6.891620e+08
3409          SSF  Sub-Saharan Africa 2002-01-01  7.076934e+08
3675          SSF  Sub-Saharan Africa 2003-01-01  7.267854e+08
3941          SSF  Sub-Saharan Africa 2004-01-01  7.465468e+08
4207          SSF  Sub-Saharan Africa 2005-01-01  7.669787e+08
4473          SSF  Sub-Saharan Africa 2006-01-01  7.881100e+08
4739          SSF  Sub-Saharan Africa 2007-01-01  8.100193e+08
5005          SSF  Sub-Saharan Africa 2008-01-01  8.326427e+08
5271          SSF  Sub-Saharan Africa 2009-01-01  8.558857e+08
5537          SSF  Sub-Saharan Africa 2010-01-01  8.797974e+08
5803          SSF  Sub-Saharan Africa 2011-01-01  9.042822e+08
6069          SSF  Sub-Saharan Africa 2012-01-01  9.293287e+08
6335          SSF  Sub-Saharan Africa 2013-01-01  9.550964e+08
6601          SSF  Sub-Saharan Africa 2014-01-01  9.815063e+08
6867          SSF  Sub-Saharan Africa 2015-01-01  1.008699e+09
7133          SSF  Sub-Saharan Africa 2016-01-01  1.036156e+09
7399          SSF  Sub-Saharan Africa 2017-01-01  1.063885e+09
7665          SSF  Sub-Saharan Africa 2018-01-01  1.092404e+09
7931          SSF  Sub-Saharan Africa 2019-01-01  1.121549e+09

      Total including LUCF
217                    NaN
483                    NaN
749                    NaN
1015                   NaN
1281                   NaN
1547                   NaN
1813                   NaN
2079                   NaN
2345                   NaN
2611                   NaN
2877                   NaN
3143                   NaN
3409                   NaN
3675                   NaN
3941                   NaN
4207                   NaN
4473                   NaN
4739                   NaN
5005                   NaN
5271                   NaN
5537                   NaN
5803                   NaN
6069                   NaN
6335                   NaN
6601                   NaN
6867                   NaN
7133                   NaN
7399                   NaN
7665                   NaN
7931                   NaN
     Country Code                               Country Name       Year  \
241           TSS  Sub-Saharan Africa (IDA & IBRD countries) 1990-01-01
507           TSS  Sub-Saharan Africa (IDA & IBRD countries) 1991-01-01
773           TSS  Sub-Saharan Africa (IDA & IBRD countries) 1992-01-01
1039          TSS  Sub-Saharan Africa (IDA & IBRD countries) 1993-01-01
1305          TSS  Sub-Saharan Africa (IDA & IBRD countries) 1994-01-01
1571          TSS  Sub-Saharan Africa (IDA & IBRD countries) 1995-01-01
1837          TSS  Sub-Saharan Africa (IDA & IBRD countries) 1996-01-01
2103          TSS  Sub-Saharan Africa (IDA & IBRD countries) 1997-01-01
2369          TSS  Sub-Saharan Africa (IDA & IBRD countries) 1998-01-01
2635          TSS  Sub-Saharan Africa (IDA & IBRD countries) 1999-01-01
2901          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2000-01-01
3167          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2001-01-01
3433          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2002-01-01
3699          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2003-01-01
3965          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2004-01-01
4231          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2005-01-01
4497          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2006-01-01
4763          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2007-01-01
5029          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2008-01-01
5295          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2009-01-01
5561          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2010-01-01
5827          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2011-01-01
6093          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2012-01-01
6359          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2013-01-01
6625          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2014-01-01
6891          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2015-01-01
7157          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2016-01-01
7423          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2017-01-01
7689          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2018-01-01
7955          TSS  Sub-Saharan Africa (IDA & IBRD countries) 2019-01-01

        population  Total including LUCF
241   5.166297e+08                   NaN
507   5.307170e+08                   NaN
773   5.448996e+08                   NaN
1039  5.594139e+08                   NaN
1305  5.740941e+08                   NaN
1571  5.893281e+08                   NaN
1837  6.051861e+08                   NaN
2103  6.210653e+08                   NaN
2369  6.371985e+08                   NaN
2635  6.538833e+08                   NaN
2901  6.712125e+08                   NaN
3167  6.891620e+08                   NaN
3433  7.076934e+08                   NaN
3699  7.267854e+08                   NaN
3965  7.465468e+08                   NaN
4231  7.669787e+08                   NaN
4497  7.881100e+08                   NaN
4763  8.100193e+08                   NaN
5029  8.326427e+08                   NaN
5295  8.558857e+08                   NaN
5561  8.797974e+08                   NaN
5827  9.042822e+08                   NaN
6093  9.293287e+08                   NaN
6359  9.550964e+08                   NaN
6625  9.815063e+08                   NaN
6891  1.008699e+09                   NaN
7157  1.036156e+09                   NaN
7423  1.063885e+09                   NaN
7689  1.092404e+09                   NaN
7955  1.121549e+09                   NaN
     Country Code                                Country Name       Year  \
215           SSA  Sub-Saharan Africa (excluding high income) 1990-01-01
481           SSA  Sub-Saharan Africa (excluding high income) 1991-01-01
747           SSA  Sub-Saharan Africa (excluding high income) 1992-01-01
1013          SSA  Sub-Saharan Africa (excluding high income) 1993-01-01
1279          SSA  Sub-Saharan Africa (excluding high income) 1994-01-01
1545          SSA  Sub-Saharan Africa (excluding high income) 1995-01-01
1811          SSA  Sub-Saharan Africa (excluding high income) 1996-01-01
2077          SSA  Sub-Saharan Africa (excluding high income) 1997-01-01
2343          SSA  Sub-Saharan Africa (excluding high income) 1998-01-01
2609          SSA  Sub-Saharan Africa (excluding high income) 1999-01-01
2875          SSA  Sub-Saharan Africa (excluding high income) 2000-01-01
3141          SSA  Sub-Saharan Africa (excluding high income) 2001-01-01
3407          SSA  Sub-Saharan Africa (excluding high income) 2002-01-01
3673          SSA  Sub-Saharan Africa (excluding high income) 2003-01-01
3939          SSA  Sub-Saharan Africa (excluding high income) 2004-01-01
4205          SSA  Sub-Saharan Africa (excluding high income) 2005-01-01
4471          SSA  Sub-Saharan Africa (excluding high income) 2006-01-01
4737          SSA  Sub-Saharan Africa (excluding high income) 2007-01-01
5003          SSA  Sub-Saharan Africa (excluding high income) 2008-01-01
5269          SSA  Sub-Saharan Africa (excluding high income) 2009-01-01
5535          SSA  Sub-Saharan Africa (excluding high income) 2010-01-01
5801          SSA  Sub-Saharan Africa (excluding high income) 2011-01-01
6067          SSA  Sub-Saharan Africa (excluding high income) 2012-01-01
6333          SSA  Sub-Saharan Africa (excluding high income) 2013-01-01
6599          SSA  Sub-Saharan Africa (excluding high income) 2014-01-01
6865          SSA  Sub-Saharan Africa (excluding high income) 2015-01-01
7131          SSA  Sub-Saharan Africa (excluding high income) 2016-01-01
7397          SSA  Sub-Saharan Africa (excluding high income) 2017-01-01
7663          SSA  Sub-Saharan Africa (excluding high income) 2018-01-01
7929          SSA  Sub-Saharan Africa (excluding high income) 2019-01-01

        population  Total including LUCF
215   5.165602e+08                   NaN
481   5.306465e+08                   NaN
747   5.448289e+08                   NaN
1013  5.593416e+08                   NaN

Empty DataFrame
Columns: []
Index: []

## ----------

In [18]:
#need to be melted

death_rate_from_air_pollution = pd.read_csv('death-rate-from-air-pollution-per-100000.csv')

age_dependency_ratio = pd.read_csv('Age dependency ratio.csv')
agricultural_land = pd.read_csv('Agricultural Land (% of land area).csv')
air_transport = pd.read_csv('air transport cargo.csv')
airline_travel = pd.read_csv('Airline travel 1970-2020.csv')
birth_rate = pd.read_csv('Birth rate per 1000 people.csv')
exports = pd.read_csv('Exports of goods and services Current US$.csv')
fertility_rate = pd.read_csv('Fertility rate.csv')
gdp_current = pd.read_csv('GDP Current US$.csv')
gdp_growth = pd.read_csv('GDP Growth %.csv')
labor_force = pd.read_csv('labor force.csv')
life_expectancy = pd.read_csv('Life expectancy at birth.csv')
manufacturing = pd.read_csv('Manufacturing value added current US$.csv')
natural_resources = pd.read_csv('Natural resources rents (% of GDP) 1970-2021.csv')
patent_applications = pd.read_csv('Patent applications (residents).csv')
unemployment = pd.read_csv('Unemployment % of total labor force.csv')

#no need to melt
cross_country_literacy = pd.read_csv('cross-country-literacy-rates.csv')
energy_use = pd.read_csv('energy use per person.csv')

new_vehicle = pd.read_csv('new vehicle registrations by type 2000-2020.csv')
researchers = pd.read_csv('researchers-in-rd-per-million-people.csv')
share_of_electric_vehicle = pd.read_csv('share of new electric vehicles or hybrid registrations 2001-2020.csv')
total_expenditure_on_education = pd.read_csv('total-government-expenditure-on-education-gdp.csv')

In [19]:
agricultural_land.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [20]:
#transformation here
#display(age_dependency_ratio)

age_dependency_ratio_m = melt(age_dependency_ratio, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='age_dependency_ratio')
#print("=== melt(age_dependency_ratio) ===")
#display(age_dependency_ratio_m)

age_dependency_ratio_m = age_dependency_ratio_m.drop('Indicator Name', axis='columns')
age_dependency_ratio_m = age_dependency_ratio_m.drop('Indicator Code', axis='columns')


age_dependency_ratio_m['Year'] = pd.to_datetime(age_dependency_ratio_m['Year'], format='%Y')
age_dependency_ratio_m = age_dependency_ratio_m[(age_dependency_ratio_m['Year'] >= '1989-12-01') & (age_dependency_ratio_m['Year'] < '2019-01-01')]
age_dependency_ratio_m

    Country Code                 Country Name       Year  age_dependency_ratio
0            ABW                        Aruba 1990-01-01             49.957783
1            AFE  Africa Eastern and Southern 1990-01-01             94.580170
2            AFG                  Afghanistan 1990-01-01             98.890488
3            AFW   Africa Western and Central 1990-01-01             94.979236
4            AGO                       Angola 1990-01-01             94.863094
..           ...                          ...        ...                   ...
261          XKX                       Kosovo 2018-01-01             48.883879
262          YEM                  Yemen, Rep. 2018-01-01             77.198481
263          ZAF                 South Africa 2018-01-01             52.754906
264          ZMB                       Zambia 2018-01-01             85.838977
265          ZWE                     Zimbabwe 2018-01-01             82.123347

[7714 rows x 4 columns]

In [21]:
agricultural_land_m = melt(agricultural_land, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='agricultural_land')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

agricultural_land_m = agricultural_land_m.drop('Indicator Name', axis='columns')
agricultural_land_m = agricultural_land_m.drop('Indicator Code', axis='columns')


agricultural_land_m['Year'] = pd.to_datetime(agricultural_land_m['Year'], format='%Y')
agricultural_land_m = agricultural_land_m[(agricultural_land_m['Year'] >= '1989-12-01') & (agricultural_land_m['Year'] < '2019-01-01')]
agricultural_land_m

    Country Code                 Country Name       Year  agricultural_land
0            ABW                        Aruba 1990-01-01          11.111111
1            AFE  Africa Eastern and Southern 1990-01-01          44.077433
2            AFG                  Afghanistan 1990-01-01          58.322984
3            AFW   Africa Western and Central 1990-01-01          35.127197
4            AGO                       Angola 1990-01-01          36.421930
..           ...                          ...        ...                ...
261          XKX                       Kosovo 2018-01-01                NaN
262          YEM                  Yemen, Rep. 2018-01-01          44.419190
263          ZAF                 South Africa 2018-01-01          79.417850
264          ZMB                       Zambia 2018-01-01          32.063923
265          ZWE                     Zimbabwe 2018-01-01          41.876696

[7714 rows x 4 columns]

In [22]:
#transformation here
#display(agricultural_land)

air_transport_m = melt(air_transport, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='air_transport')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

air_transport_m = air_transport_m.drop('Indicator Name', axis='columns')
air_transport_m = air_transport_m.drop('Indicator Code', axis='columns')


air_transport_m['Year'] = pd.to_datetime(air_transport_m['Year'], format='%Y')
air_transport_m = air_transport_m[(air_transport_m['Year'] >= '1989-12-01') & (air_transport_m['Year'] < '2019-01-01')]
air_transport_m

    Country Code                 Country Name       Year  air_transport
0            ABW                        Aruba 1990-01-01            NaN
1            AFE  Africa Eastern and Southern 1990-01-01     652.499998
2            AFG                  Afghanistan 1990-01-01       9.400000
3            AFW   Africa Western and Central 1990-01-01     259.900005
4            AGO                       Angola 1990-01-01      39.900002
..           ...                          ...        ...            ...
261          XKX                       Kosovo 2018-01-01            NaN
262          YEM                  Yemen, Rep. 2018-01-01       3.270000
263          ZAF                 South Africa 2018-01-01     696.730006
264          ZMB                       Zambia 2018-01-01      75.077398
265          ZWE                     Zimbabwe 2018-01-01       0.665035

[7714 rows x 4 columns]

In [23]:
#transformation here
#display(agricultural_land)

airline_travel_m = melt(airline_travel, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='airline_travel')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

airline_travel_m = airline_travel_m.drop('Indicator Name', axis='columns')
airline_travel_m = airline_travel_m.drop('Indicator Code', axis='columns')


airline_travel_m['Year'] = pd.to_datetime(airline_travel_m['Year'], format='%Y')
airline_travel_m = airline_travel_m[(airline_travel_m['Year'] >= '1989-12-01') & (airline_travel_m['Year'] < '2019-01-01')]
airline_travel_m

    Country Code                 Country Name       Year  airline_travel
0            ABW                        Aruba 1990-01-01             NaN
1            AFE  Africa Eastern and Southern 1990-01-01    1.125740e+07
2            AFG                  Afghanistan 1990-01-01    2.414000e+05
3            AFW   Africa Western and Central 1990-01-01    3.551000e+06
4            AGO                       Angola 1990-01-01    4.515000e+05
..           ...                          ...        ...             ...
261          XKX                       Kosovo 2018-01-01             NaN
262          YEM                  Yemen, Rep. 2018-01-01    3.363100e+05
263          ZAF                 South Africa 2018-01-01    2.466039e+07
264          ZMB                       Zambia 2018-01-01    1.663314e+04
265          ZWE                     Zimbabwe 2018-01-01    2.825390e+05

[7714 rows x 4 columns]

In [24]:
#transformation here
#display(agricultural_land)

birth_rate_m = melt(birth_rate, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='birth_rate')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

birth_rate_m = birth_rate_m.drop('Indicator Name', axis='columns')
birth_rate_m = birth_rate_m.drop('Indicator Code', axis='columns')


birth_rate_m['Year'] = pd.to_datetime(birth_rate_m['Year'], format='%Y')
birth_rate_m = birth_rate_m[(birth_rate_m['Year'] >= '1989-12-01') & (birth_rate_m['Year'] < '2019-01-01')]
birth_rate_m

    Country Code                 Country Name       Year  birth_rate
0            ABW                        Aruba 1990-01-01   18.662000
1            AFE  Africa Eastern and Southern 1990-01-01   44.230719
2            AFG                  Afghanistan 1990-01-01   51.423000
3            AFW   Africa Western and Central 1990-01-01   44.676194
4            AGO                       Angola 1990-01-01   51.344000
..           ...                          ...        ...         ...
261          XKX                       Kosovo 2018-01-01   12.094000
262          YEM                  Yemen, Rep. 2018-01-01   32.305000
263          ZAF                 South Africa 2018-01-01   21.137000
264          ZMB                       Zambia 2018-01-01   36.040000
265          ZWE                     Zimbabwe 2018-01-01   32.074000

[7714 rows x 4 columns]

In [25]:
#transformation here
#display(agricultural_land)

exports_m = melt(exports, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='exports')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

exports_m = exports_m.drop('Indicator Name', axis='columns')
exports_m = exports_m.drop('Indicator Code', axis='columns')


exports_m['Year'] = pd.to_datetime(exports_m['Year'], format='%Y')
exports_m = exports_m[(exports_m['Year'] >= '1989-12-01') & (exports_m['Year'] < '2019-01-01')]
exports_m

    Country Code                 Country Name       Year       exports
0            ABW                        Aruba 1990-01-01           NaN
1            AFE  Africa Eastern and Southern 1990-01-01  5.219403e+10
2            AFG                  Afghanistan 1990-01-01           NaN
3            AFW   Africa Western and Central 1990-01-01  3.096515e+10
4            AGO                       Angola 1990-01-01           NaN
..           ...                          ...        ...           ...
261          XKX                       Kosovo 2018-01-01  2.288980e+09
262          YEM                  Yemen, Rep. 2018-01-01  1.308592e+09
263          ZAF                 South Africa 2018-01-01  1.113970e+11
264          ZMB                       Zambia 2018-01-01  9.987197e+09
265          ZWE                     Zimbabwe 2018-01-01  8.936585e+09

[7714 rows x 4 columns]

In [26]:
#transformation here
#display(agricultural_land)

fertility_rate_m = melt(fertility_rate, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='fertility_rate')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

fertility_rate_m = fertility_rate_m.drop('Indicator Name', axis='columns')
fertility_rate_m = fertility_rate_m.drop('Indicator Code', axis='columns')


fertility_rate_m['Year'] = pd.to_datetime(fertility_rate_m['Year'], format='%Y')
fertility_rate_m = fertility_rate_m[(fertility_rate_m['Year'] >= '1989-12-01') & (fertility_rate_m['Year'] < '2019-01-01')]
fertility_rate_m

    Country Code                 Country Name       Year  fertility_rate
0            ABW                        Aruba 1990-01-01        2.303000
1            AFE  Africa Eastern and Southern 1990-01-01        6.166608
2            AFG                  Afghanistan 1990-01-01        7.565000
3            AFW   Africa Western and Central 1990-01-01        6.518278
4            AGO                       Angola 1990-01-01        7.272000
..           ...                          ...        ...             ...
261          XKX                       Kosovo 2018-01-01        1.605000
262          YEM                  Yemen, Rep. 2018-01-01        4.043000
263          ZAF                 South Africa 2018-01-01        2.418000
264          ZMB                       Zambia 2018-01-01        4.536000
265          ZWE                     Zimbabwe 2018-01-01        3.659000

[7714 rows x 4 columns]

In [27]:
#transformation here
#display(agricultural_land)

gdp_current_m = melt(gdp_current, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='gdp_current')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

gdp_current_m = gdp_current_m.drop('Indicator Name', axis='columns')
gdp_current_m = gdp_current_m.drop('Indicator Code', axis='columns')


gdp_current_m['Year'] = pd.to_datetime(gdp_current_m['Year'], format='%Y')
gdp_current_m = gdp_current_m[(gdp_current_m['Year'] >= '1989-12-01') & (gdp_current_m['Year'] < '2019-01-01')]
gdp_current_m

    Country Code                 Country Name       Year   gdp_current
0            ABW                        Aruba 1990-01-01  7.648045e+08
1            AFE  Africa Eastern and Southern 1990-01-01  2.532350e+11
2            AFG                  Afghanistan 1990-01-01           NaN
3            AFW   Africa Western and Central 1990-01-01  1.218020e+11
4            AGO                       Angola 1990-01-01  1.122876e+10
..           ...                          ...        ...           ...
261          XKX                       Kosovo 2018-01-01  7.878509e+09
262          YEM                  Yemen, Rep. 2018-01-01  2.160616e+10
263          ZAF                 South Africa 2018-01-01  4.041600e+11
264          ZMB                       Zambia 2018-01-01  2.631159e+10
265          ZWE                     Zimbabwe 2018-01-01  3.415607e+10

[7714 rows x 4 columns]

In [28]:
#transformation here
#display(agricultural_land)

gdp_growth_m = melt(gdp_growth, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='gdp_growth')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

gdp_growth_m = gdp_growth_m.drop('Indicator Name', axis='columns')
gdp_growth_m = gdp_growth_m.drop('Indicator Code', axis='columns')


gdp_growth_m['Year'] = pd.to_datetime(gdp_growth_m['Year'], format='%Y')
gdp_growth_m = gdp_growth_m[(gdp_growth_m['Year'] >= '1989-12-01') & (gdp_growth_m['Year'] < '2019-01-01')]
gdp_growth_m

    Country Code                 Country Name       Year  gdp_growth
0            ABW                        Aruba 1990-01-01    3.961402
1            AFE  Africa Eastern and Southern 1990-01-01   -0.032630
2            AFG                  Afghanistan 1990-01-01         NaN
3            AFW   Africa Western and Central 1990-01-01    6.600199
4            AGO                       Angola 1990-01-01   -3.450099
..           ...                          ...        ...         ...
261          XKX                       Kosovo 2018-01-01    3.406631
262          YEM                  Yemen, Rep. 2018-01-01    0.752448
263          ZAF                 South Africa 2018-01-01    1.522329
264          ZMB                       Zambia 2018-01-01    4.034494
265          ZWE                     Zimbabwe 2018-01-01    5.009867

[7714 rows x 4 columns]

In [29]:
#transformation here
#display(agricultural_land)

labor_force_m = melt(labor_force, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='labor_force')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

labor_force_m = labor_force_m.drop('Indicator Name', axis='columns')
labor_force_m = labor_force_m.drop('Indicator Code', axis='columns')


labor_force_m['Year'] = pd.to_datetime(labor_force_m['Year'], format='%Y')
labor_force_m = labor_force_m[(labor_force_m['Year'] >= '1989-12-01') & (labor_force_m['Year'] < '2019-01-01')]
labor_force_m

    Country Code                 Country Name       Year  labor_force
0            ABW                        Aruba 1990-01-01          NaN
1            AFE  Africa Eastern and Southern 1990-01-01  121955049.0
2            AFG                  Afghanistan 1990-01-01    2641964.0
3            AFW   Africa Western and Central 1990-01-01   74675274.0
4            AGO                       Angola 1990-01-01    4889409.0
..           ...                          ...        ...          ...
261          XKX                       Kosovo 2018-01-01          NaN
262          YEM                  Yemen, Rep. 2018-01-01    6894546.0
263          ZAF                 South Africa 2018-01-01   23771538.0
264          ZMB                       Zambia 2018-01-01    5789287.0
265          ZWE                     Zimbabwe 2018-01-01    5770226.0

[7714 rows x 4 columns]

In [30]:
#transformation here
#display(agricultural_land)

life_expectancy_m = melt(life_expectancy, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='life_expectancy')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

life_expectancy_m = life_expectancy_m.drop('Indicator Name', axis='columns')
life_expectancy_m = life_expectancy_m.drop('Indicator Code', axis='columns')


life_expectancy_m['Year'] = pd.to_datetime(life_expectancy_m['Year'], format='%Y')
life_expectancy_m = life_expectancy_m[(life_expectancy_m['Year'] >= '1989-12-01') & (life_expectancy_m['Year'] < '2019-01-01')]
life_expectancy_m

    Country Code                 Country Name       Year  life_expectancy
0            ABW                        Aruba 1990-01-01        73.076000
1            AFE  Africa Eastern and Southern 1990-01-01        50.607728
2            AFG                  Afghanistan 1990-01-01        45.967000
3            AFW   Africa Western and Central 1990-01-01        48.650003
4            AGO                       Angola 1990-01-01        41.893000
..           ...                          ...        ...              ...
261          XKX                       Kosovo 2018-01-01        78.696000
262          YEM                  Yemen, Rep. 2018-01-01        64.575000
263          ZAF                 South Africa 2018-01-01        65.674000
264          ZMB                       Zambia 2018-01-01        62.342000
265          ZWE                     Zimbabwe 2018-01-01        61.414000

[7714 rows x 4 columns]

In [31]:
#transformation here
#display(agricultural_land)

manufacturing_m = melt(manufacturing, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='manufacturing')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

manufacturing_m = manufacturing_m.drop('Indicator Name', axis='columns')
manufacturing_m = manufacturing_m.drop('Indicator Code', axis='columns')


manufacturing_m['Year'] = pd.to_datetime(manufacturing_m['Year'], format='%Y')
manufacturing_m = manufacturing_m[(manufacturing_m['Year'] >= '1989-12-01') & (manufacturing_m['Year'] < '2019-01-01')]
manufacturing_m

    Country Code                 Country Name       Year  manufacturing
0            ABW                        Aruba 1990-01-01            NaN
1            AFE  Africa Eastern and Southern 1990-01-01   4.234682e+10
2            AFG                  Afghanistan 1990-01-01            NaN
3            AFW   Africa Western and Central 1990-01-01   1.819253e+10
4            AGO                       Angola 1990-01-01            NaN
..           ...                          ...        ...            ...
261          XKX                       Kosovo 2018-01-01   1.034250e+09
262          YEM                  Yemen, Rep. 2018-01-01            NaN
263          ZAF                 South Africa 2018-01-01   5.048741e+10
264          ZMB                       Zambia 2018-01-01   1.801756e+09
265          ZWE                     Zimbabwe 2018-01-01   4.671914e+09

[7714 rows x 4 columns]

In [32]:
#transformation here
#display(agricultural_land)

natural_resources_m = melt(natural_resources, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='natural_resources')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

natural_resources_m = natural_resources_m.drop('Indicator Name', axis='columns')
natural_resources_m = natural_resources_m.drop('Indicator Code', axis='columns')


natural_resources_m['Year'] = pd.to_datetime(natural_resources_m['Year'], format='%Y')
natural_resources_m = natural_resources_m[(natural_resources_m['Year'] >= '1989-12-01') & (natural_resources_m['Year'] < '2019-01-01')]
natural_resources_m

    Country Code                 Country Name       Year  natural_resources
0            ABW                        Aruba 1990-01-01           0.001552
1            AFE  Africa Eastern and Southern 1990-01-01           7.289594
2            AFG                  Afghanistan 1990-01-01                NaN
3            AFW   Africa Western and Central 1990-01-01          17.436494
4            AGO                       Angola 1990-01-01          28.938576
..           ...                          ...        ...                ...
261          XKX                       Kosovo 2018-01-01           0.572220
262          YEM                  Yemen, Rep. 2018-01-01           4.609356
263          ZAF                 South Africa 2018-01-01           3.397165
264          ZMB                       Zambia 2018-01-01          11.548952
265          ZWE                     Zimbabwe 2018-01-01           6.085075

[7714 rows x 4 columns]

In [33]:
#transformation here
#display(agricultural_land)

patent_applications_m = melt(patent_applications, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='patent_applications')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

patent_applications_m = patent_applications_m.drop('Indicator Name', axis='columns')
patent_applications_m = patent_applications_m.drop('Indicator Code', axis='columns')


patent_applications_m['Year'] = pd.to_datetime(patent_applications_m['Year'], format='%Y')
patent_applications_m = patent_applications_m[(patent_applications_m['Year'] >= '1989-12-01') & (patent_applications_m['Year'] < '2019-01-01')]
patent_applications_m

    Country Code                 Country Name       Year  patent_applications
0            ABW                        Aruba 1990-01-01                  NaN
1            AFE  Africa Eastern and Southern 1990-01-01                  NaN
2            AFG                  Afghanistan 1990-01-01                  NaN
3            AFW   Africa Western and Central 1990-01-01                  NaN
4            AGO                       Angola 1990-01-01                  NaN
..           ...                          ...        ...                  ...
261          XKX                       Kosovo 2018-01-01                  NaN
262          YEM                  Yemen, Rep. 2018-01-01                  NaN
263          ZAF                 South Africa 2018-01-01                657.0
264          ZMB                       Zambia 2018-01-01                 11.0
265          ZWE                     Zimbabwe 2018-01-01                  NaN

[7714 rows x 4 columns]

In [34]:
#transformation here
#display(agricultural_land)

unemployment_m = melt(unemployment, col_vals=['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'], key='Year', value='unemployment')
#print("=== melt(agricultural_land) ===")
#display(agricultural_land_m)

unemployment_m = unemployment_m.drop('Indicator Name', axis='columns')
unemployment_m = unemployment_m.drop('Indicator Code', axis='columns')


unemployment_m['Year'] = pd.to_datetime(unemployment_m['Year'], format='%Y')
unemployment_m = unemployment_m[(unemployment_m['Year'] >= '1989-12-01') & (unemployment_m['Year'] < '2019-01-01')]
unemployment_m

    Country Code                 Country Name       Year  unemployment
0            ABW                        Aruba 1990-01-01           NaN
1            AFE  Africa Eastern and Southern 1990-01-01           NaN
2            AFG                  Afghanistan 1990-01-01           NaN
3            AFW   Africa Western and Central 1990-01-01           NaN
4            AGO                       Angola 1990-01-01           NaN
..           ...                          ...        ...           ...
261          XKX                       Kosovo 2018-01-01     27.760000
262          YEM                  Yemen, Rep. 2018-01-01           NaN
263          ZAF                 South Africa 2018-01-01     24.219999
264          ZMB                       Zambia 2018-01-01      5.030000
265          ZWE                     Zimbabwe 2018-01-01           NaN

[7714 rows x 4 columns]

In [35]:
data_frames2 = [age_dependency_ratio_m, 
                agricultural_land_m, 
                air_transport_m,
                airline_travel_m,
                birth_rate_m,
                exports_m,
                fertility_rate_m, 
                gdp_current_m, 
                gdp_growth_m, 
                labor_force_m,
                life_expectancy_m,
                manufacturing_m,
                natural_resources_m,
                patent_applications_m,
                unemployment_m,
               ]

In [38]:
df_merged2 = reduce(lambda  left,right: pd.merge(left,right,on=['Country Name','Country Code','Year'],
                                            how='outer'), data_frames2)
# if you want to fill the values that don't exist in the lines of merged dataframe simply fill with required strings as

df_merged2 = reduce(lambda  left,right: pd.merge(left,right,on=['Country Name','Country Code','Year'],
                                            how='outer'), data_frames2).fillna('void')

df_merged2

,Country Code,Country Name,Year,age_dependency_ratio,agricultural_land,air_transport,airline_travel,birth_rate,exports,fertility_rate,gdp_current,gdp_growth,labor_force,life_expectancy,manufacturing,natural_resources,patent_applications,unemployment
0,ABW,Aruba,1990-01-01,49.957783,11.111111,void,void,18.662,void,2.303,764804469.3,3.961402,void,73.076,void,0.001552,void,void
1,AFE,Africa Eastern and Southern,1990-01-01,94.58017,44.077433,652.499998,11257400.0,44.230719,52194032768.0,6.166608,253235000000.0,-0.03263,121955049.0,50.607728,42346817427.0,7.289594,void,void
2,AFG,Afghanistan,1990-01-01,98.890488,58.322984,9.4,241400.0,51.423,void,7.565,void,void,2641964.0,45.967,void,void,void,void
3,AFW,Africa Western and Central,1990-01-01,94.979236,35.127197,259.900005,3551000.0,44.676194,30965147678.0,6.518278,121802000000.0,6.600199,74675274.0,48.650003,18192526704.0,17.436494,void,void
4,AGO,Angola,1990-01-01,94.863094,36.42193,39.900002,451500.0,51.344,void,7.272,11228764963.0,-3.450099,4889409.0,41.893,void,28.938576,void,void
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7709,XKX,Kosovo,2018-01-01,48.883879,void,void,void,12.094,2288979688.0,1.605,7878508503.0,3.406631,void,78.696,1034250118.0,0.57222,void,27.76
7710,YEM,"Yemen, Rep.",2018-01-01,77.198481,44.41919,3.27,336310.0,32.305,1308592291.0,4.043,21606161066.0,0.752448,6894546.0,64.575,void,4.609356,void,void
7711,ZAF,South Africa,2018-01-01,52.754906,79.41785,696.730006,24660386.0,21.137,111397000000.0,2.418,404160000000.0,1.522329,23771538.0,65.674,50487411595.0,3.397165,657.0,24.219999
7712,ZMB,Zambia,2018-01-01,85.838977,32.063923,75.077398,16633.13894,36.04,9987196772.0,4.536,26311590297.0,4.034494,5789287.0,62.342,1801756261.0,11.548952,11.0,5.03
7713,ZWE,Zimbabwe,2018-01-01,82.123347,41.876696,0.665035,282539.0,32.074,8936584957.0,3.659,34156069918.0,5.009867,5770226.0,61.414,4671914038.0,6.085075,void,void

In [39]:
# age_dependency_ratio = pd.read_csv('Age dependency ratio.csv')
# agricultural_land = pd.read_csv('Agricultural Land (% of land area).csv')
# air_transport = pd.read_csv('air transport cargo.csv')
# airline_travel = pd.read_csv('Airline travel 1970-2020.csv')
# birth_rate = pd.read_csv('Birth rate per 1000 people.csv')
# exports = pd.read_csv('Exports of goods and services Current US$.csv')
# fertility_rate = pd.read_csv('Fertility rate.csv')
# gdp_current = pd.read_csv('GDP Current US$.csv')
# gdp_growth = pd.read_csv('GDP Growth %.csv')
# labor_force = pd.read_csv('labor force.csv')
# life_expectancy = pd.read_csv('Life expectancy at birth.csv')
# manufacturing = pd.read_csv('Manufacturing value added current US$.csv')
# natural_resources = pd.read_csv('Natural resources rents (% of GDP) 1970-2021.csv')
# patent_applications = pd.read_csv('Patent applications (residents).csv')
# unemployment = pd.read_csv('Unemployment % of total labor force.csv')


# #no need to melt
# cross_country_literacy = pd.read_csv('cross-country-literacy-rates.csv')
# energy_use = pd.read_csv('energy use per person.csv')
# new_vehicle = pd.read_csv('new vehicle registrations by type 2000-2020.csv')
# researchers = pd.read_csv('researchers-in-rd-per-million-people.csv')
# share_of_electric_vehicle = pd.read_csv('share of new electric vehicles or hybrid registrations 2001-2020.csv')
# total_expenditure_on_education = pd.read_csv('total-government-expenditure-on-education-gdp.csv')

In [40]:
cross_country_literacy.groupby('Entity').apply(print)

        Entity Code  Year  \
0  Afghanistan  AFG  1979
1  Afghanistan  AFG  2011
2  Afghanistan  AFG  2015

   Literacy rates (World Bank, CIA World Factbook, and other sources)
0                                          18.157681
1                                          31.741119
2                                          38.168041
    Entity Code  Year  \
3  Albania  ALB  2001
4  Albania  ALB  2008
5  Albania  ALB  2011
6  Albania  ALB  2012
7  Albania  ALB  2015

   Literacy rates (World Bank, CIA World Factbook, and other sources)
3                                          98.712982
4                                          95.938637
5                                          96.845299
6                                          97.246971
7                                          97.553902
     Entity Code  Year  \
8   Algeria  DZA  1987
9   Algeria  DZA  2002
10  Algeria  DZA  2006
11  Algeria  DZA  2008
12  Algeria  DZA  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
8                                           49.630878
9                                           69.873497
10                                          72.648682
11                                          75.136047
12                                          79.608398
            Entity Code  Year  \
13  American Samoa  ASM  1980

    Literacy rates (World Bank, CIA World Factbook, and other sources)
13                                          97.344162
     Entity Code  Year  \
14  Andorra  AND  2011

    Literacy rates (World Bank, CIA World Factbook, and other sources)
14                                              100.0
    Entity Code  Year  \
15  Angola  AGO  2001
16  Angola  AGO  2014
17  Angola  AGO  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
15                                          67.405418
16                                          70.991089
17                                          71.164162
      Entity Code  Year  \
18  Anguilla  AIA  1984

    Literacy rates (World Bank, CIA World Factbook, and other sources)
18                                               95.0
                 Entity Code  Year  \
19  Antigua and Barbuda  ATG  2001
20  Antigua and Barbuda  ATG  2014

    Literacy rates (World Bank, CIA World Factbook, and other sources)
19                                          98.949997
20                                          98.949997
        Entity Code  Year  \
21  Arab World  NaN  1990
22  Arab World  NaN  2000
23  Arab World  NaN  2010

    Literacy rates (World Bank, CIA World Factbook, and other sources)
21                                          54.593472
22                                          66.006065
23                                          77.364586
       Entity Code  Year  \
24  Argentina  ARG  1900
25  Argentina  ARG  1910
26  Argentina  ARG  1920
27  Argentina  ARG  1930
28  Argentina  ARG  1940
29  Argentina  ARG  1950
30  Argentina  ARG  1960
31  Argentina  ARG  1970
32  Argentina  ARG  1979
33  Argentina  ARG  1980
34  Argentina  ARG  1991
35  Argentina  ARG  2001
36  Argentina  ARG  2014
37  Argentina  ARG  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
24                                          51.299999
25                                          60.400002
26                                          68.199997
27                                          74.900002
28                                          81.699997
29                                          87.599998
30                                          91.400002
31                                          93.000000
32                                          94.199997
33                                          93.912857
34                                          96.128197
35                                          97.193314
36                                          98.034019
37                                          98.089973
     Entity Code  Year  \
38  Armenia  ARM  1989
39  Armenia  ARM  2001
40  Armenia  ARM  2011
41  Armenia  ARM  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
38                                          98.751961
39                                          99.400162
40                                          99.744408
41                                          99.768417
   Entity Code  Year  \
42  Aruba  ABW  2000
43  Aruba  ABW  2010
44  Aruba  ABW  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
42                                          97.291252
43                                          96.822639
44                                          97.524200
       Entity Code  Year  \
45  Australia  AUS  2003

    Literacy rates (World Bank, CIA World Factbook, and other sources)
45                                               99.0
     Entity Code  Year  \
46  Austria  AUT  2011

    Literacy rates (World Bank, CIA World Factbook, and other sources)
46                                               98.0
        Entity Code  Year  \
47  Azerbaijan  AZE  1999
48  Azerbaijan  AZE  2007
49  Azerbaijan  AZE  2009
50  Azerbaijan  AZE  2010
51  Azerbaijan  AZE  2011
52  Azerbaijan  AZE  2012
53  Azerbaijan  AZE  2013
54  Azerbaijan  AZE  2014
55  Azerbaijan  AZE  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
47                                          98.791801
48                                          99.601913
49                                          99.759842
50                                          99.771141
51                                          99.778633
52                                          99.775772
53                                          99.789360
54                                          99.788986
55                                          99.805260
     Entity Code  Year  \
56  Bahamas  BHS  2003

    Literacy rates (World Bank, CIA World Factbook, and other sources)
56                                          95.599998
     Entity Code  Year  \
57  Bahrain  BHR  1981
58  Bahrain  BHR  1991
59  Bahrain  BHR  2001
60  Bahrain  BHR  2010
61  Bahrain  BHR  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
57                                          69.753510
58                                          84.013832
59                                          86.548737
60                                          94.556793
61                                          95.717262
        Entity Code  Year  \
62  Bangladesh  BGD  1981
63  Bangladesh  BGD  1991
64  Bangladesh  BGD  2001
65  Bangladesh  BGD  2014
66  Bangladesh  BGD  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
62                                          29.227230
63                                          35.319302
64                                          47.485500
65                                          60.575218
66                                          61.493832
      Entity Code  Year  \
67  Barbados  BRB  1970
68  Barbados  BRB  2002

    Literacy rates (World Bank, CIA World Factbook, and other sources)
67                                          99.268082
68                                          99.699997
     Entity Code  Year  \
69  Belarus  BLR  1989
70  Belarus  BLR  1999
71  Belarus  BLR  2009
72  Belarus  BLR  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
69                                          97.883369
70                                          99.590729
71                                          99.617058
72                                          99.722038
     Entity Code  Year  \
73  Belgium  BEL  1475
74  Belgium  BEL  1550
75  Belgium  BEL  1650
76  Belgium  BEL  1750
77  Belgium  BEL  2003

    Literacy rates (World Bank, CIA World Factbook, and other sources)
73                                               10.0
74                                               17.0
75                                               25.0
76                                               13.0
77                                               99.0
    Entity Code  Year  \
78  Belize  BLZ  1991
79  Belize  BLZ  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
78                                          70.298424
79                                          82.776817
   Entity Code  Year  \
80  Benin  BEN  1979
81  Benin  BEN  1992
82  Benin  BEN  2002
83  Benin  BEN  2006
84  Benin  BEN  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
80                                          16.482790
81                                          27.245251
82                                          34.657848
83                                          28.702110
84                                          38.447140
     Entity Code  Year  \
85  Bermuda  BMU  2005

    Literacy rates (World Bank, CIA World Factbook, and other sources)
85                                               98.0
    Entity Code  Year  \
86  Bhutan  BTN  2005
87  Bhutan  BTN  2012
88  Bhutan  BTN  2015

    Literacy rates (World Bank, CIA World Factbook, and other sources)
86                                          52.814690
87                                          57.033600
88                                          63.906818
      Entity Code  Year  \
89   Bolivia  BOL  1900
90   Bolivia  BOL  1910
91   Bolivia  BOL  1920
92   Bolivia  BOL  1930
93   Bolivia  BOL  1940
94   Bolivia  BOL  1950
95   Bolivia  BOL  1960
96   Bolivia  BOL  1970
97   Bolivia  BOL  1971
98   Bolivia  BOL  1972
99   Bolivia  BOL  1973
100  Bolivia  BOL  1974
101  Bolivia  BOL  1975
102  Bolivia  BOL  1976
103  Bolivia  BOL  1992
104  Bolivia  BOL  2001
105  Bolivia  BOL  2007
106  Bolivia  BOL  2008
107  Bolivia  BOL  2009
108  Bolivia  BOL  2011
109  Bolivia  BOL  2012
110  Bolivia  BOL  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
89                                           18.000000
90                                           20.000000
91                                           22.000000
92                                           25.000000
93                                           28.000000
94                                           32.000000
95                                           44.000000
96                                           58.000000
97                                           59.000000
98                                           60.000000
99                                           61.000000
100                                          62.000000
101                                          63.000000
102                                          63.208149
103                                          79.991768
104                                          86.723671
105                                          90.743469
106                                          90.698112
107                                          91.167831
108                                          92.226151
109                                          94.460571
110                                          95.141922
                     Entity Code  Year  \
111  Bosnia and Herzegovina  BIH  1991
112  Bosnia and Herzegovina  BIH  2000
113  Bosnia and Herzegovina  BIH  2014
114  Bosnia and Herzegovina  BIH  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
111                                          87.822510
112                                          96.663101
113                                          98.377647
114                                          98.485764
       Entity Code  Year  \
115  Botswana  BWA  1991
116  Botswana  BWA  2003
117  Botswana  BWA  2014
118  Botswana  BWA  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
115                                          68.580910
116                                          81.188713
117                                          87.707512
118                                          88.224411
     Entity Code  Year  \
119  Brazil  BRA  1900
120  Brazil  BRA  1910
121  Brazil  BRA  1920
122  Brazil  BRA  1930
123  Brazil  BRA  1940
124  Brazil  BRA  1950
125  Brazil  BRA  1960
126  Brazil  BRA  1970
127  Brazil  BRA  1979
128  Brazil  BRA  1980
129  Brazil  BRA  2000
130  Brazil  BRA  2004
131  Brazil  BRA  2006
132  Brazil  BRA  2007
133  Brazil  BRA  2008
134  Brazil  BRA  2009
135  Brazil  BRA  2010
136  Brazil  BRA  2011
137  Brazil  BRA  2012
138  Brazil  BRA  2013
139  Brazil  BRA  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
119                                          35.000000
120                                          35.000000
121                                          35.000000
122                                          39.000000
123                                          44.000000
124                                          49.000000
125                                          60.000000
126                                          68.000000
127                                          75.000000
128                                          74.586731
129                                          86.367882
130                                          88.616241
131                                          89.615227
132                                          90.009369
133                                          90.036621
134                                          90.298210
135                                          90.379181
136                                          91.411240
137                                          91.337852
138                                          91.484238
139                                          92.586807
                     Entity Code  Year  \
140  British Virgin Islands  VGB  1991

     Literacy rates (World Bank, CIA World Factbook, and other sources)
140                                          97.800003
     Entity Code  Year  \
141  Brunei  BRN  1981
142  Brunei  BRN  1991
143  Brunei  BRN  2001
144  Brunei  BRN  2011
145  Brunei  BRN  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
141                                          77.834213
142                                          87.804176
143                                          92.671127
144                                          96.085564
145                                          96.656532
       Entity Code  Year  \
146  Bulgaria  BGR  2001
147  Bulgaria  BGR  2011
148  Bulgaria  BGR  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
146                                          98.203560
147                                          98.352448
148                                          98.388580
           Entity Code  Year  \
149  Burkina Faso  BFA  1975
150  Burkina Faso  BFA  1991
151  Burkina Faso  BFA  1996
152  Burkina Faso  BFA  2003
153  Burkina Faso  BFA  2005
154  Burkina Faso  BFA  2006
155  Burkina Faso  BFA  2007
156  Burkina Faso  BFA  2014
157  Burkina Faso  BFA  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
149                                           8.685150
150                                          13.569230
151                                          12.848170
152                                          21.822920
153                                          23.553720
154                                          22.472580
155                                          28.729210
156                                          34.599411
157                                          37.746700
      Entity Code  Year  \
158  Burundi  BDI  1979
159  Burundi  BDI  1990
160  Burundi  BDI  2000
161  Burundi  BDI  2008
162  Burundi  BDI  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
158                                          22.508551
159                                          37.384720
160                                          59.303619
161                                          86.947868
162                                          85.496094
       Entity Code  Year  \
163  Cambodia  KHM  1998
164  Cambodia  KHM  2004
165  Cambodia  KHM  2008
166  Cambodia  KHM  2009
167  Cambodia  KHM  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
163                                          67.335030
164                                          73.609947
165                                          77.586540
166                                          73.900032
167                                          78.345940
       Entity Code  Year  \
168  Cameroon  CMR  1976
169  Cameroon  CMR  2000
170  Cameroon  CMR  2007
171  Cameroon  CMR  2010
172  Cameroon  CMR  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
168                                          41.216209
169                                          68.409157
170                                          70.679939
171                                          71.290512
172                                          74.985580
     Entity Code  Year  \
173  Canada  CAN  2003

     Literacy rates (World Bank, CIA World Factbook, and other sources)
173                                               99.0
         Entity Code  Year  \
174  Cape Verde  CPV  1990
175  Cape Verde  CPV  2004
176  Cape Verde  CPV  2012
177  Cape Verde  CPV  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
174                                          62.796860
175                                          80.019722
176                                          85.327789
177                                          88.465424
                     Entity Code  Year  \
178  Caribbean small states  NaN  2000
179  Caribbean small states  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
178                                          88.137802
179                                          91.760712
             Entity Code  Year  \
180  Cayman Islands  CYM  2007

     Literacy rates (World Bank, CIA World Factbook, and other sources)
180                                          98.867821
                       Entity Code  Year  \
181  Central African Republic  CAF  1975
182  Central African Republic  CAF  1988
183  Central African Republic  CAF  2000
184  Central African Republic  CAF  2010
185  Central African Republic  CAF  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
181                                          18.236170
182                                          33.624420
183                                          50.645168
184                                          36.752609
185                                          36.752609
                             Entity Code  Year  \
186  Central Europe and the Baltics  NaN  1990
187  Central Europe and the Baltics  NaN  2000
188  Central Europe and the Baltics  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
186                                          98.594963
187                                          98.960190
188                                          99.360962
    Entity Code  Year  \
189   Chad  TCD  1993
190   Chad  TCD  2000
191   Chad  TCD  2004
192   Chad  TCD  2014
193   Chad  TCD  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
189                                          10.894650
190                                          25.654209
191                                          28.381430
192                                          39.049671
193                                          40.018242
    Entity Code  Year  \
194  Chile  CHL  1900
195  Chile  CHL  1910

389                                          94.515472
    Entity Code  Year  \
390  Egypt  EGY  1976
391  Egypt  EGY  1986
392  Egypt  EGY  1996
393  Egypt  EGY  2005
394  Egypt  EGY  2006
395  Egypt  EGY  2010
396  Egypt  EGY  2012
397  Egypt  EGY  2013
398  Egypt  EGY  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
390                                          38.196758
391                                          44.423988
392                                          55.587002
393                                          71.408859
394                                          66.369911
395                                          72.047852
396                                          73.865593
397                                          75.060730
398                                          75.842621
          Entity Code  Year  \
399  El Salvador  SLV  1900
400  El Salvador  SLV  1910
401  El Salvador  SLV  1920
402  El Salvador  SLV  1930
403  El Salvador  SLV  1940
404  El Salvador  SLV  1950
405  El Salvador  SLV  1960
406  El Salvador  SLV  1970
407  El Salvador  SLV  1971
408  El Salvador  SLV  1972
409  El Salvador  SLV  1973
410  El Salvador  SLV  1974
411  El Salvador  SLV  1975
412  El Salvador  SLV  1992
413  El Salvador  SLV  2004
414  El Salvador  SLV  2006
415  El Salvador  SLV  2007
416  El Salvador  SLV  2008
417  El Salvador  SLV  2009
418  El Salvador  SLV  2010
419  El Salvador  SLV  2011
420  El Salvador  SLV  2013
421  El Salvador  SLV  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
399                                          26.000000
400                                          27.000000
401                                          27.000000
402                                          28.000000
403                                          35.000000
404                                          42.000000
405                                          48.000000
406                                          58.000000
407                                          59.000000
408                                          60.000000
409                                          61.000000
410                                          61.000000
411                                          62.000000
412                                          74.143158
413                                          80.778358
414                                          83.559464
415                                          82.028633
416                                          83.951302
417                                          84.102890
418                                          84.492722
419                                          85.493988
420                                          86.767578
421                                          87.648216
                Entity Code  Year  \
422  Equatorial Guinea  GNQ  2000
423  Equatorial Guinea  GNQ  2014
424  Equatorial Guinea  GNQ  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
422                                          88.308296
423                                          94.956741
424                                          95.195663
      Entity Code  Year  \
425  Eritrea  ERI  2002
426  Eritrea  ERI  2014
427  Eritrea  ERI  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
425                                          52.513950
426                                          72.790489
427                                          73.845253
      Entity Code  Year  \
428  Estonia  EST  1989
429  Estonia  EST  2000
430  Estonia  EST  2011
431  Estonia  EST  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
428                                          99.726440
429                                          99.767197
430                                          99.885788
431                                          99.823509
       Entity Code  Year  \
432  Eswatini  SWZ  1976
433  Eswatini  SWZ  1986
434  Eswatini  SWZ  2000
435  Eswatini  SWZ  2010
436  Eswatini  SWZ  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
432                                          55.325039
433                                          67.239380
434                                          81.660698
435                                          83.098289
436                                          87.470192
       Entity Code  Year  \
437  Ethiopia  ETH  1994
438  Ethiopia  ETH  2004
439  Ethiopia  ETH  2005
440  Ethiopia  ETH  2007
441  Ethiopia  ETH  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
437                                          27.011360
438                                          35.900002
439                                          29.820339
440                                          38.995979
441                                          49.031521
                    Entity Code  Year  \
442  Europe & Central Asia  NaN  1990
443  Europe & Central Asia  NaN  2000
444  Europe & Central Asia  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
442                                          97.260788
443                                          98.145844
444                                          98.997589
                                 Entity Code  Year  \
445  Europe & Central Asia (IDA & IBRD)  NaN  1990
446  Europe & Central Asia (IDA & IBRD)  NaN  2000
447  Europe & Central Asia (IDA & IBRD)  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
445                                          95.942200
446                                          97.452644
447                                          98.890953
                                            Entity Code  Year  \
448  Europe & Central Asia (excluding high income)  NaN  1990
449  Europe & Central Asia (excluding high income)  NaN  2000
450  Europe & Central Asia (excluding high income)  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
448                                          95.567757
449                                          97.218407
450                                          98.799637
    Entity Code  Year  \
451   Fiji  FJI  2003

     Literacy rates (World Bank, CIA World Factbook, and other sources)
451                                          93.699997
      Entity Code  Year  \
452  Finland  FIN  2000

     Literacy rates (World Bank, CIA World Factbook, and other sources)
452                                              100.0
                                       Entity Code  Year  \
453  Fragile and conflict affected situations  NaN  2000
454  Fragile and conflict affected situations  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
453                                          63.947193
454                                          68.336670
     Entity Code  Year  \
455  France  FRA  1475
456  France  FRA  1550
457  France  FRA  1650
458  France  FRA  1750
459  France  FRA  1820
460  France  FRA  1870
461  France  FRA  2003

     Literacy rates (World Bank, CIA World Factbook, and other sources)
455                                                6.0
456                                               19.0
457                                               29.0
458                                               29.0
459                                               38.0
460                                               69.0
461                                               99.0
               Entity Code  Year  \
462  French Polynesia  PYF  1977

     Literacy rates (World Bank, CIA World Factbook, and other sources)
462                                               98.0
    Entity Code  Year  \
463  Gabon  GAB  1993
464  Gabon  GAB  2004
465  Gabon  GAB  2012
466  Gabon  GAB  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
463                                          72.233673
464                                          81.845520
465                                          82.283798
466                                          83.237877
     Entity Code  Year  \
467  Gambia  GMB  2000
468  Gambia  GMB  2014
469  Gambia  GMB  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
467                                          36.817730
468                                          54.387562
469                                          55.572762
      Entity Code  Year  \
470  Georgia  GEO  2002
471  Georgia  GEO  2014
472  Georgia  GEO  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
470                                          99.652351
471                                          99.752243
472                                          99.759621
      Entity Code  Year  \
473  Germany  DEU  1475
474  Germany  DEU  1550
475  Germany  DEU  1650
476  Germany  DEU  1750
477  Germany  DEU  2003

     Literacy rates (World Bank, CIA World Factbook, and other sources)
473                                                9.0
474                                               16.0
475                                               31.0
476                                               38.0
477                                               99.0
    Entity Code  Year  \
478  Ghana  GHA  2000
479  Ghana  GHA  2010
480  Ghana  GHA  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
478                                          57.897469
479                                          71.497070
480                                          76.575897
        Entity Code  Year  \
481  Gibraltar  GIB  2011

     Literacy rates (World Bank, CIA World Factbook, and other sources)
481                                               80.0
     Entity Code  Year  \
482  Greece  GRC  1981
483  Greece  GRC  1991
484  Greece  GRC  2001
485  Greece  GRC  2014
486  Greece  GRC  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
482                                          90.512321
483                                          92.610451
484                                          95.994362
485                                          97.532379
486                                          95.292870
        Entity Code  Year  \
487  Greenland  GRL  2001

     Literacy rates (World Bank, CIA World Factbook, and other sources)
487                                              100.0
      Entity Code  Year  \
488  Grenada  GRD  1970
489  Grenada  GRD  2003

     Literacy rates (World Bank, CIA World Factbook, and other sources)
488                                          97.794472
489                                          96.000000
    Entity Code  Year  \
490   Guam  GUM  1980
491   Guam  GUM  1990
492   Guam  GUM  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
490                                          96.420647
491                                          99.369148
492                                          99.789040
        Entity Code  Year  \
493  Guatemala  GTM  1900
494  Guatemala  GTM  1910
495  Guatemala  GTM  1920
496  Guatemala  GTM  1930
497  Guatemala  GTM  1940
498  Guatemala  GTM  1950
499  Guatemala  GTM  1960
500  Guatemala  GTM  1970
501  Guatemala  GTM  1971
502  Guatemala  GTM  1972
503  Guatemala  GTM  1973
504  Guatemala  GTM  1974
505  Guatemala  GTM  1975
506  Guatemala  GTM  1976
507  Guatemala  GTM  1977
508  Guatemala  GTM  1978
509  Guatemala  GTM  1979
510  Guatemala  GTM  1994
511  Guatemala  GTM  2002
512  Guatemala  GTM  2012
513  Guatemala  GTM  2013
514  Guatemala  GTM  2014
515  Guatemala  GTM  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
493                                          12.000000
494                                          13.000000
495                                          15.000000
496                                          19.000000
497                                          24.000000
498                                          29.000000
499                                          35.000000
500                                          45.000000
501                                          46.000000
502                                          47.000000
503                                          48.000000
504                                          48.000000
505                                          49.000000
506                                          50.000000
507                                          51.000000
508                                          52.000000
509                                          52.000000
510                                          64.211639
511                                          69.101730
512                                          78.264862
513                                          77.038673
514                                          81.285896
515                                          79.074211
     Entity Code  Year  \
516  Guinea  GIN  1996
517  Guinea  GIN  2003
518  Guinea  GIN  2010
519  Guinea  GIN  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
516                                          20.553749
517                                          29.704020
518                                          25.307739
519                                          30.472790
            Entity Code  Year  \
520  Guinea-Bissau  GNB  1979
521  Guinea-Bissau  GNB  2000
522  Guinea-Bissau  GNB  2014
523  Guinea-Bissau  GNB  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
520                                          19.958250
521                                          41.357769
522                                          58.729321
523                                          59.772850
     Entity Code  Year  \
524  Guyana  GUY  2009
525  Guyana  GUY  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
524                                          84.994011
525                                          87.535316
    Entity Code  Year  \
526  Haiti  HTI  1900
527  Haiti  HTI  1910
528  Haiti  HTI  1920
529  Haiti  HTI  1930
530  Haiti  HTI  1940
531  Haiti  HTI  1950
532  Haiti  HTI  1960
533  Haiti  HTI  1970
534  Haiti  HTI  1971
535  Haiti  HTI  1972
536  Haiti  HTI  1973
537  Haiti  HTI  1974
538  Haiti  HTI  1975
539  Haiti  HTI  1976
540  Haiti  HTI  1977
541  Haiti  HTI  1978
542  Haiti  HTI  1979
543  Haiti  HTI  1980
544  Haiti  HTI  1981
545  Haiti  HTI  1982
546  Haiti  HTI  2003
547  Haiti  HTI  2006
548  Haiti  HTI  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
526                                           8.000000
527                                           8.000000
528                                           8.000000
529                                           8.000000
530                                           9.000000
531                                          11.000000
532                                          16.000000
533                                          22.000000
534                                          23.000000
535                                          24.000000
536                                          25.000000
537                                          25.000000
538                                          26.000000
539                                          27.000000
540                                          28.000000
541                                          29.000000
542                                          30.000000
543                                          31.000000
544                                          31.000000
545                                          34.734692
546                                          58.743900
547                                          48.685020
548                                          60.689350
                                     Entity Code  Year  \
549  Heavily indebted poor countries (HIPC)  NaN  1990
550  Heavily indebted poor countries (HIPC)  NaN  2000
551  Heavily indebted poor countries (HIPC)  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
549                                          45.420242
550                                          52.221073
551                                          57.837166
       Entity Code  Year  \
552  Honduras  HND  1900
553  Honduras  HND  1910
554  Honduras  HND  1920
555  Honduras  HND  1930
556  Honduras  HND  1940
557  Honduras  HND  1950
558  Honduras  HND  1960
559  Honduras  HND  1970
560  Honduras  HND  1971
561  Honduras  HND  1972
562  Honduras  HND  1973
563  Honduras  HND  1974
564  Honduras  HND  1975
565  Honduras  HND  1976
566  Honduras  HND  1977
567  Honduras  HND  1978
568  Honduras  HND  1979
569  Honduras  HND  1980
570  Honduras  HND  1981
571  Honduras  HND  1982
572  Honduras  HND  1983
573  Honduras  HND  1984
574  Honduras  HND  1985
575  Honduras  HND  1986
576  Honduras  HND  1987
577  Honduras  HND  1988
578  Honduras  HND  1989
579  Honduras  HND  2001
580  Honduras  HND  2007
581  Honduras  HND  2010
582  Honduras  HND  2011
583  Honduras  HND  2012
584  Honduras  HND  2013
585  Honduras  HND  2014
586  Honduras  HND  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
552                                          28.000000
553                                          30.000000
554                                          32.000000
555                                          33.000000
556                                          35.000000
557                                          40.000000
558                                          44.000000
559                                          53.000000
560                                          54.000000
561                                          55.000000
562                                          56.000000
563                                          57.000000
564                                          58.000000
565                                          58.000000
566                                          59.000000
567                                          60.000000
568                                          61.000000
569                                          61.000000
570                                          62.000000
571                                          63.000000
572                                          64.000000
573                                          64.000000
574                                          65.000000
575                                          66.000000
576                                          66.000000
577                                          67.000000
578                                          68.000000
579                                          80.011032
580                                          83.588989
581                                          84.755363
582                                          85.123306
583                                          85.355553
584                                          85.464417
585                                          87.197533
586                                          88.424583
        Entity Code  Year  \
587  Hong Kong  HKG  2002

     Literacy rates (World Bank, CIA World Factbook, and other sources)
587                                               93.5
      Entity Code  Year  \
588  Hungary  HUN  1980
589  Hungary  HUN  1994
590  Hungary  HUN  2004
591  Hungary  HUN  2014
592  Hungary  HUN  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
588                                          98.858292

734                                          56.574059
                  Entity Code  Year  \
735  Lower middle income  NaN  1990
736  Lower middle income  NaN  2000
737  Lower middle income  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
735                                          58.596119
736                                          67.331596
737                                          73.910080
         Entity Code  Year  \
738  Luxembourg  LUX  2000

     Literacy rates (World Bank, CIA World Factbook, and other sources)
738                                              100.0
    Entity Code  Year  \
739  Macao  MAC  1981
740  Macao  MAC  2001
741  Macao  MAC  2006
742  Macao  MAC  2011
743  Macao  MAC  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
739                                          90.378181
740                                          91.295372
741                                          93.499748
742                                          95.640038
743                                          96.227600
         Entity Code  Year  \
744  Madagascar  MDG  2000
745  Madagascar  MDG  2009
746  Madagascar  MDG  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
744                                          70.686172
745                                          64.480911
746                                          64.656303
     Entity Code  Year  \
747  Malawi  MWI  1987
748  Malawi  MWI  1998
749  Malawi  MWI  2010
750  Malawi  MWI  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
747                                          48.536652
748                                          64.134247
749                                          61.309719
750                                          65.963829
       Entity Code  Year  \
751  Malaysia  MYS  1980
752  Malaysia  MYS  1991
753  Malaysia  MYS  2000
754  Malaysia  MYS  2010
755  Malaysia  MYS  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
751                                          69.516327
752                                          82.915367
753                                          88.687759
754                                          93.117889
755                                          94.636993
       Entity Code  Year  \
756  Maldives  MDV  1977
757  Maldives  MDV  1985
758  Maldives  MDV  1990
759  Maldives  MDV  1995
760  Maldives  MDV  2000
761  Maldives  MDV  2006
762  Maldives  MDV  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
756                                          82.299957
757                                          92.230049
758                                          96.018257
759                                          96.326500
760                                          96.326500
761                                          98.397903
762                                          99.321022
    Entity Code  Year  \
763   Mali  MLI  1976
764   Mali  MLI  1998
765   Mali  MLI  2003
766   Mali  MLI  2006
767   Mali  MLI  2010
768   Mali  MLI  2011
769   Mali  MLI  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
763                                           9.433810
764                                          19.044970
765                                          24.000000
766                                          26.176550
767                                          31.099751
768                                          33.560940
769                                          33.068871
    Entity Code  Year  \
770  Malta  MLT  1985
771  Malta  MLT  1995
772  Malta  MLT  2005
773  Malta  MLT  2011
774  Malta  MLT  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
770                                          85.653717
771                                          87.868698
772                                          92.363091
773                                          93.307358
774                                          94.066612
               Entity Code  Year  \
775  Marshall Islands  MHL  2011
776  Marshall Islands  MHL  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
775                                          98.265083
776                                          98.265083
         Entity Code  Year  \
777  Mauritania  MRT  2000
778  Mauritania  MRT  2007
779  Mauritania  MRT  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
777                                          51.207680
778                                          45.503780
779                                          52.123562
        Entity Code  Year  \
780  Mauritius  MUS  1990
781  Mauritius  MUS  2000
782  Mauritius  MUS  2011
783  Mauritius  MUS  2012
784  Mauritius  MUS  2013
785  Mauritius  MUS  2014
786  Mauritius  MUS  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
780                                          79.868660
781                                          84.303093
782                                          89.249840
783                                          91.766006
784                                          91.490028
785                                          92.474762
786                                          90.616043
     Entity Code  Year  \
787  Mexico  MEX  1900
788  Mexico  MEX  1910
789  Mexico  MEX  1920
790  Mexico  MEX  1930
791  Mexico  MEX  1940
792  Mexico  MEX  1950
793  Mexico  MEX  1960
794  Mexico  MEX  1970
795  Mexico  MEX  1979
796  Mexico  MEX  1980
797  Mexico  MEX  1990
798  Mexico  MEX  2000
799  Mexico  MEX  2002
800  Mexico  MEX  2004
801  Mexico  MEX  2005
802  Mexico  MEX  2006
803  Mexico  MEX  2007
804  Mexico  MEX  2008
805  Mexico  MEX  2009
806  Mexico  MEX  2010
807  Mexico  MEX  2011
808  Mexico  MEX  2012
809  Mexico  MEX  2013
810  Mexico  MEX  2014
811  Mexico  MEX  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
787                                          24.000000
788                                          30.000000
789                                          35.000000
790                                          36.000000
791                                          46.000000
792                                          60.000000
793                                          65.000000
794                                          75.000000
795                                          82.000000
796                                          82.989243
797                                          87.556152
798                                          90.535622
799                                          90.274651
800                                          90.953743
801                                          91.630272
802                                          91.734520
803                                          92.795174
804                                          92.925598
805                                          93.441879
806                                          93.068939
807                                          93.519981
808                                          94.228401
809                                          93.962852
810                                          94.555878
811                                          94.545593
         Entity Code  Year  \
812  Micronesia  NaN  1980

     Literacy rates (World Bank, CIA World Factbook, and other sources)
812                                               89.0
                         Entity Code  Year  \
813  Middle East & North Africa  NaN  1990
814  Middle East & North Africa  NaN  2000
815  Middle East & North Africa  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
813                                          58.496243
814                                          70.403152
815                                          80.750015
                                      Entity Code  Year  \
816  Middle East & North Africa (IDA & IBRD)  NaN  1990
817  Middle East & North Africa (IDA & IBRD)  NaN  2000
818  Middle East & North Africa (IDA & IBRD)  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
816                                          55.750252
817                                          67.769730
818                                          78.232857
                                                Entity Code  Year  \
819  Middle East & North Africa (excluding high inc...  NaN  1990
820  Middle East & North Africa (excluding high inc...  NaN  2000
821  Middle East & North Africa (excluding high inc...  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
819                                          56.039429
820                                          68.023575
821                                          78.438812
            Entity Code  Year  \
822  Middle income  NaN  1990
823  Middle income  NaN  2000
824  Middle income  NaN  2010

     Literacy rates (World Bank, CIA World Factbook, and other sources)
822                                          71.371117
823                                          79.700737
824                                          84.388680
      Entity Code  Year  \
825  Moldova  MDA  1989
826  Moldova  MDA  2000
827  Moldova  MDA  2014
828  Moldova  MDA  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
825                                          96.377548
826                                          96.653801
827                                          99.343460
828                                          99.244392
     Entity Code  Year  \
829  Monaco  MCO  2003

     Literacy rates (World Bank, CIA World Factbook, and other sources)
829                                               99.0
       Entity Code  Year  \
830  Mongolia  MNG  2000
831  Mongolia  MNG  2010
832  Mongolia  MNG  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
830                                          97.768852
831                                          98.257004
832                                          98.367638
         Entity Code  Year  \
833  Montenegro  MNE  1981
834  Montenegro  MNE  1991
835  Montenegro  MNE  2003
836  Montenegro  MNE  2011
837  Montenegro  MNE  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
833                                          89.635109
834                                          93.462997
835                                          97.773460
836                                          98.442207
837                                          98.719948
         Entity Code  Year  \
838  Montserrat  MSR  1970

     Literacy rates (World Bank, CIA World Factbook, and other sources)
838                                               97.0
      Entity Code  Year  \
839  Morocco  MAR  1982
840  Morocco  MAR  1994
841  Morocco  MAR  2004
842  Morocco  MAR  2008
843  Morocco  MAR  2009
844  Morocco  MAR  2011
845  Morocco  MAR  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
839                                          30.257799
840                                          41.594109
841                                          52.306259
842                                          55.147919
843                                          56.083672
844                                          67.084160
845                                          71.710548
         Entity Code  Year  \
846  Mozambique  MOZ  1980
847  Mozambique  MOZ  1997
848  Mozambique  MOZ  2003
849  Mozambique  MOZ  2009
850  Mozambique  MOZ  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
846                                          27.101780
847                                          38.707878
848                                          48.158840
849                                          50.583809
850                                          58.836552
      Entity Code  Year  \
851  Myanmar  MMR  1983
852  Myanmar  MMR  2000
853  Myanmar  MMR  2014
854  Myanmar  MMR  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
851                                          78.570412
852                                          89.941757
853                                          92.923157
854                                          93.090050
      Entity Code  Year  \
855  Namibia  NAM  1991
856  Namibia  NAM  2001
857  Namibia  NAM  2007
858  Namibia  NAM  2011
859  Namibia  NAM  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
855                                          75.816582
856                                          85.041283
857                                          76.486588
858                                          89.400993
859                                          90.820503
    Entity Code  Year  \
860  Nepal  NPL  1981
861  Nepal  NPL  1991
862  Nepal  NPL  2001
863  Nepal  NPL  2011
864  Nepal  NPL  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
860                                          20.573669
861                                          32.975590
862                                          48.608971
863                                          59.627251
864                                          64.663643
          Entity Code  Year  \
865  Netherlands  NLD  1475
866  Netherlands  NLD  1550
867  Netherlands  NLD  1650
868  Netherlands  NLD  1750
869  Netherlands  NLD  2003

     Literacy rates (World Bank, CIA World Factbook, and other sources)
865                                               17.0
866                                               12.0
867                                               53.0
868                                               85.0
869                                               99.0
            Entity Code  Year  \
870  New Caledonia  NCL  1976
871  New Caledonia  NCL  1989
872  New Caledonia  NCL  1996
873  New Caledonia  NCL  2014
874  New Caledonia  NCL  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
870                                          91.300369
871                                          93.080627
872                                          96.137917
873                                          96.806671
874                                          96.937820
          Entity Code  Year  \
875  New Zealand  NZL  2003

     Literacy rates (World Bank, CIA World Factbook, and other sources)
875                                               99.0
        Entity Code  Year  \
876  Nicaragua  NIC  1920
877  Nicaragua  NIC  1930
878  Nicaragua  NIC  1940
879  Nicaragua  NIC  1950
880  Nicaragua  NIC  1960
881  Nicaragua  NIC  1970
882  Nicaragua  NIC  1971
883  Nicaragua  NIC  1972
884  Nicaragua  NIC  1973
885  Nicaragua  NIC  1974
886  Nicaragua  NIC  1975
887  Nicaragua  NIC  1976
888  Nicaragua  NIC  1977
889  Nicaragua  NIC  1978
890  Nicaragua  NIC  1979
891  Nicaragua  NIC  1980
892  Nicaragua  NIC  1981
893  Nicaragua  NIC  1982
894  Nicaragua  NIC  1983
895  Nicaragua  NIC  1984
896  Nicaragua  NIC  1985
897  Nicaragua  NIC  1986
898  Nicaragua  NIC  1987
899  Nicaragua  NIC  1988
900  Nicaragua  NIC  1989
901  Nicaragua  NIC  1990
902  Nicaragua  NIC  1991
903  Nicaragua  NIC  1992
904  Nicaragua  NIC  1993
905  Nicaragua  NIC  1994
906  Nicaragua  NIC  1995
907  Nicaragua  NIC  1996
908  Nicaragua  NIC  1997
909  Nicaragua  NIC  1998
910  Nicaragua  NIC  1999
911  Nicaragua  NIC  2000
912  Nicaragua  NIC  2001
913  Nicaragua  NIC  2005
914  Nicaragua  NIC  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
876                                          39.000000
877                                          39.000000
878                                          38.000000
879                                          38.000000
880                                          47.000000
881                                          57.000000
882                                          57.000000
883                                          58.000000
884                                          58.000000
885                                          59.000000
886                                          59.000000
887                                          59.000000
888                                          60.000000
889                                          60.000000
890                                          61.000000
891                                          61.000000
892                                          61.000000
893                                          62.000000
894                                          62.000000
895                                          63.000000
896                                          63.000000
897                                          63.000000
898                                          64.000000
899                                          64.000000
900                                          64.000000
901                                          65.000000
902                                          65.000000
903                                          65.000000
904                                          66.000000
905                                          66.000000
906                                          67.000000
907                                          67.000000
908                                          67.000000
909                                          68.000000
910                                          68.000000
911                                          66.000000
912                                          76.677132
913                                          78.002983
914                                          82.471848
    Entity Code  Year  \
915  Niger  NER  2001
916  Niger  NER  2005
917  Niger  NER  2012
918  Niger  NER  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
915                                          14.376040
916                                          28.672421
917                                          15.456700
918                                          19.102600
      Entity Code  Year  \
919  Nigeria  NGA  1991
920  Nigeria  NGA  2003
921  Nigeria  NGA  2008
922  Nigeria  NGA  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
919                                          55.446751
920                                          54.773178
921                                          51.077660
922                                          59.568081
    Entity Code  Year  \
923   Niue  NIU  2011

     Literacy rates (World Bank, CIA World Factbook, and other sources)
923                                               95.0
          Entity Code  Year  \
924  North Korea  PRK  2008
925  North Korea  PRK  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
924                                          99.998260
925                                          99.999237
              Entity Code  Year  \
926  North Macedonia  MKD  1994
927  North Macedonia  MKD  2002
928  North Macedonia  MKD  2014
929  North Macedonia  MKD  2015

     Literacy rates (World Bank, CIA World Factbook, and other sources)
926                                          94.058746
927                                          96.128929
928                                          97.751747
929                                          97.843758
                       Entity Code  Year  \
930  Northern Mariana Islands  MNP  1980


1098                                          90.099998
                         Entity Code  Year  \
1099  Saint Pierre and Miquelon  SPM  1982

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1099                                               99.0
                                Entity Code  Year  \
1100  Saint Vincent and the Grenadines  VCT  1970

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1100                                          95.632156
     Entity Code  Year  \
1101  Samoa  WSM  1991
1102  Samoa  WSM  2004
1103  Samoa  WSM  2011
1104  Samoa  WSM  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1101                                          97.944328
1102                                          98.540482
1103                                          98.973259
1104                                          99.015007
          Entity Code  Year  \
1105  San Marino  SMR  2011

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1105                                               96.0
                     Entity Code  Year  \
1106  Sao Tome and Principe  STP  1981
1107  Sao Tome and Principe  STP  1991
1108  Sao Tome and Principe  STP  2001
1109  Sao Tome and Principe  STP  2008
1110  Sao Tome and Principe  STP  2012
1111  Sao Tome and Principe  STP  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1106                                          57.324261
1107                                          73.242416
1108                                          84.908508
1109                                          69.536392
1110                                          90.143097
1111                                          91.747108
            Entity Code  Year  \
1112  Saudi Arabia  SAU  1992
1113  Saudi Arabia  SAU  2000
1114  Saudi Arabia  SAU  2004
1115  Saudi Arabia  SAU  2013
1116  Saudi Arabia  SAU  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1112                                          70.821648
1113                                          79.350937
1114                                          82.857742
1115                                          94.426338
1116                                          94.842369
       Entity Code  Year  \
1117  Senegal  SEN  1988
1118  Senegal  SEN  2002
1119  Senegal  SEN  2006
1120  Senegal  SEN  2009
1121  Senegal  SEN  2011
1122  Senegal  SEN  2013
1123  Senegal  SEN  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1117                                          26.868851
1118                                          39.275249
1119                                          41.891151
1120                                          49.695129
1121                                          52.051960
1122                                          42.817501
1123                                          55.624851
      Entity Code  Year  \
1124  Serbia  SRB  2003
1125  Serbia  SRB  2011
1126  Serbia  SRB  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1124                                          96.397240
1125                                          97.962410
1126                                          98.002892
          Entity Code  Year  \
1127  Seychelles  SYC  1987
1128  Seychelles  SYC  1994
1129  Seychelles  SYC  2002
1130  Seychelles  SYC  2010
1131  Seychelles  SYC  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1127                                          84.229218
1128                                          87.811150
1129                                          91.836456
1130                                          93.954231
1131                                          95.321083
            Entity Code  Year  \
1132  Sierra Leone  SLE  2004
1133  Sierra Leone  SLE  2014
1134  Sierra Leone  SLE  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1132                                          34.826790
1133                                          47.186241
1134                                          48.431900
         Entity Code  Year  \
1135  Singapore  SGP  1980
1136  Singapore  SGP  1990
1137  Singapore  SGP  2000
1138  Singapore  SGP  2010
1139  Singapore  SGP  2011
1140  Singapore  SGP  2012
1141  Singapore  SGP  2013
1142  Singapore  SGP  2014
1143  Singapore  SGP  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1135                                          82.906052
1136                                          89.096001
1137                                          92.549400
1138                                          95.857330
1139                                          96.179337
1140                                          96.363060
1141                                          96.540154
1142                                          96.716660
1143                                          96.774628
        Entity Code  Year  \
1144  Slovakia  SVK  2004

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1144                                          99.599998
        Entity Code  Year  \
1145  Slovenia  SVN  1991
1146  Slovenia  SVN  2004
1147  Slovenia  SVN  2014
1148  Slovenia  SVN  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1145                                          99.524521
1146                                          99.651787
1147                                          99.710052
1148                                          99.714760
            Entity Code  Year  \
1149  Small states  NaN  1990
1150  Small states  NaN  2000
1151  Small states  NaN  2010

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1149                                          77.284920
1150                                          81.477959
1151                                          85.654785
               Entity Code  Year  \
1152  Solomon Islands  SLB  1999
1153  Solomon Islands  SLB  2011

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1152                                          76.599998
1153                                          84.099998
       Entity Code  Year  \
1154  Somalia  SOM  2001

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1154                                          37.799999
            Entity Code  Year  \
1155  South Africa  ZAF  1980
1156  South Africa  ZAF  1996
1157  South Africa  ZAF  2007
1158  South Africa  ZAF  2009
1159  South Africa  ZAF  2010
1160  South Africa  ZAF  2011
1161  South Africa  ZAF  2012
1162  South Africa  ZAF  2014
1163  South Africa  ZAF  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1155                                          76.200493
1156                                          82.402100
1157                                          88.717247
1158                                          92.894859
1159                                          92.877319
1160                                          93.102142
1161                                          93.729469
1162                                          94.139900
1163                                          94.597939
          Entity Code  Year  \
1164  South Asia  NaN  1990
1165  South Asia  NaN  2000
1166  South Asia  NaN  2010

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1164                                          46.487602
1165                                          58.085419
1166                                          66.691177
                       Entity Code  Year  \
1167  South Asia (IDA & IBRD)  NaN  1990
1168  South Asia (IDA & IBRD)  NaN  2000
1169  South Asia (IDA & IBRD)  NaN  2010

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1167                                          46.487602
1168                                          58.085419
1169                                          66.691177
           Entity Code  Year  \
1170  South Korea  KOR  2008

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1170                                          97.965942
           Entity Code  Year  \
1171  South Sudan  SSD  2008
1172  South Sudan  SSD  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1171                                           26.83128
1172                                           31.97625
     Entity Code  Year  \
1173  Spain  ESP  1475
1174  Spain  ESP  1550
1175  Spain  ESP  1650
1176  Spain  ESP  1750
1177  Spain  ESP  1820
1178  Spain  ESP  1870
1179  Spain  ESP  1981
1180  Spain  ESP  1991
1181  Spain  ESP  2004
1182  Spain  ESP  2005
1183  Spain  ESP  2007
1184  Spain  ESP  2008
1185  Spain  ESP  2009
1186  Spain  ESP  2010
1187  Spain  ESP  2011
1188  Spain  ESP  2012
1189  Spain  ESP  2013
1190  Spain  ESP  2014
1191  Spain  ESP  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1173                                           3.000000
1174                                           4.000000
1175                                           5.000000
1176                                           8.000000
1177                                          20.000000
1178                                          30.000000
1179                                          92.809769
1180                                          96.494972
1181                                          97.165123
1182                                          97.750687
1183                                          97.938843
1184                                          97.630608
1185                                          97.679268
1186                                          97.748901
1187                                          97.783752
1188                                          97.894539
1189                                          98.079132
1190                                          98.093979
1191                                          98.114510
         Entity Code  Year  \
1192  Sri Lanka  LKA  1981
1193  Sri Lanka  LKA  2001
1194  Sri Lanka  LKA  2006
1195  Sri Lanka  LKA  2008
1196  Sri Lanka  LKA  2010
1197  Sri Lanka  LKA  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1192                                          86.777924
1193                                          90.682747
1194                                          90.808830
1195                                          90.557953
1196                                          91.181358
1197                                          92.614166
                  Entity Code  Year  \
1198  Sub-Saharan Africa  NaN  2000
1199  Sub-Saharan Africa  NaN  2010

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1198                                          56.981934
1199                                          60.880547
                               Entity Code  Year  \
1200  Sub-Saharan Africa (IDA & IBRD)  NaN  1990
1201  Sub-Saharan Africa (IDA & IBRD)  NaN  2000
1202  Sub-Saharan Africa (IDA & IBRD)  NaN  2010

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1200                                          52.531582
1201                                          56.981934
1202                                          60.880547
                                          Entity Code  Year  \
1203  Sub-Saharan Africa (excluding high income)  NaN  2000
1204  Sub-Saharan Africa (excluding high income)  NaN  2010

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1203                                          56.976406
1204                                          60.875755
     Entity Code  Year  \
1205  Sudan  SDN  2000
1206  Sudan  SDN  2008
1207  Sudan  SDN  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1205                                          61.345871
1206                                          53.517380
1207                                          58.601318
        Entity Code  Year  \
1208  Suriname  SUR  2004
1209  Suriname  SUR  2008
1210  Suriname  SUR  2010
1211  Suriname  SUR  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1208                                          89.598061
1209                                          94.620941
1210                                          94.675751
1211                                          95.538986
      Entity Code  Year  \
1212  Sweden  SWE  1475
1213  Sweden  SWE  1550
1214  Sweden  SWE  1650
1215  Sweden  SWE  1750
1216  Sweden  SWE  1820
1217  Sweden  SWE  1870
1218  Sweden  SWE  2003

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1212                                                1.0
1213                                                1.0
1214                                               23.0
1215                                               48.0
1216                                               75.0
1217                                               80.0
1218                                               99.0
           Entity Code  Year  \
1219  Switzerland  CHE  2003

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1219                                               99.0
     Entity Code  Year  \
1220  Syria  SYR  1981
1221  Syria  SYR  2002
1222  Syria  SYR  2004
1223  Syria  SYR  2014
1224  Syria  SYR  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1220                                          55.654499
1221                                          82.888252
1222                                          80.844521
1223                                          85.915817
1224                                          86.303932
      Entity Code  Year  \
1225  Taiwan  TWN  2003

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1225                                          96.099998
          Entity Code  Year  \
1226  Tajikistan  TJK  1989
1227  Tajikistan  TJK  2000
1228  Tajikistan  TJK  2014
1229  Tajikistan  TJK  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1226                                          97.694023
1227                                          99.451248
1228                                          99.768410
1229                                          99.781052
        Entity Code  Year  \
1230  Tanzania  TZA  1988
1231  Tanzania  TZA  2002
1232  Tanzania  TZA  2010
1233  Tanzania  TZA  2012
1234  Tanzania  TZA  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1230                                          59.113800
1231                                          69.430901
1232                                          67.800697
1233                                          78.100594
1234                                          80.359497
        Entity Code  Year  \
1235  Thailand  THA  1980
1236  Thailand  THA  2000
1237  Thailand  THA  2005
1238  Thailand  THA  2010
1239  Thailand  THA  2013
1240  Thailand  THA  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1235                                          87.981758
1236                                          92.646538
1237                                          93.506477
1238                                          96.430908
1239                                          93.702072
1240                                          93.983017
     Entity Code  Year  \
1241  Timor  TLS  2001
1242  Timor  TLS  2007
1243  Timor  TLS  2010
1244  Timor  TLS  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1241                                          37.599998
1242                                          50.599998
1243                                          58.308979
1244                                          64.066139
     Entity Code  Year  \
1245   Togo  TGO  2000
1246   Togo  TGO  2006
1247   Togo  TGO  2009
1248   Togo  TGO  2011
1249   Togo  TGO  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1245                                          53.177601
1246                                          56.888371
1247                                          57.093380
1248                                          60.409939
1249                                          66.537590
     Entity Code  Year  \
1250  Tonga  TON  1976
1251  Tonga  TON  1996
1252  Tonga  TON  2006
1253  Tonga  TON  2011
1254  Tonga  TON  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1250                                          99.592461
1251                                          98.905373
1252                                          99.018463
1253                                          99.385529
1254                                          99.397858
                   Entity Code  Year  \
1255  Trinidad and Tobago  TTO  1980
1256  Trinidad and Tobago  TTO  1990
1257  Trinidad and Tobago  TTO  2004
1258  Trinidad and Tobago  TTO  2014
1259  Trinidad and Tobago  TTO  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1255                                          94.970322
1256                                          96.938553
1257                                          98.288513
1258                                          98.919487
1259                                          98.969582
       Entity Code  Year  \
1260  Tunisia  TUN  1984
1261  Tunisia  TUN  1994
1262  Tunisia  TUN  2004
1263  Tunisia  TUN  2007
1264  Tunisia  TUN  2008
1265  Tunisia  TUN  2010
1266  Tunisia  TUN  2011
1267  Tunisia  TUN  2012
1268  Tunisia  TUN  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1260                                          48.190701
1261                                          59.061810
1262                                          74.296997
1263                                          77.190399
1264                                          77.561127
1265                                          79.130577
1266                                          79.653908
1267                                          80.218750
1268                                          81.054192
      Entity Code  Year  \
1269  Turkey  TUR  1975
1270  Turkey  TUR  1980
1271  Turkey  TUR  1985
1272  Turkey  TUR  1990
1273  Turkey  TUR  2004
1274  Turkey  TUR  2005
1275  Turkey  TUR  2006
1276  Turkey  TUR  2007
1277  Turkey  TUR  2009
1278  Turkey  TUR  2010
1279  Turkey  TUR  2011
1280  Turkey  TUR  2012
1281  Turkey  TUR  2013
1282  Turkey  TUR  2014
1283  Turkey  TUR  2015

      Literacy rates (World Bank, CIA World Factbook, and other sources)
1269                                          61.627682
1270                                          65.694344
1271                                          75.968239
1272                                          79.232452
1273                                          87.365494
1274                                          88.229057
1275                                          88.119392
1276                                          88.655899
1277                                          90.816719
1278                                          92.660599
1279                                          94.106087
1280                                          94.919746
1281                                          95.256660
1282                                          95.439629
1283                                          95.688103
            Entity Code  Year  \
1284  Turkmenistan  TKM  1995

Empty DataFrame
Columns: []
Index: []

In [41]:
#cross_country_literacy['Year'] = pd.to_datetime(cross_country_literacy['Year'], format='%Y')
#cross_country_literacy = cross_country_literacy[(cross_country_literacy['Year'] >= '1989-12-01') & (cross_country_literacy['Year'] < '2019-01-01')]
cross_country_literacy= cross_country_literacy.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})
cross_country_literacy

,Country Name,Country Code,Year,"Literacy rates (World Bank, CIA World Factbook, and other sources)"
0,Afghanistan,AFG,1979,18.157681
1,Afghanistan,AFG,2011,31.741119
2,Afghanistan,AFG,2015,38.168041
3,Albania,ALB,2001,98.712982
4,Albania,ALB,2008,95.938637
...,...,...,...,...
1418,Zambia,ZMB,2015,85.117264
1419,Zimbabwe,ZWE,1982,77.794167
1420,Zimbabwe,ZWE,1992,83.512581
1421,Zimbabwe,ZWE,2011,83.582710
1422,Zimbabwe,ZWE,2015,86.873482

In [42]:
energy_use['Year'] = pd.to_datetime(energy_use['Year'], format='%Y')
energy_use = energy_use[(energy_use['Year'] >= '1989-12-01') & (energy_use['Year'] < '2019-01-01')]
energy_use= energy_use.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})

energy_use

,Country Name,Country Code,Year,Primary energy consumption per capita (kWh/person)
10,Afghanistan,AFG,1990-01-01,2968.31600
11,Afghanistan,AFG,1991-01-01,1293.86190
12,Afghanistan,AFG,1992-01-01,760.34247
13,Afghanistan,AFG,1993-01-01,650.20715
14,Afghanistan,AFG,1994-01-01,570.40330
...,...,...,...,...
10235,Zimbabwe,ZWE,2014-01-01,3940.88620
10236,Zimbabwe,ZWE,2015-01-01,3860.92020
10237,Zimbabwe,ZWE,2016-01-01,3228.87200
10238,Zimbabwe,ZWE,2017-01-01,3114.07620
10239,Zimbabwe,ZWE,2018-01-01,3155.82420

In [43]:
new_vehicle['Year'] = pd.to_datetime(new_vehicle['Year'], format='%Y')
new_vehicle = new_vehicle[(new_vehicle['Year'] >= '1989-12-01') & (new_vehicle['Year'] < '2019-01-01')]
new_vehicle= new_vehicle.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})

new_vehicle

,Country Name,Country Code,Year,battery_electric_number,plugin_hybrid_number,full_mild_hybrid_number,petrol_number,diesel_gas_number
0,Austria,AUT,2001-01-01,0.0,0.0,39.000000,1.007540e+05,1.927340e+05
1,Austria,AUT,2002-01-01,1.0,0.0,17.000000,8.492000e+04,1.945550e+05
2,Austria,AUT,2003-01-01,0.0,0.0,8.000000,8.588900e+04,2.142220e+05
3,Austria,AUT,2004-01-01,0.0,0.0,133.002136,9.638755e+04,2.147714e+05
4,Austria,AUT,2005-01-01,0.0,0.0,460.000000,1.196320e+05,1.878130e+05
...,...,...,...,...,...,...,...,...
303,United Kingdom,GBR,2014-01-01,8067.0,6550.0,37188.000000,1.184054e+06,1.240576e+06
304,United Kingdom,GBR,2015-01-01,10054.0,18395.0,44181.000000,1.283755e+06,1.277118e+06
305,United Kingdom,GBR,2016-01-01,10276.0,28694.0,49872.000000,1.317705e+06,1.286239e+06
306,United Kingdom,GBR,2017-01-01,13576.0,35030.0,68304.000000,1.358521e+06,1.065186e+06
307,United Kingdom,GBR,2018-01-01,14944.0,40410.0,93409.000000,1.472695e+06,7.456890e+05

In [44]:
researchers['Year'] = pd.to_datetime(researchers['Year'], format='%Y')
researchers = researchers[(researchers['Year'] >= '1989-12-01') & (researchers['Year'] < '2019-01-01')]
researchers= researchers.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})
researchers

,Country Name,Country Code,Year,Researchers in R&D (per million people)
0,Albania,ALB,2008-01-01,155.527832
1,Algeria,DZA,2005-01-01,168.719345
2,Algeria,DZA,2017-01-01,819.342712
3,American Samoa,ASM,2002-01-01,84.631012
4,American Samoa,ASM,2003-01-01,403.334228
...,...,...,...,...
1683,Zambia,ZMB,1997-01-01,51.575352
1684,Zambia,ZMB,1998-01-01,53.514549
1685,Zambia,ZMB,1999-01-01,52.857040
1686,Zambia,ZMB,2008-01-01,41.716831
1687,Zimbabwe,ZWE,2012-01-01,99.518501

In [45]:
share_of_electric_vehicle['Year'] = pd.to_datetime(share_of_electric_vehicle['Year'], format='%Y')
share_of_electric_vehicle = share_of_electric_vehicle[(share_of_electric_vehicle['Year'] >= '1989-12-01') & (share_of_electric_vehicle['Year'] < '2019-01-01')]
share_of_electric_vehicle= share_of_electric_vehicle.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})
share_of_electric_vehicle

,Country Name,Country Code,Year,battery_electric_share,plugin_hybrid_share
0,Austria,AUT,2001-01-01,0.000000,0.000000
1,Austria,AUT,2002-01-01,0.000358,0.000000
2,Austria,AUT,2003-01-01,0.000000,0.000000
3,Austria,AUT,2004-01-01,0.000000,0.000000
4,Austria,AUT,2005-01-01,0.000000,0.000000
...,...,...,...,...,...
303,United Kingdom,GBR,2014-01-01,0.325751,0.264493
304,United Kingdom,GBR,2015-01-01,0.381773,0.698499
305,United Kingdom,GBR,2016-01-01,0.381612,1.065588
306,United Kingdom,GBR,2017-01-01,0.534358,1.378799
307,United Kingdom,GBR,2018-01-01,0.631308,1.707118

In [46]:
total_expenditure_on_education['Year'] = pd.to_datetime(total_expenditure_on_education['Year'], format='%Y')
total_expenditure_on_education = total_expenditure_on_education[(total_expenditure_on_education['Year'] >= '1989-12-01') & (total_expenditure_on_education['Year'] < '2019-01-01')]
total_expenditure_on_education= total_expenditure_on_education.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})
total_expenditure_on_education

,Country Name,Country Code,Year,"Government expenditure on education, total (% of GDP)"
8,Afghanistan,AFG,2010-01-01,3.47945
9,Afghanistan,AFG,2011-01-01,3.46201
10,Afghanistan,AFG,2013-01-01,3.45446
11,Afghanistan,AFG,2014-01-01,3.69522
12,Afghanistan,AFG,2015-01-01,3.25580
...,...,...,...,...
4590,Zimbabwe,ZWE,2014-01-01,6.13835
4591,Zimbabwe,ZWE,2015-01-01,5.81279
4592,Zimbabwe,ZWE,2016-01-01,5.47262
4593,Zimbabwe,ZWE,2017-01-01,5.38106
4594,Zimbabwe,ZWE,2018-01-01,3.58728

In [47]:
from functools import reduce
data_frames = [energy_use,
               total_expenditure_on_education, 
               share_of_electric_vehicle,
               new_vehicle, 
               researchers,
              ]
               #cross_country_literacy,]

In [48]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country Name','Country Code','Year'],
                                            how='outer'), data_frames)

# if you want to fill the values that don't exist in the lines of merged dataframe simply fill with required strings as

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country Name','Country Code','Year'],
                                            how='outer'), data_frames).fillna('void')

In [49]:
df_merged

,Country Name,Country Code,Year,Primary energy consumption per capita (kWh/person),"Government expenditure on education, total (% of GDP)",battery_electric_share,plugin_hybrid_share,battery_electric_number,plugin_hybrid_number,full_mild_hybrid_number,petrol_number,diesel_gas_number,Researchers in R&D (per million people)
0,Afghanistan,AFG,1990-01-01,2968.316,void,void,void,void,void,void,void,void,void
1,Afghanistan,AFG,1991-01-01,1293.8619,void,void,void,void,void,void,void,void,void
2,Afghanistan,AFG,1992-01-01,760.34247,void,void,void,void,void,void,void,void,void
3,Afghanistan,AFG,1993-01-01,650.20715,void,void,void,void,void,void,void,void,void
4,Afghanistan,AFG,1994-01-01,570.4033,void,void,void,void,void,void,void,void,void
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6886,Latin America and Caribbean,void,2005-01-01,void,void,void,void,void,void,void,void,void,457.092712
6887,Monaco,MCO,2005-01-01,void,void,void,void,void,void,void,void,void,295.482086
6888,South Asia,void,1996-01-01,void,void,void,void,void,void,void,void,void,152.66217
6889,Upper middle income,void,1997-01-01,void,void,void,void,void,void,void,void,void,713.869385
6890,Upper middle income,void,1998-01-01,void,void,void,void,void,void,void,void,void,656.082519

In [50]:
df_merged3 = pd.merge(df_merged2,df_merged, on=['Country Name','Country Code','Year'], how='outer')
# m_4 = pd.merge(m_4a, m_4b, on=['country', 'year'])
# combined1.to_csv('combined1.csv')
# combined1.groupby('Country Name').apply(print)
df_merged3

,Country Code,Country Name,Year,age_dependency_ratio,agricultural_land,air_transport,airline_travel,birth_rate,exports,fertility_rate,...,Primary energy consumption per capita (kWh/person),"Government expenditure on education, total (% of GDP)",battery_electric_share,plugin_hybrid_share,battery_electric_number,plugin_hybrid_number,full_mild_hybrid_number,petrol_number,diesel_gas_number,Researchers in R&D (per million people)
0,ABW,Aruba,1990-01-01,49.957783,11.111111,void,void,18.662,void,2.303,...,34868.008,void,void,void,void,void,void,void,void,void
1,AFE,Africa Eastern and Southern,1990-01-01,94.58017,44.077433,652.499998,11257400.0,44.230719,52194032768.0,6.166608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1990-01-01,98.890488,58.322984,9.4,241400.0,51.423,void,7.565,...,2968.316,void,void,void,void,void,void,void,void,void
3,AFW,Africa Western and Central,1990-01-01,94.979236,35.127197,259.900005,3551000.0,44.676194,30965147678.0,6.518278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,1990-01-01,94.863094,36.42193,39.900002,451500.0,51.344,void,7.272,...,1972.4146,void,void,void,void,void,void,void,void,void
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9513,void,High income,1997-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,void,void,void,void,void,void,void,void,void,2876.665283
9514,void,Latin America and Caribbean,2005-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,void,void,void,void,void,void,void,void,void,457.092712
9515,void,South Asia,1996-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,void,void,void,void,void,void,void,void,void,152.66217
9516,void,Upper middle income,1997-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,void,void,void,void,void,void,void,void,void,713.869385
9517,void,Upper middle income,1998-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,void,void,void,void,void,void,void,void,void,656.082519

In [51]:
combined3 = pd.merge(df_merged3,combined1, on=['Country Name','Country Code','Year'], how='outer')
combined3
#combined3.to_csv('combined3.csv')

,Country Code,Country Name,Year,age_dependency_ratio,agricultural_land,air_transport,airline_travel,birth_rate,exports,fertility_rate,...,battery_electric_share,plugin_hybrid_share,battery_electric_number,plugin_hybrid_number,full_mild_hybrid_number,petrol_number,diesel_gas_number,Researchers in R&D (per million people),population,Total including LUCF
0,ABW,Aruba,1990-01-01,49.957783,11.111111,void,void,18.662,void,2.303,...,void,void,void,void,void,void,void,void,65712.0,NaN
1,AFE,Africa Eastern and Southern,1990-01-01,94.58017,44.077433,652.499998,11257400.0,44.230719,52194032768.0,6.166608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309890664.0,NaN
2,AFG,Afghanistan,1990-01-01,98.890488,58.322984,9.4,241400.0,51.423,void,7.565,...,void,void,void,void,void,void,void,void,10694796.0,9.580000e+06
3,AFW,Africa Western and Central,1990-01-01,94.979236,35.127197,259.900005,3551000.0,44.676194,30965147678.0,6.518278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206739024.0,NaN
4,AGO,Angola,1990-01-01,94.863094,36.42193,39.900002,451500.0,51.344,void,7.272,...,void,void,void,void,void,void,void,void,11828638.0,6.616000e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10150,NaN,Upper-middle-income countries,2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.027392e+10
10151,NaN,Upper-middle-income countries,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.063235e+10
10152,VEN,Venezuela,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.996000e+08
10153,OWID_WRL,World,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.975823e+10
10154,YEM,Yemen,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.526000e+07

In [52]:
death_rate_from_air_pollution['Year'] = pd.to_datetime(death_rate_from_air_pollution['Year'], format='%Y')
death_rate_from_air_pollution= death_rate_from_air_pollution.rename(columns={'Entity': 'Country Name', 'Code': 'Country Code'})

In [53]:
combined4 = pd.merge(combined3,death_rate_from_air_pollution, on=['Country Name','Country Code','Year'], how='outer')
combined4

,Country Code,Country Name,Year,age_dependency_ratio,agricultural_land,air_transport,airline_travel,birth_rate,exports,fertility_rate,...,plugin_hybrid_share,battery_electric_number,plugin_hybrid_number,full_mild_hybrid_number,petrol_number,diesel_gas_number,Researchers in R&D (per million people),population,Total including LUCF,Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Rate)
0,ABW,Aruba,1990-01-01,49.957783,11.111111,void,void,18.662,void,2.303,...,void,void,void,void,void,void,void,65712.0,NaN,NaN
1,AFE,Africa Eastern and Southern,1990-01-01,94.58017,44.077433,652.499998,11257400.0,44.230719,52194032768.0,6.166608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309890664.0,NaN,NaN
2,AFG,Afghanistan,1990-01-01,98.890488,58.322984,9.4,241400.0,51.423,void,7.565,...,void,void,void,void,void,void,void,10694796.0,9.580000e+06,402.18
3,AFW,Africa Western and Central,1990-01-01,94.979236,35.127197,259.900005,3551000.0,44.676194,30965147678.0,6.518278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,206739024.0,NaN,NaN
4,AGO,Angola,1990-01-01,94.863094,36.42193,39.900002,451500.0,51.344,void,7.272,...,void,void,void,void,void,void,void,11828638.0,6.616000e+07,279.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10880,NaN,World Bank Upper Middle Income,2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.35
10881,NaN,World Bank Upper Middle Income,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.25
10882,NaN,World Bank Upper Middle Income,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.44
10883,NaN,World Bank Upper Middle Income,2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.43
10884,NaN,World Bank Upper Middle Income,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.76

In [55]:
combined4.to_csv('combined4.csv')

In [ ]:
combined4 = pd.read_csv('combined4.csv')
#combined4.info()

In [57]:
combined4 = pd.merge(combined3,death_rate_from_air_pollution, on=['Country Name','Country Code','Year'], how='outer')
#combined4.info()

In [ ]:
exc_ghg3.info()

In [58]:
combined7 = pd.merge(combined4,exc_ghg2, on=['Country Name','Country Code','Year'], how='outer')
combined7

In [60]:
combined7.to_csv('combined7.csv')

In [61]:
combined7_clean = combined7.dropna()

In [62]:
combined7_clean

,Country Code,Country Name,Year,age_dependency_ratio,agricultural_land,air_transport,airline_travel,birth_rate,exports,fertility_rate,...,battery_electric_number,plugin_hybrid_number,full_mild_hybrid_number,petrol_number,diesel_gas_number,Researchers in R&D (per million people),population,Total including LUCF,Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Rate),Total excluding LUCF
2,AFG,Afghanistan,1990-01-01,98.890488,58.322984,9.4,241400.0,51.423,void,7.565,...,void,void,void,void,void,void,10694796.0,9.580000e+06,402.18,1.197000e+07
4,AGO,Angola,1990-01-01,94.863094,36.42193,39.900002,451500.0,51.344,void,7.272,...,void,void,void,void,void,void,11828638.0,6.616000e+07,279.22,4.315000e+07
5,ALB,Albania,1990-01-01,62.078455,40.912409,void,void,24.415,312500000.0,2.9,...,void,void,void,void,void,void,3286542.0,1.130000e+07,146.67,1.110000e+07
8,ARE,United Arab Emirates,1990-01-01,44.331158,4.012954,145.100006,1685900.0,25.923,void,4.537,...,void,void,void,void,void,void,1900151.0,7.325000e+07,172.13,7.325000e+07
9,ARG,Argentina,1990-01-01,64.213271,46.612879,213.600006,5369100.0,21.989,14643450361.0,3.034,...,void,void,void,void,void,void,32637657.0,2.926500e+08,50.30,2.473000e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7706,VUT,Vanuatu,2018-01-01,77.12803,15.340443,1.663,374603.0,30.889,431897608.1,3.855,...,void,void,void,void,void,void,297298.0,8.600000e+05,253.63,8.600000e+05
7708,WSM,Samoa,2018-01-01,75.526073,19.845324,0.0,77811.0,28.222,280797717.1,4.109,...,void,void,void,void,void,void,209701.0,7.800000e+05,135.52,6.800000e+05
7711,ZAF,South Africa,2018-01-01,52.754906,79.41785,696.730006,24660386.0,21.137,111397000000.0,2.418,...,void,void,void,void,void,void,57339635.0,5.567200e+08,76.71,5.496500e+08
7712,ZMB,Zambia,2018-01-01,85.838977,32.063923,75.077398,16633.13894,36.04,9987196772.0,4.536,...,void,void,void,void,void,void,17835893.0,9.012000e+07,154.84,3.756000e+07
7713,ZWE,Zimbabwe,2018-01-01,82.123347,41.876696,0.665035,282539.0,32.074,8936584957.0,3.659,...,void,void,void,void,void,void,15052184.0,1.182200e+08,169.53,3.083000e+07

In [63]:
combined7_clean.isnull().sum()

Country Code                                                                                   0
Country Name                                                                                   0
Year                                                                                           0
age_dependency_ratio                                                                           0
agricultural_land                                                                              0
air_transport                                                                                  0
airline_travel                                                                                 0
birth_rate                                                                                     0
exports                                                                                        0
fertility_rate                                                                                 0
gdp_current                                                                                    0
gdp_growth                                                                                     0
labor_force                                                                                    0
life_expectancy                                                                                0
manufacturing                                                                                  0
natural_resources                                                                              0
patent_applications                                                                            0
unemployment                                                                                   0
Primary energy consumption per capita (kWh/person)                                             0
Government expenditure on education, total (% of GDP)                                          0
battery_electric_share                                                                         0
plugin_hybrid_share                                                                            0
battery_electric_number                                                                        0
plugin_hybrid_number                                                                           0
full_mild_hybrid_number                                                                        0
petrol_number                                                                                  0
diesel_gas_number                                                                              0
Researchers in R&D (per million people)                                                        0
population                                                                                     0
Total including LUCF                                                                           0
Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Rate)    0
Total excluding LUCF                                                                           0
dtype: int64

In [ ]:
combined3 = pd.merge(total_expenditure_on_education,share_of_electric_vehicle,researchers,new_vehicle, on=['Country Name','Country Code','Year'], how='outer')
# m_4 = pd.merge(m_4a, m_4b, on=['country', 'year'])
combined3

In [ ]:
share_of_electric_vehicle

In [ ]:
new_vehicle